Repository MicrosoftDocs/sql-docs, pull requests merged in 2018-12, with the labels that each got.

#1290 Update enable-kerberos.md
  docs/azure-data-studio/enable-kerberos.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1370 Fix typo, remove version of SSDT
  docs/linux/sql-server-linux-develop-use-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1327 IAM, PFS usage during insertion on an Index Structure
  docs/relational-databases/pages-and-extents-architecture-guide.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1376 Typo
  docs/reporting-services/create-a-data-driven-subscription-ssrs-tutorial.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#1353 AzureRM version to get StorageContainerSASToken
  docs/relational-databases/backup-restore/enable-sql-server-managed-backup-to-microsoft-azure.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1315 Fix bug in the linux doc
  docs/linux/sql-server-linux-encrypted-connections.md
Labels: Change sent to author, do-not-merge, sql/prod

#1366 Changed example C for CURRENT_USER to match result
  docs/t-sql/functions/current-user-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1367 TRANSLATE vs REPLACE
  docs/t-sql/functions/translate-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1384 Fixed link in what-is-sql-server-machine-learning.md
  docs/advanced-analytics/what-is-sql-server-machine-learning.md
Labels: Change sent to author, do-not-merge, sql/prod

#1385 cleanup
  docs/analysis-services/tabular-models/directquery-mode-ssas-tabular.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1386 Update alter-availability-group-transact-sql.md
  docs/t-sql/statements/alter-availability-group-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1380 add notes for using File Table
  docs/relational-databases/databases/use-the-copy-database-wizard.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1395 Update sql-server-linux-whats-new.md
  docs/linux/sql-server-linux-whats-new.md
Labels: Change sent to author, do-not-merge, sql/prod

#1374 Fix wait_stats_mode_capture_desc
  docs/relational-databases/system-catalog-views/sys-database-query-store-options-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1362 SSDT Offline Layout when using a full version of Visual Studio 2017
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1383 Remove reference to SQL Server 2012
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1394 Update sp-trace-setevent-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-trace-setevent-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1397 Update known-issues-for-sql-server-machine-learning-services.md
  docs/advanced-analytics/known-issues-for-sql-server-machine-learning-services.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1399 Clarify definition syntax.
  docs/t-sql/statements/create-type-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1393 Updating docs to document the required (for now) 'timeout' param
  docs/big-data-cluster/tutorial-data-pool-ingest-spark.md
Labels: Change sent to author, do-not-merge, sql/prod

#1410 Fix incorrect syntax LOB_COMPACTION
  docs/t-sql/statements/alter-index-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1403 Syntax error in one example due to two consecutive commas
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1402 Extra "```sql" inside a "```sql" block
  docs/t-sql/statements/alter-index-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1401 Fix SQL example with incorrect syntax
  docs/t-sql/statements/drop-schema-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1411 Extra Note on Tools enhancements\Management Studio
  docs/database-engine/whats-new-in-sql-server-2016.md
Labels: Change sent to author, do-not-merge, sql/prod

#1408 Fix not closed sub-query
  docs/t-sql/functions/string-split-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1404 Fix syntax error in example and fix queries
  docs/t-sql/functions/sysdatetimeoffset-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1407 Fix invalid column alias and discrepancies with result
  docs/t-sql/functions/sysutcdatetime-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1406 Fix syntax error due to a terminal '.'
  docs/t-sql/functions/encryptbykey-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1413 CTP2.2 update for container image
  docs/linux/sql-server-linux-configure-docker.md
Labels: Change sent to author, do-not-merge, sql/prod

#1414 updating for CTP2.2
  docs/linux/quickstart-install-connect-docker.md
Labels: Change sent to author, do-not-merge, sql/prod

#1415 Event session inconsistency
  docs/database-engine/availability-groups/windows/automatic-seeding-secondary-replicas.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1419 Update set-transaction-isolation-level-transact-sql.md
  docs/t-sql/statements/set-transaction-isolation-level-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1412 Clarify version scenario
  docs/database-engine/availability-groups/windows/distributed-availability-groups.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1423 Update ssis-catalog.md
  docs/integration-services/catalog/ssis-catalog.md
Labels: Change sent to author, do-not-merge, sql/prod

#1444 Add missing open square bracket in example.
  docs/t-sql/statements/update-statistics-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1438 Update create-index-transact-sql.md
  docs/t-sql/statements/create-index-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1443 CC88812: Fixing link to SQL Server data Tools
  docs/integration-services/lesson-1-1-creating-a-new-integration-services-project.md
Labels: Change sent to author, do-not-merge, sql/prod

#1418 Swap failure diagrams
  docs/linux/tutorial-sql-server-containers-kubernetes.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1426 Corrected path to application
  docs/database-engine/configure-windows/database-engine-service-startup-options.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1439 Add coding language
  docs/relational-databases/security/sql-injection.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1446 adding missing unique property
  docs/analysis-services/tabular-models/column-properties-ssas-tabular.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1450 fix a link
  docs/t-sql/statements/alter-database-transact-sql-compatibility-level.md
Labels: Change sent to author, do-not-merge, sql/prod

#1378 Update AUTOMATIC FAILOVER_MODE for 2016+
  docs/t-sql/statements/alter-availability-group-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1454 Corrected key of Deployment Server Version
  docs/analysis-services/multidimensional-models/configure-analysis-services-project-properties-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1455 Changing HTML entitiy (&#39;) to character (')
  docs/ado/guide/ado-programmer-s-guide.md
Labels: Change sent to author, do-not-merge, sql/prod

#1456 Update sys-dm-db-page-info-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-page-info-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1417 Add performance setting 'Enable performance improvement setting'
  docs/master-data-services/system-settings-master-data-services.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1459 typo: scenarions -> scenario
  docs/2014/relational-databases/replication/agents/replication-snapshot-agent.md
  docs/relational-databases/replication/agents/replication-snapshot-agent.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1461 typo: udpated -> updated
  docs/2014/snippets/tsql/SQL15/tsql/filestream/cpp/filestream.cpp
  docs/relational-databases/blob/codesnippet/cpp/make-partial-updates-to-_1.cpp
Labels: Change sent to author, ready-to-merge

#1436 change history deleted
  docs/relational-databases/system-dynamic-management-views/sys-dm-xe-sessions-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1428 Columns data types changed
  docs/relational-databases/system-dynamic-management-views/sys-dm-xe-object-columns-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1429 Fields data types
  docs/relational-databases/system-dynamic-management-views/sys-dm-xe-map-values-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1431 Correct data types
  docs/relational-databases/system-dynamic-management-views/sys-dm-xe-packages-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1432 columns type length change/ change history deleted
  docs/relational-databases/system-dynamic-management-views/sys-dm-xe-session-event-actions-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1433 style changed, data type length changed
  docs/relational-databases/system-dynamic-management-views/sys-dm-xe-session-events-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1434 Syntax changed
  docs/relational-databases/system-dynamic-management-views/sys-dm-xe-session-event-actions-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1435 column types changed, syntax changed
  docs/relational-databases/system-dynamic-management-views/sys-dm-xe-session-object-columns-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1460 typo: succesfully -> successfully
  docs/2014/snippets/tsql/SQL15/tsql/filestream/cpp/filestream.cpp
  docs/linux/sql-server-linux-shared-disk-cluster-red-hat-7-configure.md
  docs/relational-databases/backup-restore/sql-server-backup-to-url.md
  docs/relational-databases/blob/codesnippet/cpp/make-partial-updates-to-_1.cpp
Labels: Change sent to author, Ready to merge, sql/prod

#1470 add SQL formatting
  docs/t-sql/statements/merge-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1471 typo: Cleanup additional common issues
  docs/2014/integration-services/dqs-cleansing-transformation-editor-dialog-box.md
  docs/2014/relational-databases/clr-integration-database-objects-user-defined-functions/clr-table-valued-functions.md
  docs/2014/relational-databases/database-mail/create-a-database-mail-profile.md
  docs/2014/relational-databases/event-classes/lock-escalation-event-class.md
  docs/2014/relational-databases/native-client/features/service-principal-name-spn-support-in-client-connections.md
  docs/2014/relational-databases/security/auditing/create-a-server-audit-and-server-audit-specification.md
  docs/2014/relational-databases/server-management-objects-smo/create-program/working-with-data-types.md
  docs/2014/relational-databases/server-management-objects-smo/tasks/implementing-full-text-search.md
  docs/2014/snippets/cpp/SQL15/smo/smo how to/vbnet/smo_vbdatatypes1.vb
  docs/2014/snippets/cpp/SQL15/smo/smo how to/vbnet/smo_vbfts1.vb
  docs/2014/snippets/csharp/SQL14/smo/smo how to/vbnet/smo_vbdatatypes1.vb
  docs/2014/snippets/csharp/SQL14/smo/smo how to/vbnet/smo_vbfts1.vb
  docs/2014/snippets/csharp/SQL15/smo/smo how to/vbnet/smo_vbdatatypes1.vb
  docs/2014/snippets/csharp/SQL15/smo/smo how to/vbnet/smo_vbfts1.vb
  docs/2014/snippets/tsql/SQL14/smo/smo how to/vbnet/smo_vbdatatypes1.vb
  docs/2014/snippets/tsql/SQL14/smo/smo how to/vbnet/smo_vbfts1.vb
  docs/2014/snippets/tsql/SQL15/smo/smo how to/vbnet/smo_vbdatatypes1.vb
  docs/2014/snippets/tsql/SQL15/smo/smo how to/vbnet/smo_vbfts1.vb
  docs/2014/snippets/visualbasic/SQL15/smo/smo how to/vbnet/smo_vbdatatypes1.vb
  docs/2014/snippets/visualbasic/SQL15/smo/smo how to/vbnet/smo_vbfts1.vb
  docs/2014/snippets/xml/SQL14/smo/smo how to/vbnet/smo_vbdatatypes1.vb
  docs/2014/snippets/xml/SQL14/smo/smo how to/vbnet/smo_vbfts1.vb
  docs/connect/oledb/features/service-principal-name-spn-support-in-client-connections.md
  docs/integration-services/data-flow/transformations/dqs-cleansing-transformation.md
  docs/relational-databases/clr-integration-database-objects-user-defined-functions/clr-table-valued-functions.md
  docs/relational-databases/database-mail/create-a-database-mail-profile.md
  docs/relational-databases/event-classes/lock-escalation-event-class.md
  docs/relational-databases/indexes/enable-indexes-and-constraints.md
  docs/relational-databases/native-client/features/service-principal-name-spn-support-in-client-connections.md
  docs/relational-databases/security/auditing/create-a-server-audit-and-server-audit-specification.md
  docs/relational-databases/server-management-objects-smo/create-program/working-with-data-types.md
  docs/relational-databases/server-management-objects-smo/tasks/implementing-full-text-search.md
  docs/relational-databases/system-catalog-views/sys-sensitivity-classifications-transact-sql.md
  docs/relational-databases/system-functions/sys-fn-get-audit-file-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1451 Update sys-dm-io-pending-io-requests-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-io-pending-io-requests-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1475 List Verbage Change
  docs/t-sql/functions/datalength-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod
