Repository MicrosoftDocs/sql-docs, pull requests merged in 2018-10, with the labels that each got.

#1015 Updating blog url for SSISDB on AG
  docs/integration-services/catalog/ssis-catalog.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1016 folder missing in in file-path
  docs/advanced-analytics/r/use-r-package-managers-on-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1018 Reference correct section-title
  docs/t-sql/statements/create-function-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#997 Updated sys-dm-os-wait-stats-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-os-wait-stats-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#985 Update sp-execute-external-script-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-execute-external-script-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1020 Updated ssms-tricks readme
  docs/ssms/tutorials/ssms-tricks.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1017 Create Linked Servers after adding a replica
  docs/relational-databases/replication/configure-distribution-availability-group.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1006 Update configure-a-report-server-on-a-network-load-balancing-cluster.md
  docs/reporting-services/report-server/configure-a-report-server-on-a-network-load-balancing-cluster.md
Labels: Change sent to author, ready-to-merge, reporting-services/prod

#1021 updated link to sqlcmd for 2014
  docs/tools/sqlcmd-utility.md
Labels: Change sent to author, do-not-merge, sql/prod

#1024 corrections to point to MCR
  docs/linux/quickstart-install-connect-docker.md
Labels: Change sent to author, do-not-merge, sql/prod

#1027 Update availability-group-lease-healthcheck-timeout.md
  docs/database-engine/availability-groups/windows/availability-group-lease-healthcheck-timeout.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1025 you do not intent -> you do not intend
  docs/database-engine/database-mirroring/remove-database-mirroring-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod

#1029 fix grammar error by removing comma
  docs/relational-databases/partitions/partitioned-tables-and-indexes.md
Labels: Change sent to author, do-not-merge, sql/prod

#1030 Update quickstart-install-connect-docker.md
  docs/linux/quickstart-install-connect-docker.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1032 table_name used similar to database_name and schema_name
  docs/t-sql/statements/set-identity-insert-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1031 Add SQL Syntax Highlighting for Insert/Delete statement docs.
  docs/t-sql/statements/delete-transact-sql.md
  docs/t-sql/statements/insert-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1039 Fix a typo
  docs/linux/sql-server-linux-setup-machine-learning.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1037 Corrects a typo: sever -> server
  docs/2014/relational-databases/security/contained-database-users-making-your-database-portable.md
  docs/2014/reporting-services/install-windows/install-reporting-services-native-mode-report-server.md
  docs/2014/reporting-services/install-windows/upgrade-a-report-server-database.md
  docs/2014/reporting-services/security/extended-protection-for-authentication-with-reporting-services.md
  docs/analysis-services/tabular-models-scripting-language-objects/tmsl-reference-tabular-objects.md
  docs/database-engine/install-windows/install-sql-server-from-the-command-prompt.md
  docs/includes/sql-server-ha-story.md
  docs/reporting-services/security/extended-protection-for-authentication-with-reporting-services.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#1038 Correct Lock Timeout behavior
  docs/relational-databases/system-stored-procedures/sp-getapplock-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1040 Change terminology to "big data cluster"
  docs/big-data-cluster/deployment-guidance.md
Labels: Change sent to author, do-not-merge, sql/prod

#1013 Add missing option to command
  docs/linux/sql-server-linux-kubernetes-deploy.md
Labels: Change sent to author, do-not-merge, sql/prod

#1042 Clarify that encryption is bi-directional
  docs/relational-databases/security/sql-server-certificates-and-asymmetric-keys.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1023 Updated examples for granting-revoking-and-denying-permissions.md with code highlight
  docs/relational-databases/server-management-objects-smo/tasks/granting-revoking-and-denying-permissions.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1036 Add note about installing LocalDB with Visual Studio
  docs/database-engine/configure-windows/sql-server-2016-express-localdb.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1045 Minor improvement in README file
  ReadMe.md
Labels: Change sent to author, ready-to-merge

#1026 Update understanding-xa-transactions.md
  docs/connect/jdbc/understanding-xa-transactions.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1034 Determinism requirements list changed from any to all
  docs/relational-databases/indexes/indexes-on-computed-columns.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1043 Improved one sentence
  docs/linux/sql-server-linux-faq.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1048 Fixed minor typo on Line 135
  docs/relational-databases/native-client-odbc-date-time/data-type-support-for-odbc-date-and-time-improvements.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1049 Add comma to column constraint list
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#976 Add BusinessRuleUserScriptExecuteFirst setting information
  docs/master-data-services/system-settings-master-data-services.md
Labels: Change sent to author, do-not-merge, sql/prod

#1041 Remove PKI acronym
  docs/relational-databases/security/sql-server-certificates-and-asymmetric-keys.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1046 Update sql-server-linux-management-overview.md
  docs/linux/sql-server-linux-management-overview.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1051 Modify "System Metadata" section
  docs/sql-server/sql-server-privacy.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1050 Update lesson-2-configuring-permissions-on-database-objects.md
  docs/t-sql/lesson-2-configuring-permissions-on-database-objects.md
Labels: Change sent to author, do-not-merge, sql/prod

#1052 Minor language edits for readbility + t-shooting
  docs/database-engine/availability-groups/windows/failover-and-failover-modes-always-on-availability-groups.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1059 Multiple table constraints
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1056 Added structure to the CHOOSE command and corrected 'quarter' to 'sea…
  docs/t-sql/functions/logical-functions-choose-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1053 typo: Widows -> Windows
  docs/2014/database-engine/configure-windows/configure-a-windows-firewall-for-database-engine-access.md
  docs/2014/sql-server/failover-clusters/windows/upgrade-a-sql-server-failover-cluster-instance-setup.md
  docs/database-engine/configure-windows/configure-a-windows-firewall-for-database-engine-access.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1060 Add SQL Syntax Highlighting for TSQL From/Select query docs.
  docs/t-sql/queries/from-using-pivot-and-unpivot.md
  docs/t-sql/queries/select-examples-transact-sql.md
  docs/t-sql/queries/select-for-clause-transact-sql.md
  docs/t-sql/queries/select-group-by-transact-sql.md
  docs/t-sql/queries/select-having-transact-sql.md
  docs/t-sql/queries/select-order-by-clause-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1078 typo: Double word "have"
  docs/relational-databases/system-functions/sys-fn-all-changes-capture-instance-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1077 typo: Double word "on"
  docs/azure-data-studio/release-notes.md
  docs/relational-databases/system-functions/sys-fn-cdc-get-column-ordinal-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1075 typo: Double word "more"
  docs/2014/relational-databases/triggers/ddl-triggers.md
  docs/relational-databases/triggers/ddl-triggers.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1063 typo: Double word "displays"
  docs/tools/dta/lesson-1-basic-navigation-in-database-engine-tuning-advisor.md
Labels: Change sent to author, do-not-merge, sql/prod

#1065 typo: Double word "example"
  docs/t-sql/queries/at-time-zone-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1067 typo: Double word "text"
  docs/t-sql/functions/certprivatekey-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1079 typo: Double word "through"
  docs/relational-databases/system-dynamic-management-views/sys-dm-server-services-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1083 typo: Double word "this"
  docs/2014/relational-databases/database-mail/create-a-database-mail-profile.md
  docs/2014/snippets/csharp/SQL15/syncplatform/syncplatformhowto/cs/ocs_cs_conflicts.cs
  docs/2014/snippets/visualbasic/SQL15/syncplatform/syncplatformhowto/vb/ocs_vb_conflicts.vb
  docs/relational-databases/database-mail/create-a-database-mail-profile.md
Labels: Change sent to author, do-not-merge, sql/prod

#1084 typo: Double word "database"
  docs/2014/integration-services/cdc-control-task-editor.md
  docs/integration-services/control-flow/cdc-control-task.md
  docs/relational-databases/backup-restore/sql-server-backup-to-url.md
Labels: Change sent to author, do-not-merge, sql/prod

#1085 typo: Double word "than"
  docs/mdx/comparison-operators.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1086 typo: widow -> window
  docs/2014/database-engine/configure-windows/scm-services-connect-to-another-computer.md
  docs/database-engine/configure-windows/scm-services-connect-to-another-computer.md
Labels: Change sent to author, do-not-merge, sql/prod

#1087 typo: Internet Information Services
  docs/master-data-services/master-data-services-installation-and-configuration.md
Labels: Change sent to author, do-not-merge, sql/prod

#1091 typo: Double word "you"
  docs/big-data-cluster/quickstart-big-data-cluster-deploy.md
  docs/relational-databases/system-stored-procedures/sp-changemergepublication-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1066 typo: Double word "with"
  docs/relational-databases/performance/database-engine-tuning-advisor.md
  docs/t-sql/statements/alter-table-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1072 typo: Double word "not"
  docs/2014/relational-databases/native-client-ole-db-how-to/results/execute-a-user-defined-function-and-process-return-code-ole-db.md
  docs/connect/oledb/ole-db-how-to/results/execute-a-user-defined-function-and-process-return-code-ole-db.md
  docs/relational-databases/native-client-ole-db-how-to/results/execute-a-user-defined-function-and-process-return-code-ole-db.md
  docs/sql-server/install/hardware-and-software-requirements-for-installing-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1081 typo: Double word "for"
  docs/2014/relational-databases/native-client-ole-db-data-types/ssvariant-structure.md
  docs/advanced-analytics/r/creating-multiple-models-using-rxexecby.md
  docs/connect/oledb/ole-db-data-types/ssvariant-structure.md
  docs/includes/ss-linux-cluster-pacemaker-configure-sles.md
  docs/linux/sql-server-linux-shared-disk-cluster-configure.md
  docs/linux/sql-server-linux-shared-disk-cluster-red-hat-7-configure.md
  docs/linux/sql-server-linux-shared-disk-cluster-red-hat-7-operate.md
  docs/relational-databases/native-client-ole-db-data-types/ssvariant-structure.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1088 typo: Double word "option"
  docs/2014/integration-services/data-flow/create-infosource-for-master-data.md
  docs/integration-services/data-flow/create-infosource-for-master-data.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1089 typo: Double word "from"
  docs/2014/integration-services/control-flow/incorporate-a-data-profiling-task-in-package-workflow.md
  docs/connect/jdbc/reference/setlastupdatecount-method-sqlserverdatasource.md
  docs/integration-services/control-flow/incorporate-a-data-profiling-task-in-package-workflow.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1090 typo: Double word "see"
  docs/2014/database-engine/availability-groups/windows/configure-backup-on-availability-replicas-sql-server.md
  docs/database-engine/availability-groups/windows/configure-backup-on-availability-replicas-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1092 typo: Double word "by"
  docs/2014/analysis-services/data-mining/drillthrough-on-mining-models.md
  docs/analysis-services/data-mining/drillthrough-on-mining-models.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1093 typo: Double word "models"
  docs/advanced-analytics/r/creating-multiple-models-using-rxexecby.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1094 typo: Double word "command"
  docs/ado/reference/ado-api/nextrecordset-method-ado.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1095 typo: Double word "any"
  docs/2014/tutorials/exploring-the-sequence-clustering-model-intermediate-data-mining-tutorial.md
Labels: Change sent to author, ready-to-merge, sql-server-2014/prod

#1096 Typo - "earch" -> "search"
  docs/reporting-services/install-windows/reporting-services-configuration-manager-native-mode.md
Labels: Change sent to author, ready-to-merge, reporting-services/prod

#1097 CC74213: Typo
  docs/t-sql/data-types/rowversion-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1074 typo: Double word "and"
  docs/2014/relational-databases/scripting/automatic-matching-of-syntax-pairs.md
  docs/2014/relational-databases/triggers/modify-or-rename-dml-triggers.md
  docs/relational-databases/scripting/automatic-matching-of-syntax-pairs.md
  docs/relational-databases/triggers/modify-or-rename-dml-triggers.md
  docs/reporting-services/mobile-reports/add-drillthrough-from-a-mobile-report-to-other-mobile-reports-or-urls.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#1064 typo: Double word "a"
  docs/ado/reference/ado-api/source-property-example-vc.md
  docs/analytics-platform-system/workload-management.md
  docs/relational-databases/errors-events/database-engine-events-and-errors.md
  docs/t-sql/statements/create-database-transact-sql.md
  docs/t-sql/statements/insert-transact-sql.md
Labels: do-not-merge

#1099 Grammatical changes to dma-overview.md
  docs/dma/dma-overview.md
Labels: Change sent to author, do-not-merge, sql/prod

#1108 Update the tip on how to configure the number of replicas
  docs/big-data-cluster/deploy-on-minikube.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1100 typo: Double word "a"
  docs/t-sql/statements/create-table-azure-sql-data-warehouse.md
Labels: Change sent to author, ready-to-merge

#1101 typo: Double word "that"
  docs/2014/analysis-services/data-mining/microsoft-association-algorithm.md
  docs/2014/analysis-services/data-mining/mining-model-content-for-linear-regression-models-analysis-services-data-mining.md
  docs/2014/data-quality-services/backing-up-and-restoring-dqs-databases.md
  docs/2014/database-engine/availability-groups/windows/create-or-configure-an-availability-group-listener-sql-server.md
  docs/2014/database-engine/availability-groups/windows/enable-and-disable-always-on-availability-groups-sql-server.md
  docs/2014/database-engine/availability-groups/windows/perform-a-forced-manual-failover-of-an-availability-group-sql-server.md
  docs/2014/database-engine/availability-groups/windows/reporting-services-with-always-on-availability-groups-sql-server.md
  docs/2014/database-engine/availability-groups/windows/use-the-always-on-dashboard-sql-server-management-studio.md
  docs/2014/database-engine/configure-windows/connect-to-sql-server-when-system-administrators-are-locked-out.md
  docs/2014/database-engine/modify-the-trace-results-view.md
  docs/2014/database-engine/troubleshooting-sql-server-managed-backup-to-windows-azure.md
  docs/2014/database-engine/view-event-session-data.md
  docs/2014/integration-services/change-data-capture/specify-an-interval-of-change-data.md
  docs/2014/integration-services/connection-manager/wmi-connection-manager.md
  docs/2014/integration-services/data-flow/cdc-flow-components.md
  docs/2014/relational-databases/clr-integration-database-objects-user-defined-types/creating-user-defined-types-requirements.md
  docs/2014/relational-databases/extended-events/sql-server-extended-events-sessions.md
  docs/2014/relational-databases/in-memory-oltp/configuring-storage-for-memory-optimized-tables.md
  docs/2014/relational-databases/linked-servers/create-linked-servers-sql-server-database-engine.md
  docs/2014/relational-databases/tables/primary-and-foreign-key-constraints.md
  docs/2014/reporting-services/data-alert-designer.md
  docs/2014/reporting-services/report-server-web-service/methods/report-server-web-service-endpoints.md
  docs/2014/reporting-services/report-server/report-and-snapshot-size-limits.md
  docs/2014/reporting-services/tools/server-properties-advanced-page-reporting-services.md
  docs/2014/ssms/agent/create-a-cmdexec-job-step.md
  docs/2014/ssms/agent/create-a-transact-sql-job-step.md
  docs/2014/ssms/solution/miscellaneous-files.md
  docs/2014/tutorials/task-4-manaing-and-viewing-results.md
  docs/analysis-services/data-mining/mining-model-content-for-linear-regression-models-analysis-services-data-mining.md
  docs/data-quality-services/backing-up-and-restoring-dqs-databases.md
  docs/database-engine/availability-groups/windows/create-or-configure-an-availability-group-listener-sql-server.md
  docs/database-engine/availability-groups/windows/enable-and-disable-always-on-availability-groups-sql-server.md
  docs/database-engine/availability-groups/windows/perform-a-forced-manual-failover-of-an-availability-group-sql-server.md
  docs/database-engine/availability-groups/windows/reporting-services-with-always-on-availability-groups-sql-server.md
  docs/database-engine/configure-windows/connect-to-sql-server-when-system-administrators-are-locked-out.md
  docs/integration-services/change-data-capture/specify-an-interval-of-change-data.md
  docs/integration-services/connection-manager/wmi-connection-manager.md
  docs/mdx/exists-mdx.md
  docs/relational-databases/clr-integration-database-objects-user-defined-types/creating-user-defined-types-requirements.md
  docs/relational-databases/extended-events/sql-server-extended-events-sessions.md
  docs/relational-databases/linked-servers/create-linked-servers-sql-server-database-engine.md
  docs/reporting-services/data-alert-designer.md
  docs/reporting-services/report-server-web-service/methods/report-server-web-service-endpoints.md
  docs/reporting-services/report-server/report-and-snapshot-size-limits.md
  docs/reporting-services/tools/server-properties-advanced-page-reporting-services.md
  docs/sql-server/failover-clusters/windows/windows-server-failover-clustering-wsfc-with-sql-server.md
  docs/ssms/agent/create-a-cmdexec-job-step.md
  docs/ssms/agent/create-a-transact-sql-job-step.md
  docs/ssms/solution/miscellaneous-files.md
  docs/t-sql/statements/create-trigger-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1116 When connecting to a primary replica, data for secondaly may not be current
  docs/database-engine/availability-groups/windows/use-the-always-on-dashboard-sql-server-management-studio.md
Labels: ready-to-merge

#1109 chore: Add code fence langs for syntax highlighting
  docs/xquery/xml-construction-xquery.md
  docs/xquery/xqueries-involving-hierarchy.md
  docs/xquery/xqueries-involving-order.md
  docs/xquery/xquery-extension-functions-sql-column.md
  docs/xquery/xquery-extension-functions-sql-variable.md
  docs/xquery/xquery-language-reference-sql-server.md
  docs/xquery/xquery-operators-against-the-xml-data-type.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1110 Grammatical Fixes to hardware-components.md file
  docs/analytics-platform-system/hardware-components.md
Labels: Change sent to author, do-not-merge, sql/prod

#1111 Update sp-update-job-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-update-job-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1114 Added a missing space on 'View the size of a sparse file...'
  docs/relational-databases/databases/view-the-size-of-the-sparse-file-of-a-database-snapshot-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1115 fix typo
  docs/sql-server/what-s-new-in-sql-server-2017.md
Labels: Change sent to author, do-not-merge, sql/prod

#1113 Fixes a link and code style annotation
  docs/t-sql/functions/update-trigger-functions-transact-sql.md
  docs/t-sql/statements/create-trigger-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1061 Update sql-server-management-studio-changelog-ssms.md
  docs/ssms/sql-server-management-studio-changelog-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod

#1124 Update sql-data-types.md
  docs/odbc/reference/appendixes/sql-data-types.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1125 fix typo
  docs/relational-databases/tables/querying-data-in-a-system-versioned-temporal-table.md
Labels: Change sent to author, do-not-merge, sql/prod

#1118 typo: Double word "clustered"
  docs/t-sql/statements/create-columnstore-index-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1119 typo: Double word "test"
  docs/ssdt/how-to-create-a-test-project-for-sql-server-database-unit-testing.md
Labels: Change sent to author, do-not-merge, sql/prod

#1120 typo: Double word "capture"
  docs/relational-databases/system-tables/cdc-capture-instance-ct-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1123 Correct parameter info
  docs/integration-services/system-stored-procedures/catalog-create-customized-logging-level.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1121 Update output-clause-transact-sql.md
  docs/t-sql/queries/output-clause-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1122 Update sql-server-ag-kubernetes.md
  docs/linux/sql-server-ag-kubernetes.md
Labels: Change sent to author, do-not-merge, sql/prod

#1058 Add Index to ReadMe
  ReadMe.md
Labels: Change sent to author, ready-to-merge

#1126 Direct readers to SSMS page after introduction
  docs/relational-databases/databases/databases.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1127 Change release note for SSDT 15.8.1
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1057 Update implementing-lob-columns-in-a-memory-optimized-table.md
  docs/2014/database-engine/implementing-lob-columns-in-a-memory-optimized-table.md
Labels: Change sent to author, ready-to-merge, sql-server-2014/prod

#1128 Update sql-server-linux-availability-group-cluster-sles.md
  docs/linux/sql-server-linux-availability-group-cluster-sles.md
Labels: Change sent to author, do-not-merge, sql/prod

#1062 Update code-snippets.md - fix example code
  docs/azure-data-studio/code-snippets.md
Labels: Change sent to author, do-not-merge, sql/prod

#1130 Update automatic-page-repair-availability-groups-database-mirroring.md
  docs/sql-server/failover-clusters/automatic-page-repair-availability-groups-database-mirroring.md
Labels: Change sent to author, do-not-merge, sql/prod

#1136 Update concept-data-persistence.md
  docs/big-data-cluster/concept-data-persistence.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1138 Update create-trigger-transact-sql.md
  docs/t-sql/statements/create-trigger-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1137 typo in line 65
  docs/relational-databases/stored-procedures/execute-a-stored-procedure.md
Labels: Change sent to author, do-not-merge, sql/prod

#1143 fix: Remove double open brace links
  docs/2014/analysis-services/lesson-5-4-defining-dimension-granularity-within-a-measure-group.md
  docs/2014/database-engine/availability-groups/windows/monitor-availability-groups-transact-sql.md
  docs/2014/database-engine/behavior-changes-to-full-text-search.md
  docs/2014/database-engine/breaking-changes-to-full-text-search.md
  docs/2014/integration-services/data-flow/transformations/aggregate-values-in-a-dataset-by-using-the-aggregate-transformation.md
  docs/2014/integration-services/data-flow/transformations/convert-data-type-by-using-data-conversion-transformation.md
  docs/2014/integration-services/data-flow/transformations/derive-column-values-by-using-the-derived-column-transformation.md
  docs/2014/integration-services/data-flow/transformations/extend-a-dataset-by-using-the-merge-join-transformation.md
  docs/2014/integration-services/data-flow/transformations/identify-similar-data-rows-by-using-the-fuzzy-grouping-transformation.md
  docs/2014/integration-services/data-flow/transformations/merge-data-by-using-the-union-all-transformation.md
  docs/2014/integration-services/data-flow/transformations/sort-data-for-the-merge-and-merge-join-transformations.md
  docs/2014/integration-services/data-flow/transformations/split-a-dataset-by-using-the-conditional-split-transformation.md
  docs/2014/integration-services/extending-packages-scripting/data-flow-script-component/coding-and-debugging-the-script-component.md
  docs/2014/integration-services/extending-packages-scripting/data-flow-script-component/configuring-the-script-component-in-the-script-component-editor.md
  docs/2014/integration-services/extending-packages-scripting/data-flow-script-component/connecting-to-data-sources-in-the-script-component.md
  docs/2014/integration-services/extending-packages-scripting/data-flow-script-component/understanding-the-script-component-object-model.md
  docs/2014/integration-services/extending-packages-scripting/data-flow-script-component/using-variables-in-the-script-component.md
  docs/2014/relational-databases/databases/contained-databases.md
  docs/2014/tutorials/bike-buyer-dmx-tutorial.md
  docs/2014/tutorials/lesson-2-adding-mining-models-to-the-bike-buyer-mining-structure.md
  docs/2014/tutorials/lesson-2-adding-mining-models-to-the-market-basket-mining-structure.md
  docs/2014/tutorials/lesson-2-adding-mining-models-to-the-time-series-mining-structure.md
  docs/2014/tutorials/market-basket-dmx-tutorial.md
  docs/t-sql/statements/create-login-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1140 chore: Remove en-us from docs.microsoft.com links
  .openpublishing.redirection.json
  contributor-guide/templates/tutorial-template-annotated-example.md
  contributor-guide/templates/tutorial-template.md
  docs/2014/integration-services/azure-data-lake-store-connection-manager.md
  docs/2014/integration-services/azure-resource-manager-connection-manager.md
  docs/analytics-platform-system/whats-new-analytics-platform-system.md
  docs/azure-data-studio/extensibility.md
  docs/azure-data-studio/sql-server-import-extension.md
  docs/big-data-cluster/concept-controller.md
  docs/big-data-cluster/concept-data-persistence.md
  docs/big-data-cluster/deploy-on-aks.md
  docs/big-data-cluster/deployment-guidance.md
  docs/big-data-cluster/spark-history-server.md
  docs/connect/jdbc/use-spatial-datatypes.md
  docs/connect/php/connection-resiliency.md
  docs/connect/php/system-requirements-for-the-php-sql-driver.md
  docs/database-engine/install-windows/install-sql-server-from-the-installation-wizard-setup.md
  docs/includes/gdpr-hybrid-note.md
  docs/includes/ss-availability-group-rs-prereq.md
  docs/includes/ss-force-failover-read-scale-out.md
  docs/linux/sql-server-linux-kubernetes-deploy.md
  docs/odbc/reference/appendixes/retrieve-numeric-data-sql-numeric-struct-kb222831.md
  docs/relational-databases/replication/toc.yml
  docs/relational-databases/security/tutorial-getting-started-with-always-encrypted-enclaves.md
  docs/reporting-services/install-windows/claims-to-windows-token-service-c2wts-and-reporting-services.md
  docs/sql-server/sql-server-docs-contribute.md
  docs/sql-server/sql-server-help-installation.md
  docs/sql-server/what-s-new-in-sql-server-ver15.md
  docs/t-sql/statements/create-external-data-source-transact-sql.md
  docs/t-sql/statements/create-table-transact-sql.md
  docs/tools/sqlcmd-utility.md
Labels: Change sent to author, do-not-merge, sql/prod

#1141 chore: Remove en-in from SharePoint licensing link
  docs/2014/sql-server/install/example-license-topologies-costs-self-service-business-intelligence.md
Labels: Change sent to author, ready-to-merge, sql-server-2014/prod

#1145 Remove vs.texteditor F1 keyword
  docs/relational-databases/scripting/query-and-text-editors-sql-server-management-studio.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1132 Correct sys.periods table column description
  docs/relational-databases/system-catalog-views/sys-periods-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1135 Minor Change - Removing erroneous space in example
  docs/relational-databases/backup-restore/disable-sql-server-managed-backup-to-microsoft-azure.md
Labels: Change sent to author, do-not-merge, sql/prod

#1150 Pull READ_COMMITTED_SNAPSHOT ON out of note
  docs/t-sql/statements/set-transaction-isolation-level-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1154 Remove suggestion to use email to transfer a db
  docs/relational-databases/databases/move-a-database-using-detach-and-attach-transact-sql.md
Labels: ready-to-merge

#1148 fix: Unclosed ~/ links
  docs/2014/database-engine/configure-windows/remote-servers.md
  docs/2014/relational-databases/extended-events/monitor-system-activity-using-extended-events.md
  docs/2014/relational-databases/performance/considerations-for-using-test-servers.md
  docs/2014/relational-databases/performance/database-engine-tuning-advisor.md
  docs/integration-services/extending-packages-scripting-data-flow-script-component-types/creating-a-synchronous-transformation-with-the-script-component.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1151 Typo fix
  docs/relational-databases/import-export/humanresources-myteam-sample-table-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1155 Update create-view-transact-sql.md
  docs/t-sql/statements/create-view-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1156 Typo: "Creat" > "Create".
  docs/relational-databases/performance/create-a-new-plan-guide.md
Labels: Change sent to author, do-not-merge, sql/prod

#1149 fix: Remove ".md" from absolute links
  docs/2014/integration-services/load-data-to-from-excel-with-ssis.md
Labels: Change sent to author, ready-to-merge, sql-server-2014/prod

#1158 Corrected to "Wide World Importers"
  docs/linux/tutorial-restore-backup-in-sql-server-container.md
Labels: Change sent to author, do-not-merge, sql/prod

#1161 Update database-lifecycle-management.md
  docs/relational-databases/database-lifecycle-management.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1131 SSDT 15.8.1 does support Windows 7 SP1
  docs/ssdt/changelog-for-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1134 Correcting syntax
  docs/relational-databases/system-stored-procedures/managed-backup-sp-backup-master-switch-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1160 Update transact-sql-syntax-conventions-transact-sql.md
  docs/t-sql/language-elements/transact-sql-syntax-conventions-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1159 chore: Fix markdown link formatting
  docs/azure-data-studio/enable-kerberos.md
  docs/azure-data-studio/what-is.md
  docs/ssms/sql-server-management-studio-changelog-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod

#1162 correct Visual Studio version
  docs/ssms/sql-server-management-studio-changelog-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod

#1167 Minor grammer fix
  docs/reporting-services/report-server/moving-the-report-server-databases-to-another-computer-ssrs-native-mode.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#1168 missing "s" in the table name
  docs/relational-databases/polybase/polybase-queries.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1144 Update expression-uses-in-reports-report-builder-and-ssrs.md
  docs/reporting-services/report-design/expression-uses-in-reports-report-builder-and-ssrs.md
Labels: Change sent to author, ready-to-merge, reporting-services/prod

#1171 Update sp-help-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-help-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1169 Update sql-server-docs-contribute.md
  docs/sql-server/sql-server-docs-contribute.md
Labels: Change sent to author, do-not-merge, sql/prod

#1170 Update overview-template-annotated-example.md
  contributor-guide/templates/overview-template-annotated-example.md
Labels: Change sent to author, do-not-merge, ms.service="sql-database/svc

#1172 Update ssms-tricks.md
  docs/ssms/tutorials/ssms-tricks.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1153 Remove suggestion to use email as a plausible means to transfers a db
  docs/relational-databases/databases/move-a-database-using-detach-and-attach-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1035 Update overview-and-usage-scenarios.md
  docs/relational-databases/in-memory-oltp/overview-and-usage-scenarios.md
Labels: Change sent to author, do-not-merge, sql/prod

#1178 typo: enviroment -> environment
  docs/2014/relational-databases/native-client-odbc-how-to/how-to-insert-rows-into-geography-column-odbc.md
  docs/2014/relational-databases/native-client-odbc-how-to/use-date-and-time-types.md
  docs/relational-databases/native-client-odbc-how-to/how-to-insert-rows-into-geography-column-odbc.md
  docs/relational-databases/native-client-odbc-how-to/use-date-and-time-types.md
Labels: Change sent to author, do-not-merge, sql/prod

#1173 Update query-with-full-text-search.md
  docs/relational-databases/search/query-with-full-text-search.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1175 Correcting solution statement incorrectly purposing BACKUP instead of…
  docs/relational-databases/backup-restore/sql-server-backup-to-url-best-practices-and-troubleshooting.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1183 Fixes typo for VS Code
  docs/integration-services/ssis-quickstart-run-tsql-vscode.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1176 Updating known limitations list.
  docs/relational-databases/polybase/polybase-versioned-feature-summary.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1184 Fix incorrect "syntax for SQL Server" heading
  docs/t-sql/database-console-commands/dbcc-pdw-showexecutionplan-transact-sql.md
Labels: Change sent to author, ready-to-merge

#1185 Update catalog-set-object-parameter-value-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-set-object-parameter-value-ssisdb-database.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1047 Update sql-server-management-studio-changelog-ssms.md
  docs/ssms/sql-server-management-studio-changelog-ssms.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1163 Update download-sql-server-data-tools-ssdt.md
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1188 Changing SSAS Account User Rights
  docs/database-engine/configure-windows/configure-windows-service-accounts-and-permissions.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1187 Update overview to clarify PowerShell provider changes
  docs/powershell/sql-server-powershell.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1190 typo: Disble -> Disable
  docs/database-engine/availability-groups/windows/create-clustered-dtc-for-an-always-on-availability-group.md
Labels: Change sent to author, do-not-merge, sql/prod

#1192 Add a known issue
  docs/ssdt/changelog-for-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1189 typo: neccessary -> necessary
  docs/relational-databases/stored-procedures/return-data-from-a-stored-procedure.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1194 Document mapping of input to output types
  docs/t-sql/functions/power-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod
