Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-06, with the labels that each got.

#2051 Handling ErrorColumn = -1
  docs/integration-services/extending-packages-scripting-data-flow-script-component-examples/enhancing-an-error-output-with-the-script-component.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#2174 Update deploy-integration-services-ssis-projects-and-packages.md
  docs/integration-services/packages/deploy-integration-services-ssis-projects-and-packages.md
Labels: Change sent to author, integration-services/tech, sql/prod

#2179 Correct note about deployment models
  docs/integration-services/packages/deploy-integration-services-ssis-projects-and-packages.md
Labels: Change sent to author, integration-services/tech, sql/prod

#2191 Remove ReFS
  docs/database-engine/configure-windows/hybrid-buffer-pool.md
Labels: Change sent to author, configuration/tech, sql/prod

#2242 IsDescendantOf method usage
  docs/relational-databases/hierarchical-data-sql-server.md
Labels: Change sent to author, sql/prod

#2189 Updating an step from CTP2.5 -> CTP3.0
  docs/linux/quickstart-install-connect-docker.md
Labels: Change sent to author, linux/tech, sql/prod

#2240 Change SQL Server Agent from install to enable
  docs/linux/sample-unattended-install-redhat.md
Labels: Change sent to author, linux/tech, sql/prod

#2262 Update sql-server-database-replica.md
  docs/relational-databases/performance-monitor/sql-server-database-replica.md
Labels: Change sent to author, do-not-merge, performance/tech, sql/prod

#2256 Change IMPORTANT box to CAUTION
  docs/t-sql/queries/hints-transact-sql-join.md
Labels: Change sent to author, do-not-merge, doc-enhancement, sql/prod, t-sql/tech

#2270 Add reference to the PowerShell cmdlet for reading XEvents.
  docs/relational-databases/extended-events/advanced-viewing-of-target-data-from-extended-events-in-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, xevents/tech

#2271 Add reference to the new PowerShell module.
  docs/relational-databases/extended-events/extended-events.md
Labels: Change sent to author, do-not-merge, sql/prod, xevents/tech

#2304 Update quickstart-python-inputs-and-outputs.md
  docs/advanced-analytics/tutorials/quickstart-python-inputs-and-outputs.md
Labels: Change sent to author, do-not-merge, sql/prod

#2275 Update catalog-check-schema-version.md
  docs/integration-services/system-stored-procedures/catalog-check-schema-version.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#2299 addressing customer Issue 2293
  docs/t-sql/language-elements/bitwise-operators-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#2289 Update repair-a-failed-sql-server-installation.md
  docs/2014/database-engine/install-windows/repair-a-failed-sql-server-installation.md
Labels: Change sent to author, do-not-merge, install/tech, sql-server-2014/prod

#2295 Fix Terminology
  docs/database-engine/availability-groups/windows/read-scale-availability-groups.md
Labels: Change sent to author, do-not-merge, sql/prod

#2305 Mention that XEvents can be read by the new PowerShell module.
  docs/2014/database-engine/view-event-session-data.md
Labels: Change sent to author, do-not-merge, sql-server-2014/prod

#2269 Add the new options for XEvent consumption by PowerShell and .NET
  docs/2014/database-engine/view-event-session-data.md
Labels: Change sent to author, database-engine/tech, do-not-merge, sql-server-2014/prod

#2318 Example is missing XML elements
  docs/t-sql/xml/nodes-method-xml-data-type.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2328 Added a space between an and on
  docs/includes/sql-server-ha-story.md
Labels: do-not-merge, review-team-triage

#2354 Fix spelling of IntelliSense
  docs/azure-data-studio/what-is.md
Labels: Change sent to author, azure-data-studio/tech, do-not-merge, sql/prod

#2359 Update create-sequence-transact-sql.md
  docs/t-sql/statements/create-sequence-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2362 Formatting fix for sql-data-discovery-and-classification.md
  docs/relational-databases/security/sql-data-discovery-and-classification.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#2363 Fixed [1] to [0], per Issue 2015.
  docs/t-sql/functions/json-value-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2365 Correct small typo
  docs/relational-databases/indexes/columnstore-indexes-query-performance.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech

#2366 fixed some formatting
  docs/t-sql/language-elements/like-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2357 Minor PowerShell edits
  docs/relational-databases/import-export/use-a-format-file-to-bulk-import-data-sql-server.md
Labels: Change sent to author, data-movement/tech, do-not-merge, sql/prod

#2360 Update sequence-numbers.md
  docs/relational-databases/sequence-numbers/sequence-numbers.md
Labels: Change sent to author, do-not-merge, sql/prod

#2373 2369 - Document missing values for SQLServiceType enum
  docs/relational-databases/wmi-provider-configuration-classes/sqlservice-class/sqlservicetype-property-sqlservice-class.md
  docs/relational-databases/wmi-provider-configuration-classes/sqlserviceadvancedproperty-class/sqlservicetype-property-sqlserviceadvancedproperty-class.md
Labels: Change sent to author, do-not-merge, sql/prod, wmi/tech

#2177 Added additional Known Issue with SSDT
  docs/ssdt/release-notes-ssdt.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#2226 Remove reference to blog because its not used
  docs/ssdt/release-notes-ssdt.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#2187 Correct an error in one of the create PK examples
  docs/relational-databases/tables/create-primary-keys.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech

#2260 Fixed argument description for original_publisher
  docs/relational-databases/system-stored-procedures/sp-get-redirected-publisher-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#2390 Corrected syntax to OPTIMIZE_FOR_SEQUENTIAL_KEY
  docs/t-sql/statements/alter-table-index-option-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2393 Update server-properties-advanced-page-reporting-services.md
  docs/reporting-services/tools/server-properties-advanced-page-reporting-services.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, tools/tech, tracking (C&L)

#2401 Fixed grammar definition, added example
  docs/t-sql/statements/create-type-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, tracking (C&L)
