Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-05, with the labels that each got.

#1942 Impacts of CDC when patching SQL server
  docs/relational-databases/track-changes/administer-and-monitor-change-data-capture-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod

#1954 fix typo
  docs/linux/sql-server-linux-performance-best-practices.md
Labels: Ready to merge, linux/tech, sql/prod

#2050 Update sql-server-linux-active-directory-authentication.md
  docs/linux/sql-server-linux-active-directory-authentication.md
Labels: Ready to merge, linux/tech, sql/prod

#2053 Minor typo
  docs/relational-databases/system-stored-procedures/xp-logininfo-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech, triaged

#1827 Add missing limitation in sp_describe_undeclared_parameters
  docs/relational-databases/system-stored-procedures/sp-describe-undeclared-parameters-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, triaged

#1829 Description copied from other events is erroneous
  docs/relational-databases/event-classes/audit-logout-event-class.md
Labels: Change sent to author, ready-to-merge, sql/prod, supportability/tech, triaged

#1925 Update create-login-transact-sql.md
  docs/t-sql/statements/create-login-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech, triaged

#1961 SQLLOGDIR only in SQL Server 2014 and above
  docs/ssms/agent/use-tokens-in-job-steps.md
Labels: Change sent to author, ready-to-merge, sql/prod, ssms/tech, triaged

#2003 Update System Requirements - Quantify memory
  docs/azure-data-studio/download.md
Labels: Change sent to author, azure-data-studio/tech, ready-to-merge, sql/prod, triaged

#2010 Update release note for 15.9.1
  docs/ssdt/release-notes-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod, ssdt/tech, triaged

#2011 update previous release page for 15.9.1
  docs/ssdt/previous-releases-of-sql-server-data-tools-ssdt-and-ssdt-bi.md
Labels: Change sent to author, ready-to-merge, sql/prod, ssdt/tech, triaged

#2021 Update sys-time-zone-info-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-time-zone-info-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech, triaged

#2035 Corrected Line 67 with repetition of a sentence
  docs/database-engine/log-shipping/configure-log-shipping-sql-server.md
Labels: Change sent to author, high-availability/tech, ready-to-merge, sql/prod, triaged

#2054 Inaccurate path for location of yarn-site.xml file
  docs/relational-databases/polybase/polybase-configure-hadoop.md
Labels: Change sent to author, polybase/tech, ready-to-merge, sql/prod

#2055 Typo for yarn.site.xml
  docs/relational-databases/polybase/polybase-configure-hadoop.md
Labels: Change sent to author, do-not-merge, polybase/tech, sql/prod

#2078 (SQL Server Linux Configure Docker) MD Formatting Update
  docs/linux/sql-server-linux-configure-docker.md
Labels: doc-bug, linux/tech, sql/prod

#2076 Update download-sql-server-data-tools-ssdt.md
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#2084 numColumn should be set before malloc
  docs/odbc/reference/syntax/sqlcolattribute-function.md
Labels: Change sent to author, connectivity/tech, sql/prod

#2081 Changed verbiage around rolling updates an AGs
  docs/database-engine/availability-groups/windows/upgrading-always-on-availability-group-replica-instances.md
Labels: Change sent to author, high-availability/tech, sql/prod

#2075 Fixed permissions requirements
  docs/relational-databases/system-stored-procedures/sp-oastop-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2074 Fixed permissions requirements
  docs/relational-databases/system-stored-procedures/sp-oasetproperty-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2073 Fixed permissions requirements
  docs/relational-databases/system-stored-procedures/sp-oagetproperty-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2072 Fixed permissions requirements
  docs/relational-databases/system-stored-procedures/sp-oageterrorinfo-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2071 Fixed permissions requirements
  docs/relational-databases/system-stored-procedures/sp-oadestroy-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2070 Fixed permissions requirements
  docs/relational-databases/system-stored-procedures/sp-oamethod-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2069 Fixed permissions requirements
  docs/relational-databases/system-stored-procedures/sp-oacreate-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2085 Fix typo in Memory optimized create table syntax
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, sql/prod, t-sql/tech

#2102 Update deploy-with-kubeadm.md
  docs/big-data-cluster/deploy-with-kubeadm.md
Labels: Change sent to author, big-data-cluster/tech, sql/prod

#2108 Add missing quote on code string
  docs/ssms/agent/create-a-cmdexec-job-step.md
Labels: Change sent to author, sql/prod, ssms/tech

#2111 fix spelling #2086
  docs/database-engine/availability-groups/windows/failover-clustering-and-always-on-availability-groups-sql-server.md
Labels: Change sent to author, high-availability/tech, sql/prod

#1904 Update sql-server-linux-setup-ssis.md
  docs/linux/sql-server-linux-setup-ssis.md
Labels: Change sent to author, do-not-merge, linux/tech, sql/prod

#2032 Update editions-and-components-of-sql-server-2017.md
  docs/sql-server/editions-and-components-of-sql-server-2017.md
Labels: Change sent to author, do-not-merge, install/tech, sql/prod

#2101 syntax highlighting for code example
  docs/odbc/reference/syntax/sqldescribeparam-function.md
Labels: Change sent to author, connectivity/tech, sql/prod

#2116 Removed the "vertical" and "horizontal" partition description
  docs/analysis-services/multidimensional-models-olap-logical-cube-objects/partitions-analysis-services-multidimensional-data.md
Labels: Change sent to author, analysis-services/tech, sql/prod

#2064 Description of os_thread_id to match PAL
  docs/relational-databases/system-dynamic-management-views/sys-dm-os-threads-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2136 Update create-index-transact-sql.md
  docs/t-sql/statements/create-index-transact-sql.md
Labels: Change sent to author, sql/prod, t-sql/tech

#2140 Resolve syncing conflicts from FromPrivateRepo to live
  docs/database-engine/configure-windows/troubleshoot-connecting-to-the-sql-server-database-engine.md
  docs/linux/quickstart-install-connect-docker.md
  docs/linux/sql-server-linux-troubleshooting-guide.md
  docs/relational-databases/system-catalog-views/sys-sensitivity-classifications-transact-sql.md
  docs/t-sql/language-elements/reserved-keywords-transact-sql.md
  docs/t-sql/statements/alter-database-transact-sql-compatibility-level.md
  docs/t-sql/statements/create-index-transact-sql.md
  docs/zone-pivot-groups.yml
Labels: Change sent to author, sql/prod, t-sql/tech

#2141 Update create-a-full-database-backup-sql-server.md
  docs/relational-databases/backup-restore/create-a-full-database-backup-sql-server.md
Labels: Change sent to author, backup-restore/tech, sql/prod

#1990 Update datediff-transact-sql.md
  docs/t-sql/functions/datediff-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#1860 SRO and SRS for SQL Server 2016 SP is wrong
  docs/advanced-analytics/install/sql-ml-component-install-without-internet-access.md
Labels: Change sent to author, do-not-merge, machine-learning/tech, sql/prod

#2043 Update aggregate-functions-transact-sql.md
  docs/t-sql/functions/aggregate-functions-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2056 Add remark stating PATINDEX returns 1-based value
  docs/t-sql/functions/patindex-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2159 Fixed typo for "collection"
  docs/database-engine/configure-windows/configure-the-max-degree-of-parallelism-server-configuration-option.md
Labels: Change sent to author, configuration/tech, ready-to-merge, sql/prod

#2128 URL Fix
  docs/relational-databases/security/encryption/always-encrypted-enclaves.md
Labels: Change sent to author, security/tech, sql/prod

#1985 Identity_insert off insert id is error not warning
  docs/t-sql/statements/set-identity-insert-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2165 Update sys-query-store-runtime-stats-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-query-store-runtime-stats-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#2184 fix a typo
  docs/relational-databases/backup-restore/file-snapshot-backups-for-database-files-in-azure.md
Labels: Change sent to author, backup-restore/tech, sql/prod

#2195 Update sys-symmetric-keys-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-symmetric-keys-transact-sql.md
Labels: Change sent to author, sql/prod, system-objects/tech

#2193 Updating release note and removing Java SDK note
  docs/sql-server/what-s-new-in-sql-server-ver15.md
Labels: Change sent to author, release-landing/tech, sql-server-2019/prod

#2192 Update sql-server-linux-setup-machine-learning.md
  docs/linux/sql-server-linux-setup-machine-learning.md
Labels: Change sent to author, machine-learning/tech, sql/prod

#2115 Improve accuracy for Table Value Constructor
  docs/t-sql/queries/table-value-constructor-transact-sql.md
Labels: Change sent to author, sql/prod, t-sql/tech

#1915 Fix parameter name in syntax section
  docs/integration-services/system-stored-procedures/catalog-set-environment-variable-protection-ssisdb-database.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#2202 Removed additional erroneous character
  docs/integration-services/change-data-capture/change-data-capture-service-for-oracle-by-attunity.md
Labels: Change sent to author, integration-services/tech, sql/prod

#2001 Add color to NO REVERT behavior
  docs/t-sql/statements/execute-as-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2206 Query Notifications are built on Service Broker, which is not availab…
  docs/relational-databases/native-client/features/working-with-query-notifications.md
Labels: Change sent to author, native-client/tech, sql/prod

#2214 Update syntax for custom query_store_mode example
  docs/t-sql/statements/alter-database-transact-sql-set-options.md
Labels: Change sent to author, sql/prod, t-sql/tech

#2212 Update QUERY_CAPTURE_MODE to include CUSTOM optoin
  docs/t-sql/statements/alter-database-transact-sql-set-options.md
Labels: Change sent to author, sql/prod, t-sql/tech

#2219 Clarified parameter used in stored procedure
  docs/relational-databases/system-stored-procedures/sp-setsubscriptionxactseqno-transact-sql.md
Labels: Change sent to author, ready-to-merge, replication/tech, sql/prod

#2200 clean up CREATE ASYMMETRIC KEY
  docs/t-sql/statements/create-asymmetric-key-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#2169 Fixed SQL result showing correct timestamp
  docs/t-sql/functions/smalldatetimefromparts-transact-sql.md
Labels: Change sent to author, sql/prod, t-sql/tech

#2160 Fixing grammar and spacing for better readability
  docs/relational-databases/logs/change-the-target-recovery-time-of-a-database-sql-server.md
Labels: Change sent to author, sql/prod, supportability/tech

#2161 Fixing readability and grammar
  docs/relational-databases/logs/database-checkpoints-sql-server.md
Labels: Change sent to author, sql/prod, supportability/tech

#2020 Update openrowset-transact-sql.md
  docs/t-sql/functions/openrowset-transact-sql.md
Labels: Change sent to author, do-not-merge, ready-to-merge, sql/prod, t-sql/tech

#2233 Suggest to fix number typo
  docs/relational-databases/polybase/polybase-t-sql-objects.md
Labels: Change sent to author, polybase/tech, sql/prod

#2238 Update temporal-tables.md
  docs/relational-databases/tables/temporal-tables.md
Labels: Change sent to author, sql/prod, table-view-index/tech
