Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-02, with the labels that each got.

#1610 Update pdw-certificate-provisioning.md
  docs/analytics-platform-system/pdw-certificate-provisioning.md
Labels: Change sent to author, do-not-merge, sql/prod

#1611 Fix a typo: coy -> copy
  docs/relational-databases/tables/copy-columns-from-one-table-to-another-database-engine.md
Labels: Change sent to author, do-not-merge, sql/prod

#1599 It is not necesary to declare the 'http://www.w3.org/2001/XMLSchema-i…
  docs/t-sql/xml/with-xmlnamespaces.md
Labels: Change sent to author, do-not-merge, sql/prod

#1607 Update download-sql-server-management-studio-ssms.md
  docs/ssms/download-sql-server-management-studio-ssms.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1612 Update lesson-5-2-enabling-and-configuring-package-configurations.md
  docs/2014/integration-services/lesson-5-2-enabling-and-configuring-package-configurations.md
Labels: Change sent to author, do-not-merge, sql-server-2014/prod

#1550 T-SQL edits
  docs/azure-data-studio/quickstart-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod

#1560 Clarify Offline Description
  docs/relational-databases/databases/file-states.md
Labels: Change sent to author, do-not-merge, sql/prod

#1614 Changed the extension from the backup/restore
  docs/database-engine/availability-groups/windows/manually-prepare-a-secondary-database-for-an-availability-group-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1620 Fix code blocks in determining-effective-database-engine-permissions.md
  docs/relational-databases/security/authentication-access/determining-effective-database-engine-permissions.md
Labels: Change sent to author, do-not-merge, sql/prod

#1618 Wrong extension on the log files
  docs/database-engine/availability-groups/windows/manually-prepare-a-secondary-database-for-an-availability-group-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1616 Fix reference to KeyStoreSecret in connection parameters.
  docs/connect/php/using-always-encrypted-php-drivers.md
Labels: Change sent to author, do-not-merge, sql/prod

#1621 Fixed two typos
  docs/reporting-services/subscriptions/file-share-delivery-in-reporting-services.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#1619 Add MERGE in list of statements allowed with CTE
  docs/t-sql/queries/with-common-table-expression-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1625 Trivial typo that breaks sample code
  docs/relational-databases/tables/create-foreign-key-relationships.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1626 corrected year
  docs/tools/sqlpackage-release-notes.md
Labels: Change sent to author, do-not-merge, sql/prod

#1553 Update configure-http-access-to-analysis-services-on-iis-8-0.md
  docs/analysis-services/instances/configure-http-access-to-analysis-services-on-iis-8-0.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1633 remove extra period and spaces and add link
  docs/t-sql/data-types/time-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1632 Fixed typo
  docs/relational-databases/stored-procedures/return-data-from-a-stored-procedure.md
Labels: Change sent to author, do-not-merge, sql/prod

#1458 Updated the reseed documentation
  docs/t-sql/database-console-commands/dbcc-checkident-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1508 fixed link for T-SQL Statements
  docs/database-engine/configure-windows/sql-server-service-broker.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1532 File extension clarification
  docs/relational-databases/maintenance-plans/maintenance-cleanup-task-maintenance-plan.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1634 Corrected dead link to enable logging
  docs/relational-databases/replication/troubleshoot-tran-repl-errors.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1635 Remove duplicate list item
  docs/relational-databases/system-catalog-views/sys-query-store-plan-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1636 Update sql-server-agent-jobs-for-packages.md
  docs/integration-services/packages/sql-server-agent-jobs-for-packages.md
Labels: Change sent to author, do-not-merge, sql/prod

#1575 Fixed sample T-SQL
  docs/ssms/agent/create-an-alert-using-severity-level.md
Labels: Change sent to author, do-not-merge, sql/prod

#1622 Update sys-default-constraints-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-default-constraints-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1639 Update lesson-2-3-modifying-the-flat-file-connection-manager.md
  docs/integration-services/lesson-2-3-modifying-the-flat-file-connection-manager.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1644 Missing parenthesis and typos
  docs/relational-databases/polybase/polybase-configure-hadoop.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1643 Update set-concat-null-yields-null-transact-sql.md
  docs/t-sql/statements/set-concat-null-yields-null-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1642 Fix markdown syntax highlight in document
  docs/t-sql/statements/set-ansi-nulls-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1646 Changed "do not need to anything" to "do not need to do anything"
  docs/relational-databases/indexes/get-started-with-columnstore-for-real-time-operational-analytics.md
Labels: Change sent to author, do-not-merge, sql/prod

#1623 Update create-a-data-driven-subscription-ssrs-tutorial.md
  docs/reporting-services/create-a-data-driven-subscription-ssrs-tutorial.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#1650 non-current row versions update
  docs/relational-databases/tables/querying-data-in-a-system-versioned-temporal-table.md
Labels: Change sent to author, do-not-merge, sql/prod

#1651 Updating RAW option for SQL 2019 as per VSTS 11802739.
  docs/t-sql/statements/bulk-insert-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1655 Correct the webhdfs port number when constructing the url
  docs/big-data-cluster/data-ingestion-curl.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1661 Fixing bad link
  docs/advanced-analytics/tutorials/sql-server-python-tutorials.md
Labels: Change sent to author, do-not-merge, sql/prod

#1664 fix typo
  docs/linux/sql-server-linux-change-repo.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1663 Fixed incorrect markdown and typo
  docs/reporting-services/security/role-definitions.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#1666 Update system-requirements-installation-and-driver-files.md
  docs/connect/odbc/windows/system-requirements-installation-and-driver-files.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1667 Fix mismatched square bracket/parenthesis
  docs/t-sql/statements/create-table-azure-sql-data-warehouse.md
Labels: Change sent to author, do-not-merge, sql-data-warehouse/svc

#1674 Update domain-independent-availability-groups.md
  docs/database-engine/availability-groups/windows/domain-independent-availability-groups.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1677 Typo ALT+*<single letter>* → ALT+*\<single letter>*
  docs/ssms/customize-menus-and-shortcut-keys.md
Labels: Change sent to author, do-not-merge, sql/prod

#1679 Update azure-active-directory.md
  docs/connect/php/azure-active-directory.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1680 Add verbiage regarding filetable and email
  docs/relational-databases/blob/filetables-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod

#1684 Fix UNION syntax
  docs/t-sql/language-elements/set-operators-union-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1690 Fix a typo in DBCC SHRINKFILE description
  docs/t-sql/database-console-commands/dbcc-shrinkfile-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1689 Update dbcc-checktable-transact-sql.md
  docs/t-sql/database-console-commands/dbcc-checktable-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1675 Update failover-clustering-and-always-on-availability-groups-sql-serv…
  docs/database-engine/availability-groups/windows/failover-clustering-and-always-on-availability-groups-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1693 Update always-encrypted-cryptography.md
  docs/relational-databases/security/encryption/always-encrypted-cryptography.md
Labels: Change sent to author, do-not-merge, sql/prod
