Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-09, with the labels that each got.

#2741 Add SandDance usage for SQL queries
  docs/azure-data-studio/sanddance-extension.md
Labels: Change sent to author, assessing_(C&L), azure-data-studio/tech, do-not-merge, sql/prod

#2834 Make indentation and SQL formatting consistent
  docs/relational-databases/tables/creating-a-system-versioned-temporal-table.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, table-view-index/tech

#2860 Typo "**@publisher**"→"**@\publisher**"
  docs/relational-databases/replication/publish/create-a-publication-from-an-oracle-database.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#2861 Typo **@publisher**→**\@publisher**
  docs/relational-databases/replication/administration/configure-the-transaction-set-job-for-an-oracle-publisher.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#2862 Typo "**@publisher**"→"**\@publisher**"
  docs/relational-databases/replication/non-sql/manage-oracle-tablespaces.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#2889 Added 2017 CU16 info
  docs/advanced-analytics/install/sql-ml-cab-downloads.md
Labels: Change sent to author, do-not-merge, machine-learning/tech, sql/prod

#2884 Targets is incomplete
  docs/dma/dma-overview.md
Labels: Change sent to author, assessing_(C&L), dma/tech, ready-to-merge, sql/prod

#2895 Remove campaign tags in VS download link
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: do-not-merge, review-team-triage

#2910 Broken link due to an extra Character "]" in the URL
  docs/big-data-cluster/reference-azdata.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#2920 Typo "**@account**"→"**\@account**"
  docs/relational-databases/system-stored-procedures/sp-helpdistributor-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#2818 Adding querying sys.tables as an alternative to OBJECTPROPERTY
  docs/relational-databases/system-stored-procedures/sp-tableoption-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#2929 Typo "**@p**"→"**\@p**"
  docs/relational-databases/clr-integration-database-objects-user-defined-types/creating-user-defined-types-coding.md
Labels: Change sent to author, clr/tech, ready-to-merge, sql/prod

#2718 Fixed terms
  docs/master-data-services/installing-mds-in-an-alwayson-group-environment/installing-mds-in-an-alwayson-group-environment.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, high-availability/tech, sql/prod

#2765 Typo: Changed Hadoop to Azure Blob Storage
  docs/relational-databases/polybase/polybase-configure-azure-blob-storage.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, polybase/tech, sql/prod

#2771 removed unnecessary link
  docs/relational-databases/sql-server-transaction-log-architecture-and-management-guide.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod

#2802 Update formatting and sentence structure
  docs/relational-databases/polybase/polybase-configure-odbc-generic.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, polybase/tech, sql/prod

#2811 Update docker image name
  docs/linux/sql-server-linux-configure-docker.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, linux/tech, sql/prod

#2831 Add comma to prevent failure of sp_attach_schedule
  docs/relational-databases/maintenance-plans/create-a-maintenance-plan.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, supportability/tech

#2816 corrected collection time interval
  docs/relational-databases/system-dynamic-management-views/sys-dm-resource-governor-workload-groups-history-ex-azure-sql-database.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#2815 corrected time interval
  docs/relational-databases/system-dynamic-management-views/sys-dm-resource-governor-resource-pools-history-ex-azure-sql-database.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#2928 Typo "I O"→"I¥/O"
  docs/relational-databases/system-dynamic-management-views/sys-dm-io-backup-tapes-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#2832 Add Known Issue: Default Language Incorrect
  docs/ssms/release-notes-ssms.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, ssms/tech

#2858 AllowedResourceExtensionsForUpload property needs to be removed for S…
  docs/reporting-services/tools/server-properties-advanced-page-reporting-services.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, ready-to-merge, reporting-services/prod, tools/tech

#2810 Add EmbedFonts option to PDF DeviceInfo settings page
  docs/reporting-services/pdf-device-information-settings.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, ready-to-merge, reporting-services/prod, reporting-services/tech

#2777 add suspend senario
  docs/database-engine/availability-groups/windows/upgrading-always-on-availability-group-replica-instances.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, high-availability/tech, ready-to-merge, sql/prod

#2985 minor grammar improvements
  docs/relational-databases/extended-events/quick-start-extended-events-in-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod, xevents/tech

#2978 commit insert in order to retrieve row
  docs/connect/python/pyodbc/step-3-proof-of-concept-connecting-to-sql-using-pyodbc.md
Labels: Change sent to author, connectivity/tech, ready-to-merge, sql/prod

#2965 Added reference to procedure
  docs/ssms/agent/sql-server-agent-error-log.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, ssms/tech

#2997 Fix indentation issue
  docs/relational-databases/json/json-data-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod

#3002 Code span format
  docs/connect/jdbc/reference/tostring-method-datetimeoffset.md
Labels: Change sent to author, connectivity/tech, ready-to-merge, sql/prod

#3003 Fix markdown
  docs/relational-databases/clr-integration/clr-integration-architecture-clr-hosted-environment.md
Labels: Change sent to author, clr/tech, do-not-merge, sql/prod

#3006 Support Windows Server 2019
  docs/connect/oledb/applications/support-policies-for-oledb-driver-for-sql-server.md
Labels: Change sent to author, assessing_(C&L), connectivity/tech, ready-to-merge, sql/prod

#3013 Fixed typo (wile)
  docs/relational-databases/errors-events/database-engine-events-and-errors.md
Labels: do-not-merge

#3016 Update choose-a-database-engine-upgrade-method.md
  docs/database-engine/install-windows/choose-a-database-engine-upgrade-method.md
Labels: Change sent to author, install/tech, ready-to-merge, sql/prod

#3024 Fixed typo (aplications)
  docs/relational-databases/performance/upgrade-dbcompat-using-qta.md
Labels: Change sent to author, do-not-merge, performance/tech, sql/prod

#3014 ACCEPT_EULA requires "yes" value even as env variable
  docs/big-data-cluster/deployment-guidance.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, ready-to-merge, sql/prod

#3027 Update: branding-the-web-portal.md
  docs/reporting-services/branding-the-web-portal.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, reporting-services/tech

#3021 Typo "*@object_id*"→"*\@object_id*"
  docs/relational-databases/system-dynamic-management-views/sys-dm-exec-describe-first-result-set-for-object-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#2952 Typo "Numeric"→"numeric"
  docs/relational-databases/system-dynamic-management-views/sys-dm-database-replica-states-azure-sql-database.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#3004 Update how-to-specify-predeployment-or-postdeployment-scripts.md
  docs/ssdt/how-to-specify-predeployment-or-postdeployment-scripts.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, ssdt/tech

#3031 Update alter-database-scoped-configuration-transact-sql.md
  docs/t-sql/statements/alter-database-scoped-configuration-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2949 Update example-specifying-a-root-element-for-the-xml-generated-by-for…
  docs/relational-databases/xml/example-specifying-a-root-element-for-the-xml-generated-by-for-xml.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, xml/tech

#3035 Update upgrading-log-shipping-to-sql-server-2016-transact-sql.md
  docs/database-engine/log-shipping/upgrading-log-shipping-to-sql-server-2016-transact-sql.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#3022 Update sql-server-ver15-release-notes.md
  docs/sql-server/sql-server-ver15-release-notes.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, release-landing/tech, sql/prod

#3042 Add snippet identifier and remove extra spaces
  docs/relational-databases/databases/database-identifiers.md
  docs/t-sql/statements/collations.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, do-not-merge, sql/prod, t-sql/tech

#2977 Update scalar-udf-inlining.md
  docs/relational-databases/user-defined-functions/scalar-udf-inlining.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod

#3058 Typo "*@cleartext*"→"*\@cleartext*"
  docs/t-sql/functions/signbycert-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#3057 Typo "**@plaintext** "→"**\@plaintext** "
  docs/t-sql/functions/signbyasymkey-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#3056 Typo "*@object_id*"→"*\@object_id*"
  docs/t-sql/functions/is-objectsigned-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#3055 Typo "**@cleartext**"→"**\@cleartext**"
  docs/t-sql/functions/encryptbycert-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#3054 Typo "**@plaintext**"→"**\@plaintext**"
  docs/t-sql/functions/encryptbyasymkey-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#3053 Typo "*@ciphertext*"→"*\@ciphertext*"
  docs/t-sql/functions/decryptbypassphrase-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#3052 Typo "*@add_authenticator*"→"*\@add_authenticator*"
  docs/t-sql/functions/decryptbykeyautocert-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#3051 Typo "*@add_authenticator*"→"*\@add_authenticator*"
  docs/t-sql/functions/decryptbykeyautoasymkey-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#3050 Typo "*@cert_password*"→"*\@cert_password*"
  docs/t-sql/functions/decryptbycert-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#3049 Typo "**@ciphertext**"→"**\@ciphertext**"
  docs/t-sql/functions/decryptbykey-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#3036 Reference Hybrid Buffer Pool configuration DMV
  docs/database-engine/configure-windows/hybrid-buffer-pool.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, do-not-merge, sql/prod

#2999 Minor fixes for 2 pages related to "clr enabled" server config option
  docs/database-engine/configure-windows/clr-enabled-server-configuration-option.md
  docs/relational-databases/clr-integration/clr-integration-enabling.md
Labels: Change sent to author, assessing_(C&L), clr/tech, ready-to-merge, sql/prod

#3019 Clarified MAXDOP configuration in Azure SQL DB
  docs/t-sql/statements/alter-database-scoped-configuration-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, t-sql/tech

#2981 Make formatting consistent for SQL examples under "CREATE TABLE (Transact-SQL)" page
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, t-sql/tech

#2979 Consistent formatting for code examples under "Perform Index Operations Online"
  docs/relational-databases/indexes/codesnippet/tsql/perform-index-operations_1.sql
  docs/relational-databases/indexes/perform-index-operations-online.md
Labels: assessing_(C&L), do-not-merge

#2968 Update merge-transact-sql.md
  docs/t-sql/statements/merge-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, t-sql/tech

#2882 azdata sql query -q parameter is required
  docs/big-data-cluster/reference-azdata-sql.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2901 extra "-" at the end of the signing key install
  docs/big-data-cluster/deploy-install-azdata-linux-package.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2812 Update hide-an-instance-of-sql-server-database-engine.md
  docs/database-engine/configure-windows/hide-an-instance-of-sql-server-database-engine.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, ready-to-merge, sql/prod

#3041 Fixing bug where it says config.json instead of control.json
  docs/big-data-cluster/deployment-custom-configuration.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, ready-to-merge, sql/prod

#2931 Typo "*@local_variable*"→"*\@local_variable*"
  docs/t-sql/data-types/cursor-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#2951 Update conversion notes in "decimal and numeric" and "float and real" pages
  docs/t-sql/data-types/decimal-and-numeric-transact-sql.md
  docs/t-sql/data-types/float-and-real-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#2798 Corrected info on string lengths
  docs/t-sql/data-types/precision-scale-and-length-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3017 Add annotation instruction
  docs/integration-services/lesson-1-8-making-the-lesson-1-package-easier-to-understand.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, integration-services/tech, sql/prod

#3071 Update sql-server-linux-shared-disk-cluster-operate.md
  docs/linux/sql-server-linux-shared-disk-cluster-operate.md
Labels: Change sent to author, do-not-merge, linux/tech, sql/prod

#3079 Typo
  docs/reporting-services/application-integration/using-the-webforms-reportviewer-control.md
Labels: Change sent to author, application-integration/tech, ready-to-merge, reporting-services/prod

#3076 Clarification of log count
  docs/database-engine/configure-windows/scm-services-configure-sql-server-error-logs.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, ready-to-merge, sql/prod
