Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-08, with the labels that each got.

#2595 Update Network Packet Size documentation to reflect various SSL limit…
  docs/database-engine/configure-windows/configure-the-network-packet-size-server-configuration-option.md
Labels: Change sent to author, assessing (C&L), configuration/tech, ready-to-merge, sql/prod

#2628 Fixing pip uninstall url
  docs/big-data-cluster/deployment-upgrade.md
Labels: Change sent to author, assessing (C&L), big-data-cluster/tech, ready-to-merge, sql/prod

#2647 spelling correction
  docs/samples/wide-world-importers-what-is.md
Labels: Change sent to author, do-not-merge, samples/tech, sql/prod

#2648 Update cluster-troubleshooting-commands.md
  docs/big-data-cluster/cluster-troubleshooting-commands.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#2655 Change AdventureWorkDW to AdventureWorksDW
  docs/analysis-services/multidimensional-tutorial/install-sample-data-and-projects.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql/prod

#2653 Typo "**&#42;&#42; Important &#42;&#42;**"→"&#42;&#42; Important &#42…
  docs/relational-databases/system-information-schema-views/check-constraints-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, system-objects/tech

#2656 Add example for grant execute external script on external language
  docs/t-sql/statements/create-external-language-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, t-sql/tech

#2662 (simple wording update) Use better naming for VDI (actually SQL VDI)
  docs/linux/sql-server-linux-backup-vdi-specification.md
Labels: Change sent to author, assessing (C&L), linux/tech, ready-to-merge, sql/prod

#2428 fn_hadr_is_primary_replica internally uses dm_hadr_database_replica_states
  docs/relational-databases/system-functions/sys-fn-hadr-is-primary-replica-transact-sql.md
Labels: Change sent to author, assessing (C&L), ready-to-merge, sql/prod, system-objects/tech

#2650 Update reference-azdata-bdc-spark-session.md
  docs/big-data-cluster/reference-azdata-bdc-spark-session.md
Labels: Change sent to author, assessing (C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2651 Update reference-azdata-bdc-spark-batch.md
  docs/big-data-cluster/reference-azdata-bdc-spark-batch.md
Labels: Change sent to author, assessing (C&L), big-data-cluster/tech, ready-to-merge, sql/prod

#2639 Update configdsn-function.md
  docs/odbc/reference/syntax/configdsn-function.md
Labels: Change sent to author, assessing (C&L), connectivity/tech, do-not-merge, sql/prod

#2657 Suggest to fix 'fi-FI'
  docs/t-sql/functions/parse-transact-sql.md
  docs/t-sql/functions/try-parse-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, t-sql/tech

#2685 [typo] extra trailing "]" in jmespath.org link
  docs/big-data-cluster/reference-azdata-bdc-spark-statement.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#2688 Update actualsize-and-definedsize-properties-example-vb.md
  docs/ado/reference/ado-api/actualsize-and-definedsize-properties-example-vb.md
Labels: Change sent to author, connectivity/tech, do-not-merge, sql/prod

#2681 Update deploy-notebooks.md
  docs/big-data-cluster/deploy-notebooks.md
Labels: Change sent to author, assessing (C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2702 fixed typo for "under"
  docs/relational-databases/extended-events/extended-events.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, xevents/tech

#2708 Typo "**&#42;&#42; Important &#42;&#42;**"→"**Important**"
  docs/t-sql/functions/openrowset-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2684 'bdc' keyword missing from each azdata example
  docs/big-data-cluster/reference-azdata-bdc-spark-statement.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2699 FORMAT - removal of reference to ssCurrent
  docs/t-sql/functions/format-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#2695 Update data-ingestion-restore-database.md
  docs/big-data-cluster/data-ingestion-restore-database.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2513 Update sql-server-linux-configure-mssql-conf.md
  docs/linux/sql-server-linux-configure-mssql-conf.md
Labels: Change sent to author, assessing_(C&L), linux/tech, ready-to-merge, sql/prod

#2649 Update sql-server-linux-configure-msdtc.md
  docs/linux/sql-server-linux-configure-msdtc.md
Labels: Change sent to author, assessing_(C&L), linux/tech, ready-to-merge, sql/prod

#2686 Add a note for DB_ID inconsistency in SQL Azure
  docs/t-sql/functions/db-id-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#2726 Added SQL Server 2012 SP4 to "Supported Combinations" table
  docs/reporting-services/install-windows/supported-combinations-of-sharepoint-and-reporting-services-server.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, reporting-services/prod

#2722 missing value for azdata bdc create --accept-eula
  docs/big-data-cluster/deployment-guidance.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2727 missing reg key, fix typo
  docs/reporting-services/security/configure-ssl-connections-on-a-native-mode-report-server.md
Labels: Change sent to author, ready-to-merge, reporting-services/prod, security/tech

#2733 Typo "**@verboseoutput**"→"**\@verboseoutput**"
  docs/relational-databases/system-stored-procedures/spatial-index-stored-procedures-arguments-and-properties.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2729 Replace forward slash to back slash
  docs/big-data-cluster/deploy-install-azdata.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2736 minor update
  docs/relational-databases/in-memory-oltp/in-memory-oltp-in-memory-optimization.md
Labels: Change sent to author, do-not-merge, in-memory-oltp/tech, sql/prod

#2737 Modify SandDance details
  docs/azure-data-studio/release-notes-azure-data-studio.md
Labels: Change sent to author, assessing_(C&L), azure-data-studio/tech, ready-to-merge, sql/prod

#2754 Typo "**'**"→"**\'**"
  docs/relational-databases/system-stored-procedures/sp-create-plan-guide-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#2752 Modify batch file to not delete *.bak
  docs/big-data-cluster/tutorial-load-sample-data.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#2677 ForEach file loop order specification
  docs/integration-services/control-flow/foreach-loop-container.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, integration-services/tech, sql/prod

#2714 add missing spaces
  docs/integration-services/install-windows/install-integration-services.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, integration-services/tech, sql/prod

#2766 Update configuring-storage-for-memory-optimized-tables.md
  docs/relational-databases/in-memory-oltp/configuring-storage-for-memory-optimized-tables.md
Labels: Change sent to author, do-not-merge, in-memory-oltp/tech, sql/prod

#2768 Typo "**@publisher**"→"**\@publisher**"
  docs/relational-databases/replication/monitor/programmatically-monitor-replication.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#2769 Typo "**@publication**"→"**\@publication**"
  docs/relational-databases/replication/monitor/measure-latency-and-validate-connections-for-transactional-replication.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#2783 Typo "&#40;Transact-SQL&#41;"
  docs/relational-databases/system-tables/mssubscriptions-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, replication/tech, sql/prod

#2759 Typo "**@namespace=**"→"**\@namespace=**"
  docs/relational-databases/system-stored-procedures/sp-settriggerorder-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#2751 Add a delimited text file
  docs/big-data-cluster/concept-storage-pool.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, ready-to-merge, sql/prod

#2746 Adjust the supported database versions for 13.1
  docs/connect/odbc/windows/system-requirements-installation-and-driver-files.md
Labels: Change sent to author, assessing_(C&L), connectivity/tech, ready-to-merge, sql/prod

#2788 Format registry key paths
  docs/odbc/reference/install/registry-entries-for-data-sources.md
  docs/odbc/reference/install/registry-entries-for-odbc-components.md
Labels: Change sent to author, assessing_(C&L), connectivity/tech, ready-to-merge, sql/prod

#2825 Typo "**@destination_folder**"→"**\@destination_folder**"
  docs/relational-databases/system-stored-procedures/sp-copysnapshot-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, replication/tech, sql/prod

#2837 Typo "**@publication=**"→"**\@publication=**"
  docs/relational-databases/system-stored-procedures/sp-validatemergesubscription-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, replication/tech, sql/prod
