Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-04, with the labels that each got.

#1840 Correcting language
  docs/t-sql/functions/error-procedure-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#1761 Added step for answering SSMS dialog popup if it occurs
  docs/relational-databases/security/tutorial-getting-started-with-always-encrypted-enclaves.md
Labels: Change sent to author, ready-to-merge, security/tech, sql/prod

#1760 Clarified wording in new column master key dialog
  docs/relational-databases/security/tutorial-getting-started-with-always-encrypted-enclaves.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1719 Adding a link to Slow I/O t-shooting
  docs/relational-databases/performance-monitor/monitor-disk-usage.md
Labels: Change sent to author, performance/tech, ready-to-merge, sql/prod

#1844 Fix typo in EMPTYFILE
  docs/t-sql/database-console-commands/dbcc-shrinkfile-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#1858 add FCI requirements for domain joined cluster
  docs/sql-server/failover-clusters/install/before-installing-failover-clustering.md
Labels: Change sent to author, install/tech, ready-to-merge, sql/prod

#1859 update FCI requirements for domain join clusters
  docs/sql-server/failover-clusters/install/sql-server-failover-cluster-installation.md
Labels: Change sent to author, install/tech, ready-to-merge, sql/prod

#1866 Removed wild period
  docs/analysis-services/multidimensional-models-olap-logical-dimension-objects/dimensions-introduction.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql/prod

#1867 Added a missing verb into sentence
  docs/analysis-services/multidimensional-models-olap-logical-dimension-objects/attributes-and-attribute-hierarchies.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql/prod

#1868 Changed "affect" to "effect"
  docs/analysis-services/multidimensional-models-olap-logical-dimension-objects/write-enabled-dimensions.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql/prod

#1871 Minor spelling fix
  docs/relational-databases/security/authentication-access/database-level-roles.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod

#1865 Changed "marks" to "euros" in one place
  docs/analysis-services/multidimensional-models/create-calculated-members.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql/prod

#1863 Changed "FactSalesQuote" to "FactSalesQuota"
  docs/analysis-services/multidimensional-models/create-measures-and-measure-groups-in-multidimensional-models.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql/prod

#1771 Update QDS metrics that now apply to on-prem
  docs/relational-databases/system-catalog-views/sys-query-store-runtime-stats-transact-sql.md
Labels: ready-to-merge

#1873 Updating to show Azure SQL Database support
  docs/relational-databases/xml/for-xml-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, xml/tech

#1869 Update polybase-configuration.md
  docs/relational-databases/polybase/polybase-configuration.md
Labels: Change sent to author, polybase/tech, ready-to-merge, sql/prod

#1857 add details for oracle in release notes page
  docs/ssdt/release-notes-ssdt.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#1872 Update scale-out-support-for-high-availability.md
  docs/integration-services/scale-out/scale-out-support-for-high-availability.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#1878 Updated external Link
  docs/relational-databases/security/authentication-access/server-level-roles.md
Labels: Change sent to author, ready-to-merge, security/tech, sql/prod

#1900 Typo - WRITELOG
  docs/relational-databases/system-catalog-views/sys-query-store-wait-stats-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#1899 Add missing "created" word to sentence
  docs/analysis-services/tutorial-tabular-1400/as-lesson-12-analyze-in-excel.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql/prod

#1907 Fix copy-paste, replace primary with secondary
  docs/t-sql/statements/alter-database-scoped-configuration-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#1902 Updated Applies to to include Azure SQL DB
  docs/relational-databases/system-catalog-views/sys-user-token-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#1910 Update sys-user-token-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-user-token-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#1917 Fixed typo
  docs/database-engine/availability-groups/windows/reporting-services-with-always-on-availability-groups-sql-server.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#1911 Added a note column -Supportability
  docs/t-sql/statements/create-external-data-source-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#1919 Update static-data-masking.md
  docs/relational-databases/security/static-data-masking.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod

#1784 Added missing [internal_type] and [internal_type_desc] values for "sys.internal_tables"
  docs/relational-databases/system-catalog-views/sys-internal-tables-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#1903 corrected parts on db_securityadmin and custom roles permissions
  docs/relational-databases/security/authentication-access/database-level-roles.md
Labels: Change sent to author, ready-to-merge, security/tech, sql/prod

#1921 Minor misspell fix for create-indexed-views.md
  docs/relational-databases/views/create-indexed-views.md
Labels: Change sent to author, ready-to-merge, sql/prod, table-view-index/tech

#1916 Add "log" prefix to log backups in examples on Piecemeal Restore docs
  docs/relational-databases/backup-restore/example-piecemeal-restore-of-database-full-recovery-model.md
  docs/relational-databases/backup-restore/example-piecemeal-restore-of-only-some-filegroups-full-recovery-model.md
Labels: Change sent to author, backup-restore/tech, ready-to-merge, sql/prod

#1786 fix powershell commands referencing old AzureStorage prefix
  docs/relational-databases/backup-restore/sql-server-backup-to-url.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1924 Fixed improper allignment in the source code related to UdtTypeName p…
  docs/relational-databases/clr-integration-database-objects-user-defined-types/accessing-user-defined-types-retrieving-udt-data.md
Labels: Change sent to author, clr/tech, ready-to-merge, sql/prod

#1931 Update tutorial-use-azure-blob-storage-service-with-sql-server-2016.md
  docs/relational-databases/tutorial-use-azure-blob-storage-service-with-sql-server-2016.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1912 Add download link for MDS 2019 CTP Add-In
  docs/master-data-services/microsoft-excel-add-in/master-data-services-add-in-for-microsoft-excel.md
Labels: Change sent to author, do-not-merge, master-data-services/tech, sql/prod

#1862 Update to meta failure-timeout=60s when creating cluster
  docs/linux/sql-server-linux-availability-group-cluster-rhel.md
Labels: Change sent to author, linux/tech, ready-to-merge, sql/prod

#1937 Reintroduce error in example script which was there on purpose.
  docs/2014/2014-toc/sql-server-transaction-locking-and-row-versioning-guide.md
Labels: Change sent to author, ready-to-merge, sql-server-2014/prod

#1856 Update server-configuration-options-sql-server.md
  docs/database-engine/configure-windows/server-configuration-options-sql-server.md
Labels: Change sent to author, configuration/tech, ready-to-merge, sql/prod

#1833 Update sys-dm-tcp-listener-states-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-tcp-listener-states-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#1825 Fix "applies to" for sp_wait_for_database_copy_sync
  docs/relational-databases/system-stored-procedures/active-geo-replication-sp-wait-for-database-copy-sync.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#1943 use square brackets for column name
  docs/t-sql/functions/cast-and-convert-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#1950 Add a note that Microsoft uses the in place upgrade approach on their…
  docs/database-engine/install-windows/choose-a-database-engine-upgrade-method.md
Labels: Change sent to author, install/tech, ready-to-merge, sql/prod

#1958 Update version
  docs/big-data-cluster/deploy-on-aks.md
Labels: Change sent to author, big-data-cluster/tech, ready-to-merge, sql/prod

#1909 Update manually adding snapshots for SSRS 2017
  docs/reporting-services/report-server/add-a-snapshot-to-report-history-report-manager.md
Labels: Change sent to author, do-not-merge, report-server/tech, reporting-services/prod

#1948 Updated to use the PowerShell Gallery version
  docs/linux/sql-server-linux-manage-powershell.md
Labels: Change sent to author, linux/tech, ready-to-merge, sql/prod

#1894 Update define-colors-on-a-chart-using-a-palette-report-builder-and-ss…
  docs/reporting-services/report-design/define-colors-on-a-chart-using-a-palette-report-builder-and-ssrs.md
Labels: Change sent to author, do-not-merge, report-design/tech, reporting-services/prod

#1940 ALTER CERTIFICATE supports BINARY private key
  docs/t-sql/statements/alter-certificate-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#1956 Removed redundant important message. Added new important message
  docs/dma/dma-consolidatereports.md
Labels: Change sent to author, dma/tech, do-not-merge, sql/prod

#1970 Correct script descriptions
  docs/t-sql/statements/alter-sequence-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#1965 Algorithm said 3DES but changed in 2017
  docs/relational-databases/security/encryption/sql-server-and-database-encryption-keys-database-engine.md
Labels: Change sent to author, ready-to-merge, security/tech, sql/prod

#1964 Example C on this page shows incomplete syntax.
  docs/t-sql/statements/alter-asymmetric-key-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#1963 Update sanddance-extension.md
  docs/azure-data-studio/sanddance-extension.md
Labels: Change sent to author, azure-data-studio/tech, ready-to-merge, sql/prod

#1928 Update alter-index-transact-sql.md
  docs/t-sql/statements/alter-index-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#1778 The old ANSI-style JOIN was used
  docs/relational-databases/user-defined-functions/scalar-udf-inlining.md
Labels: Change sent to author, do-not-merge, sql/prod

#1972 Fix missing / misleading statements, and formatting in CREATE and ALTER CERTIFICATE
  docs/t-sql/statements/alter-certificate-transact-sql.md
  docs/t-sql/statements/create-certificate-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#1993 Update release-notes-ssms.md
  docs/ssms/release-notes-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech

#1976 Fix missing / misleading statements, and formatting for BACKUP CERTIFICATE
  docs/t-sql/statements/backup-certificate-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#1999 Updates for CTP2.5
  docs/big-data-cluster/tutorial-query-hdfs-storage-pool.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#2002 Update concept-data-persistence.md
  docs/big-data-cluster/concept-data-persistence.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#1998 Updates for CTP2.5
  docs/relational-databases/polybase/data-virtualization-csv.md
Labels: Change sent to author, do-not-merge, polybase/tech, sql/prod

#1981 Update as-supplemental-lesson-dynamic-security.md
  docs/analysis-services/tutorial-tabular-1400/as-supplemental-lesson-dynamic-security.md
Labels: Change sent to author, analysis-services/tech, ready-to-merge, sql/prod

#2000 Updated the storage pool location for CTP2.5
  docs/big-data-cluster/release-notes-big-data-cluster.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#2004 Suggest to fix a table
  docs/2014/powershell/encode-and-decode-sql-server-identifiers.md
  docs/powershell/encode-and-decode-sql-server-identifiers.md
Labels: Change sent to author, do-not-merge, scripting/tech, sql/prod

#1984 Update as-lesson-7-create-key-performance-indicators.md
  docs/analysis-services/tutorial-tabular-1400/as-lesson-7-create-key-performance-indicators.md
Labels: Change sent to author, analysis-services/tech, ready-to-merge, sql/prod

#2019 Update the Visual Studio download link to VS2019
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod, ssdt/tech

#2023 Update as-lesson-7-create-key-performance-indicators.md
  docs/analysis-services/tutorial-tabular-1400/as-lesson-7-create-key-performance-indicators.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql/prod

#2009 release SSDT for vs2017 15.9.1
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod, ssdt/tech

#1994 Update release-notes-ssms.md
  docs/ssms/release-notes-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech
