Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-01, with the labels that each got.

#1388 Corrected maximum difference calculation
  docs/t-sql/functions/datediff-big-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1490 COMPRESS - Correct Archive SQL Syntax
  docs/t-sql/functions/compress-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1493 Added language type to code blocks
  docs/t-sql/queries/freetext-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1473 add SQL Formatting
  docs/t-sql/language-elements/string-concatenation-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1489 Fixed a precendence order explanation
  docs/t-sql/language-elements/operator-precedence-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1441 PARSENAME return type correction
  docs/t-sql/functions/parsename-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1474 Update objectproperty-transact-sql.md
  docs/t-sql/functions/objectproperty-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1503 Removing references to Docker Store
  docs/linux/sql-server-linux-configure-docker.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1506 Change "database user" to "SQL Server login"
  docs/advanced-analytics/security/add-sqlrusergroup-to-database.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1504 removing the author
  docs/relational-databases/system-dynamic-management-views/sys-dm-xe-database-sessions-azure-sql-database.md
Labels: Change sent to author, do-not-merge

#1477 Update create-a-new-plan-guide.md
  docs/relational-databases/performance/create-a-new-plan-guide.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1476 Update plan-guides.md
  docs/relational-databases/performance/plan-guides.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1478 Update create-a-plan-guide-for-parameterized-queries.md
  docs/relational-databases/performance/create-a-plan-guide-for-parameterized-queries.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1479 Update specify-query-parameterization-behavior-by-using-plan-guides.md
  docs/relational-databases/performance/specify-query-parameterization-behavior-by-using-plan-guides.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1480 Update apply-a-fixed-query-plan-to-a-plan-guide.md
  docs/relational-databases/performance/apply-a-fixed-query-plan-to-a-plan-guide.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1484 Update validate-plan-guides-after-upgrade.md
  docs/relational-databases/performance/validate-plan-guides-after-upgrade.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1485 Update delete-a-plan-guide.md
  docs/relational-databases/performance/delete-a-plan-guide.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1486 Update enable-or-disable-a-plan-guide.md
  docs/relational-databases/performance/enable-or-disable-a-plan-guide.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1498 Fix change of directory for logfiles folder
  docs/reporting-services/report-server/reporting-services-log-files-and-sources.md
Labels: Change sent to author, ready-to-merge, reporting-services/prod

#1513 Correct time_zone typo: period-->colon
  docs/t-sql/functions/todatetimeoffset-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1517 Fix one typo and add a clarification regarding temporary tables
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1514 Update alter-external-data-source-transact-sql.md
  docs/t-sql/statements/alter-external-data-source-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1215 Update dbcc-show-statistics-transact-sql.md
  docs/t-sql/database-console-commands/dbcc-show-statistics-transact-sql.md
Labels: Change sent to author, Issue-Outcome-4-Fixed, ready-to-merge, sql/prod

#1525 t
  docs/database-engine/configure-windows/configure-windows-service-accounts-and-permissions.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1526 Removed extra ) in the paragraph Benefits of the Buffer Pool Extension
  docs/database-engine/configure-windows/buffer-pool-extension.md
Labels: Change sent to author, do-not-merge, sql/prod

#1464 Update sys-availability-replicas-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-availability-replicas-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1529 Minor formatting edits
  docs/2014/2014-toc/sql-server-transaction-locking-and-row-versioning-guide.md
Labels: Change sent to author, do-not-merge, sql-server-2014/prod

#1530 Fixes two tables from failing to render due to missing newline
  docs/relational-databases/graphs/sql-graph-architecture.md
Labels: Change sent to author, do-not-merge, sql/prod

#1527 Update dma-consolidatereports.md
  docs/dma/dma-consolidatereports.md
Labels: Change sent to author, do-not-merge, sql/prod

#1521 missing brackets, wrong parameter name
  docs/database-engine/availability-groups/windows/maintaining-an-always-on-publication-database-sql-server.md
  docs/database-engine/availability-groups/windows/replication-subscribers-and-always-on-availability-groups-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1531 Fix probable typo in FILESTREAM RAID documentation
  docs/relational-databases/blob/enable-and-configure-filestream.md
Labels: Change sent to author, do-not-merge, sql/prod

#1524 typo
  docs/relational-databases/backup-restore/restore-a-database-backup-using-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod

#1453 Fixed array out of bounds exception
  docs/relational-databases/replication/codesnippet/csharp/rmohowto/rmotestevelope.cs
Labels: Change sent to author, do-not-merge

#1534 Minor fix: Place abbreviation directly after term
  docs/relational-databases/security/dynamic-data-masking.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1535 Update setting-the-connection-properties.md
  docs/connect/jdbc/setting-the-connection-properties.md
Labels: Change sent to author, do-not-merge, sql/prod

#1536 Correct default state
  docs/t-sql/statements/alter-security-policy-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1516 Setting the real SSMS option value
  docs/relational-databases/performance/monitoring-performance-by-using-the-query-store.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1533 Fixed error in example
  docs/t-sql/language-elements/throw-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1542 Update always-encrypted-api-reference-for-the-jdbc-driver.md
  docs/connect/jdbc/always-encrypted-api-reference-for-the-jdbc-driver.md
Labels: Change sent to author, do-not-merge, sql/prod

#1551 Update create-trigger-transact-sql.md
  docs/t-sql/statements/create-trigger-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1523 wrong link
  docs/relational-databases/databases/manage-metadata-when-making-a-database-available-on-another-server.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1538 Added SharePoint Server 2019
  docs/reporting-services/report-server-sharepoint/deploy-report-viewer-web-part.md
Labels: Change sent to author, ready-to-merge, reporting-services/prod

#1528 Added "PRINT" to the list of statements that resest @@ROWCOUNT
  docs/t-sql/functions/rowcount-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1557 Update backup-transact-sql.md
  docs/t-sql/statements/backup-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1558 Removed identity restriction
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1561 Update sql-server-index-design-guide.md
  docs/relational-databases/sql-server-index-design-guide.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1565 update sql server help with Azure Data Studio
  docs/sql-server/sql-server-get-help.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1571 Update sql-server-get-help.md
  docs/sql-server/sql-server-get-help.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1580 typo: Double word "this"
  docs/relational-databases/in-memory-oltp/blog-hardware-in-memory-oltp.md
Labels: Change sent to author, do-not-merge, sql/prod

#1567 download page for 15.9.0
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1568 previous release page for 15.9.0
  docs/ssdt/previous-releases-of-sql-server-data-tools-ssdt-and-ssdt-bi.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1569 changelog for 15.9.0
  docs/ssdt/changelog-for-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1577 typo: correspondance -> correspondence
  docs/2014/analysis-services/server-properties/thread-pool-properties.md
  docs/analysis-services/server-properties/thread-pool-properties.md
Labels: Change sent to author, do-not-merge, sql/prod

#1579 typo: Double word "and"
  docs/analysis-services/instances/monitor-an-analysis-services-instance.md
  docs/ssms/sql-server-management-studio-changelog-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod

#1581 typo: Doube word "be"
  docs/relational-databases/performance/monitor-sql-server-components.md
Labels: Change sent to author, do-not-merge, sql/prod

#1582 typo: Double word "the"
  docs/sql-server/sql-server-get-help.md
Labels: Change sent to author, do-not-merge, sql/prod

#1583 typo: Double word "is"
  docs/ssms/sql-server-management-studio-changelog-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod

#1585 Corrected Azure blog storage to Azure blob storage
  docs/integration-services/import-export-data/import-and-export-data-with-the-sql-server-import-and-export-wizard.md
Labels: Change sent to author, do-not-merge, sql/prod

#1578 typo: Serivce -> Service
  docs/2014/analysis-services/instances/install-windows/checklist-use-powershell-to-verify-power-pivot-for-sharepoint.md
  docs/2014/analysis-services/power-pivot-sharepoint/power-pivot-management-dashboard-and-usage-data.md
  docs/2014/sql-server/install/reporting-services-sharepoint-mode-authentication.md
  docs/advanced-analytics/install/sql-machine-learning-services-ver15.md
  docs/analysis-services/instances/install-windows/checklist-use-powershell-to-verify-power-pivot-for-sharepoint.md
  docs/analysis-services/power-pivot-sharepoint/power-pivot-management-dashboard-and-usage-data.md
  docs/reporting-services/troubleshooting/troubleshoot-reporting-services.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#1552 Update sql-vulnerability-assessment.md
  docs/relational-databases/security/sql-vulnerability-assessment.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1586 Spelling/grammar changes "then" to "than" line 67.
  docs/relational-databases/statistics/statistics.md
Labels: Change sent to author, do-not-merge, sql/prod

#1502 change the place of partition_number description
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-index-operational-stats-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1507 Updated/Added note for parameters
  docs/relational-databases/system-stored-procedures/sp-deletetracertokenhistory-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1576 typo: Remove "_sever_name_"
  docs/2014/ssms/agent/set-sql-server-connection-for-sql-server-agent-service-ssms.md
  docs/ssms/agent/set-sql-server-connection-for-sql-server-agent-service-ssms.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1587 fix a doc bug for SSDT for VS 2017 15.9.0
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1588 fix some inaccurate words in release note
  docs/ssdt/changelog-for-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1595 Query text does not match descriptions
  docs/t-sql/statements/create-statistics-transact-sql.md
Labels: do-not-merge

#1596 fixed missing FORMAT_TYPE
  docs/t-sql/statements/create-external-file-format-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1598 Fix January
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, do-not-merge, sql/prod

#1600 Indentation error in code Verify Python exists
  docs/advanced-analytics/tutorials/quickstart-python-verify.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1601 Next steps link wrong
  docs/advanced-analytics/tutorials/quickstart-python-run-using-t-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod
