Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-10, with the labels that each got.

#2947 bdc subcommnad was missing in few places
  docs/big-data-cluster/reference-azdata-bdc-spark-batch.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, ready-to-merge, sql/prod

#2946 bdc subcommand is missing if few places (bdc spark session)
  docs/big-data-cluster/reference-azdata-bdc-spark-session.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, ready-to-merge, sql/prod

#2945 bdc subcommand is missing in few places (bdc spark statement)
  docs/big-data-cluster/reference-azdata-bdc-spark-statement.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, ready-to-merge, sql/prod

#2980 Make formatting consistent for SQL examples under "CREATE INDEX" page
  docs/t-sql/statements/create-index-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3091 Correction to rows returned without ESCAPE
  docs/t-sql/language-elements/like-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3077 Clarify the connection between VDI and VSS
  docs/database-engine/configure-windows/sql-writer-service.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, ready-to-merge, sql/prod

#2781 Remove 16GB memory minimum recommendation
  docs/database-engine/configure-windows/hybrid-buffer-pool.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, do-not-merge, sql/prod

#2899 added step (4) including command to start bdc deployment based on profile changes
  docs/big-data-cluster/deployment-high-availability.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2779 Add LPIM requirement
  docs/database-engine/configure-windows/hybrid-buffer-pool.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, do-not-merge, sql/prod

#3117 Fix a typo
  docs/integration-services/import-export-data/choose-a-data-source-sql-server-import-and-export-wizard.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#3118 Update shrink-a-file.md
  docs/relational-databases/databases/shrink-a-file.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#3109 Update overview-of-always-on-availability-groups-sql-server.md
  docs/database-engine/availability-groups/windows/overview-of-always-on-availability-groups-sql-server.md
Labels: Change sent to author, assessing_(C&L), high-availability/tech, ready-to-merge, sql/prod

#3116 Update examples-of-bulk-access-to-data-in-azure-blob-storage.md
  docs/relational-databases/import-export/examples-of-bulk-access-to-data-in-azure-blob-storage.md
Labels: Change sent to author, assessing_(C&L), data-movement/tech, ready-to-merge, sql/prod

#3127 Update sqldev-py5-train-and-save-a-model-using-t-sql.md
  docs/advanced-analytics/tutorials/sqldev-py5-train-and-save-a-model-using-t-sql.md
Labels: Change sent to author, do-not-merge, machine-learning/tech, sql/prod

#3142 Typo "**@login_name**"→"**\@login_name**"
  docs/relational-databases/system-stored-procedures/sp-grant-login-to-proxy-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#3141 Typo "**@plan_handle**"→"**\@plan_handle**"
  docs/relational-databases/errors-events/mssqlserver-10532-database-engine-error.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, supportability/tech

#3140 Typo "**@hints**"→"**\@hints**"
  docs/relational-databases/errors-events/mssqlserver-10519-database-engine-error.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#3139 Typo "**@username**"→"**\@username**"
  docs/relational-databases/system-stored-procedures/sysmail-add-account-sp-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3138 Remove an extraneous '['
  docs/database-engine/configure-windows/external-scripts-enabled-server-configuration-option.md
Labels: Change sent to author, configuration/tech, do-not-merge, sql/prod

#3134 Typo "**@path**"→"**\@path**"
  docs/relational-databases/system-stored-procedures/sp-fulltext-catalog-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#3126 Typo "**@agent_type=**"→"**\@agent_type=**"
  docs/relational-databases/system-stored-procedures/sp-update-agent-profile-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, replication/tech, sql/prod

#3125 Typo "**@publication=**"→"**\@publication=**"
  docs/relational-databases/system-stored-procedures/sp-validatemergepublication-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, replication/tech, sql/prod

#3106 Edited return value in example "B".
  docs/t-sql/functions/round-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3121 Adding SMO requirement on .NET Core
  docs/relational-databases/server-management-objects-smo/installing-smo.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod

#3146 Fix typo
  docs/relational-databases/tutorial-use-azure-blob-storage-service-with-sql-server-2016.md
Labels: Change sent to author, do-not-merge, sql/prod

#3149 Fix typo
  docs/relational-databases/system-stored-procedures/sp-posttracertoken-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3150 Fix DTS reference to SSIS, also formatting
  docs/relational-databases/replication/administration/frequently-asked-questions-for-replication-administrators.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, replication/tech, sql/prod

#3157 Typo "**@failover_mode=**"→"**\@failover_mode=**"
  docs/relational-databases/system-stored-procedures/sp-setreplfailovermode-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3163 Typo "**@provstr**"→"**\@provstr**"
  docs/relational-databases/native-client/features/service-principal-name-spn-support-in-client-connections.md
Labels: Change sent to author, do-not-merge, native-client/tech, sql/prod

#3160 Typo "**@ID(Integer)**"→"**\@ID(Integer)**"
  docs/reporting-services/report-data/element-path-syntax-for-xml-report-data-ssrs.md
Labels: Change sent to author, do-not-merge, report-data/tech, reporting-services/prod

#3161 Typo "**@table**"→"**\@table**"
  docs/relational-databases/system-stored-procedures/sp-table-validation-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3164 Typo "**@source_object**"→"**\@source_object**"
  docs/relational-databases/system-stored-procedures/sp-addmergearticle-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3162 Typo "**@Name**"→"**\@Name**"
  docs/relational-databases/policy-based-management/lesson-2-create-and-apply-a-naming-standards-policy.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod

#3099 Added a missing closing parenthesis.
  docs/t-sql/statements/alter-security-policy-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, t-sql/tech

#3170 fixed misformatted arguments and corrected a typo
  docs/t-sql/statements/execute-as-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, t-sql/tech

#3156 Add underscore to DATA_SOURCE in syntax section.
  docs/t-sql/statements/bulk-insert-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, t-sql/tech

#3175 Typo "*@script*"→"*\@script*"
  docs/advanced-analytics/r/converting-r-code-for-use-in-sql-server.md
Labels: Change sent to author, do-not-merge, machine-learning/tech, sql/prod

#3217 Typo "*@new_collection_value*"→"*\@new_collection_value*"
  docs/relational-databases/performance/using-the-query-store-with-in-memory-oltp.md
Labels: Change sent to author, do-not-merge, performance/tech, sql/prod

#3216 Typo "*@enabled*"→"*\@enabled*"
  docs/database-engine/availability-groups/windows/replicate-track-change-data-capture-always-on-availability.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#3215 Typo "*@password*"→"*\@password*"
  docs/relational-databases/errors-events/mssqlserver-21889-database-engine-error.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#3214 Typo "*@StartProductID*"→"*\@StartProductID*"
  docs/2014/analysis-services/relational-query-designer-ssas.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql-server-2014/prod

#3213 Typo "*@machinelistfile*"→"*\@machinelistfile*"
  docs/tools/sqldiag-utility.md
Labels: Change sent to author, do-not-merge, sql/prod, tools-other/tech

#3212 Typo "*@local_variable*"→"*\@local_variable*"
  docs/t-sql/language-elements/raiserror-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#3211 Typo "*@trigger_op*"→"*\@trigger_op*"
  docs/relational-databases/system-stored-procedures/sp-check-for-sync-trigger-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3207 Typo "*@redirected_publisher*"→"*\@redirected_publisher*"
  docs/relational-databases/system-stored-procedures/sp-validate-replica-hosts-as-publishers-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3205 Typo "*@durationinhours*"→"*\@durationinhours*"
  docs/relational-databases/system-stored-procedures/sys-sp-rda-get-rpo-duration-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, stored-procedures/tech

#3204 Typo "*@parametername*"→"*\@parametername*"
  docs/relational-databases/system-stored-procedures/sp-oamethod-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3201 Typo "*@redirected_publisher*"→"*\@redirected_publisher*"
  docs/relational-databases/system-stored-procedures/sp-validate-redirected-publisher-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3200 Typo "*@dbcc_statement_var*"→"*\@dbcc_statement_var*"
  docs/t-sql/database-console-commands/dbcc-help-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#3199 Typo "*@user_defined_event_id*"→"*\@user_defined_event_id*"
  docs/relational-databases/system-stored-procedures/sp-audit-write-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3198 Typo " *@conversation_group_id*"→" *\@conversation_group_id*"
  docs/t-sql/statements/get-conversation-group-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#3189 Typo "*@column_list*"→"*\@column_list*"
  docs/relational-databases/system-functions/sys-fn-all-changes-capture-instance-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3188 Typo "*@varbinary_variable*"→"*\@varbinary_variable*"
  docs/t-sql/statements/revert-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#3187 Typo "*@supports_net_changes*"→"*\@supports_net_changes*"
  docs/integration-services/change-data-capture/create-the-function-to-retrieve-the-change-data.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#3186 Typo "*@option*"→"*\@option*"
  docs/relational-databases/system-functions/filetablerootpath-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3185 Typo "*@project_stream*"→"*\@project_stream*"
  docs/2014/integration-services/deploy-and-execute-ssis-packages-using-stored-procedures.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql-server-2014/prod

#3184 Typo "*@encryption_algorithm*"→"*\@encryption_algorithm*"
  docs/2014/database-engine/sql-server-managed-backup-to-windows-azure-retention-and-storage-settings.md
Labels: Change sent to author, backup-restore/tech, do-not-merge, sql-server-2014/prod

#3183 Typo "*@schema_name*"→"*\@schema_name*"
  docs/relational-databases/system-stored-procedures/temporal-table-sp-xtp-flush-temporal-history.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3182 Typo "*@StoreID*"→"*\@StoreID*"
  docs/reporting-services/tutorial-add-a-parameter-to-your-report-report-builder.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, reporting-services/tech

#3181 Typo "*@password*"→"*\@password*"
  docs/database-engine/availability-groups/windows/configure-replication-for-always-on-availability-groups-sql-server.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#3179 Typo "*@credential*"→"*\@credential**"
  docs/relational-databases/system-stored-procedures/sys-sp-rda-reauthorize-db-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, stored-procedures/tech

#3173 Typo "**@dbid**"→"**\@dbid**"
  docs/relational-databases/extended-events/quick-start-extended-events-in-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, xevents/tech

#3174 Typo "**@primaryButtonBg**"→"**\@primaryButtonBg**"
  docs/reporting-services/branding-the-web-portal.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, reporting-services/tech

#3172 Typo "**@DatabaseMailEnabled**"→"**\@DatabaseMailEnabled**"
  docs/relational-databases/policy-based-management/lesson-1-create-and-apply-an-off-by-default-policy.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod

#3193 Typo "*@StartProductID*"→"*\@StartProductID*"
  docs/reporting-services/report-data/text-based-query-designer-user-interface-report-builder.md
Labels: Change sent to author, ready-to-merge, report-data/tech, reporting-services/prod

#3196 Typo "*@objname*"→"*\@objname*"
  docs/relational-databases/system-stored-procedures/sp-spaceused-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3195 Typo "*@option*"→"*\@option*"
  docs/relational-databases/system-functions/pathname-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3237 Typo "**@ignore_distributor**"→"**\@ignore_distributor**"
  docs/relational-databases/system-stored-procedures/sp-dropdistpublisher-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3236 Typo "**@keepfulltextindexfile**"→"**\@keepfulltextindexfile**"
  docs/relational-databases/system-stored-procedures/sp-detach-db-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3235 Typo "**@NewParent**"→"**\@NewParent**"
  docs/t-sql/data-types/getreparentedvalue-database-engine.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#3234 Typo "**@sid**"→"**\@sid**"
  docs/2014/sql-server/install/rename-logins-matching-fixed-server-role-names.md
Labels: Change sent to author, database-engine/tech, do-not-merge, sql-server-2014/prod

#3233 Typo "**@myDoc**"→"**\@myDoc**"
  docs/t-sql/xml/query-method-xml-data-type.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#3232 Typo "**@Somedate**"→"**\@Somedate**"
  docs/t-sql/xml/exist-method-xml-data-type.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#3231 Typo "**@timestamp**"→"**\@timestamp**"
  docs/reporting-services/subscriptions/file-share-delivery-in-reporting-services.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, subscriptions/tech

#3229 Typo "*@CandidateID*"→"*\@CandidateID*"
  docs/relational-databases/search/find-similar-and-related-documents-with-semantic-search.md
Labels: Change sent to author, do-not-merge, search/tech, sql/prod

#3228 Typo "*@tran_name_variable*"→"*\@tran_name_variable*"
  docs/t-sql/language-elements/commit-transaction-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#3227 Typo "*@schedule_uid*"→"*\@schedule_uid*"
  docs/2014/database-engine/behavior-changes-to-database-engine-features-in-sql-server-2014.md
Labels: Change sent to author, database-engine/tech, do-not-merge, sql-server-2014/prod

#3226 Typo "*@keep_partition_changes*"→"*\@keep_partition_changes*"
  docs/relational-databases/system-views/sysmergeextendedarticlesview-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3225 Typo "*@t*"→"*\@t*"
  docs/t-sql/functions/datepart-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#3224 Typo "*@t*"→"*\@t*"
  docs/t-sql/functions/datename-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#3194 Typo "*@option*"→"*\@option*"
  docs/relational-databases/system-functions/getfilenamespacepath-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#3192 Typo "*@replicate_ddl*"→"*\@replicate_ddl*"
  docs/relational-databases/system-stored-procedures/sp-addmergepublication-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, replication/tech, sql/prod

#3190 Typo "*@mode*"→"*\@mode*"
  docs/relational-databases/system-stored-procedures/sys-sp-rda-set-query-mode-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, stored-procedures/tech

#3180 Typo "*@head_node_address*"→"*\@head_node_address*"
  docs/relational-databases/system-stored-procedures/polybase-stored-procedures-sp-polybase-join-group.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#3178 Typo "*@profile_name*"→"*\@profile_name*"
  docs/relational-databases/database-mail/create-a-database-mail-profile.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod

#3177 Typo "*@json_val*"→"*\@json_val*"
  docs/azure-data-studio/tutorial-sql-editor.md
Labels: Change sent to author, assessing_(C&L), azure-data-studio/tech, do-not-merge, sql/prod

#3033 fix grammar and clarity
  ReadMe.md
Labels: assessing_(C&L), do-not-merge, review-team-triage

#3037 Table on page has a set width somewhere and causing a horizontal scro…
  docs/reporting-services/report-server-web-service/methods/report-server-namespace-management-methods.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, report-server-web-service/tech, reporting-services/prod

#3119 Typos and formatting for data-tier-applications.md
  docs/relational-databases/data-tier-applications/data-tier-applications.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod

#3176 Update sql-server-linux-configure-docker.md
  docs/linux/sql-server-linux-configure-docker.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, linux/tech, sql/prod

#3265 Typo "**@enabled**"→"**\@enabled**"
  docs/ssms/agent/sql-server-agent-fixed-database-roles.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech

#3302 Typo "**@fCreateCookie**"→"**\@fCreateCookie**"
  docs/relational-databases/system-stored-procedures/sp-setapprole-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#3298 Typo "**@name_in_db**"→"**\@name_in_db**"
  docs/relational-databases/system-stored-procedures/sp-grantdbaccess-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#3262 Typo "**@username**"→"**\@username**"
  docs/relational-databases/system-stored-procedures/sysmail-update-account-sp-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#3257 Typo "**@proxy_name**"→"**\@proxy_name**"
  docs/relational-databases/system-stored-procedures/sp-update-proxy-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#3308 Typo "**id user@contoso.com**"→"**id user\@contoso.com**"
  docs/linux/sql-server-linux-active-directory-join-domain.md
Labels: Change sent to author, do-not-merge, linux/tech, sql/prod

#3305 Typo "**@sync_type**"→"**@sync_type**"
  docs/relational-databases/system-tables/syssubscriptions-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3304 Typo "**@legacy_format**"→"**\@legacy_format**"
  docs/relational-databases/system-stored-procedures/sp-help-alert-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3301 Typo "**@language**"→"**\@language**"
  docs/relational-databases/system-stored-procedures/sp-execute-external-script-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3300 Typo "**@phystype**"→"**\@phystype**"
  docs/relational-databases/system-stored-procedures/sp-addtype-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3299 Typo "**@updateusage**"→"**\@updateusage**"
  docs/relational-databases/databases/display-data-and-log-space-information-for-a-database.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#3297 Typo "**@cookie**"→"**\@cookie**"
  docs/relational-databases/system-stored-procedures/sp-unsetapprole-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3295 Typo "**@monitor_server**"→"**\@monitor_server**"
  docs/relational-databases/system-tables/log-shipping-primary-databases-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3294 Typo "**@stmt**"→"**\@stmt**"
  docs/relational-databases/performance/use-sql-server-profiler-to-create-and-test-plan-guides.md
Labels: Change sent to author, do-not-merge, performance/tech, sql/prod

#3293 Typo "**@last_child**"→"**\@last_child**"
  docs/relational-databases/hierarchical-data-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod

#3292 Typo "**@loadOnlyIfNotLoaded**"→"**\@loadOnlyIfNotLoaded**"
  docs/relational-databases/system-stored-procedures/sp-fulltext-load-thesaurus-file-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3291 Typo "**@provstr**"→"**\@provstr**"
  docs/relational-databases/system-stored-procedures/sp-addlinkedserver-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3290 Typo "**@on**"→"**\@on**"
  docs/relational-databases/system-stored-procedures/sp-trace-setevent-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3289 Typo "**@ReportName**"→"**\@ReportName**"
  docs/reporting-services/subscriptions/e-mail-delivery-in-reporting-services.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, subscriptions/tech

#3288 Typo "**@filename1**"→"**\@filename1**"
  docs/relational-databases/system-stored-procedures/sp-attach-db-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3284 Typo "**@qs**"→"**\@qs**"
  docs/relational-databases/system-stored-procedures/sp-help-spatial-geometry-index-xml-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3283 Typo "**@credential_name**"→"**\@credential_name**"
  docs/relational-databases/system-stored-procedures/managed-backup-sp-backup-config-basic-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3282 Typo "**@qs**"→"**\@qs**"
  docs/relational-databases/system-stored-procedures/sp-help-spatial-geography-index-xml-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3281 Typo "**@suffix**"→"**\@suffix**"
  docs/relational-databases/system-stored-procedures/sp-help-category-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3280 Typo "**@queue_type**"→"**\@queue_type**"
  docs/relational-databases/system-stored-procedures/sysmail-help-queue-sp-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3279 Typo "**@component_type**"→"**\@component_type**"
  docs/relational-databases/system-stored-procedures/sp-help-fulltext-system-components-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3278 Typo "**@InputRowset**"→"**\@InputRowset**"
  docs/2014/analysis-services/advanced-data-mining-query-editor.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql-server-2014/prod

#3277 Typo "**@spid1**"→"**\@spid1**"
  docs/relational-databases/system-stored-procedures/sp-lock-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3276 Typo "**@username**"→"**\@username**"
  docs/relational-databases/system-stored-procedures/sysmail-help-account-sp-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3275 Typo "**@filename**"→"**\@filename**"
  docs/relational-databases/system-stored-procedures/sp-copysubscription-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3274 Typo "**@collection_mode**"→"**\@collection_mode**"
  docs/relational-databases/system-stored-procedures/sp-syscollector-run-collection-set-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3271 Typo "**@force_invalidate_snapshot**"→"**\@force_invalidate_snapshot**"
  docs/relational-databases/system-stored-procedures/sp-changemergefilter-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3270 Typo "**@automatic_post**"→"**\@automatic_post**"
  docs/relational-databases/system-stored-procedures/sp-add-jobserver-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3269 Typo "**@adventure-works.com**"→"**\@adventure-works.com**"
  docs/2014/tutorials/task-4-manaing-and-viewing-results.md
Labels: Change sent to author, data-quality-services/tech, do-not-merge, sql-server-2014/prod

#3268 Typo "**@originating_server**"→"**\@originating_server**"
  docs/relational-databases/system-stored-procedures/sp-delete-job-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3267 Typo "**@runinscaleout**"→"**\@runinscaleout**"
  docs/integration-services/scale-out/run-packages-in-integration-services-ssis-scale-out.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#3266 Typo "**@mycol**"→"**\@mycol**"
  docs/relational-databases/errors-events/mssqlserver-137-database-engine-error.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#3264 Typo "**@immediate_sync**"→"**\@immediate_sync**"
  docs/relational-databases/system-stored-procedures/sp-reinitpullsubscription-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3263 Typo "**@proxy_name**"→"**\@proxy_name**"
  docs/relational-databases/system-stored-procedures/sp-delete-proxy-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3296 Typo "**@sync_type**"→"**\@sync_type**"
  docs/relational-databases/system-views/syssubscriptions-system-view-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3286 Typo "**@qs**"→"**\@qs**"
  docs/relational-databases/system-stored-procedures/sp-help-spatial-geometry-index-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3287 Typo "**@no_checks**"→"**\@no_checks**"
  docs/relational-databases/system-stored-procedures/sp-dropdistributor-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#3285 Typo "**@qs**"→"**\@qs**"
  docs/relational-databases/system-stored-procedures/sp-help-spatial-geography-index-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3258 Typo "**@type**"→"**\@type**"
  docs/relational-databases/errors-events/mssqlserver-10521-database-engine-error.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#3255 Typo "**@principal_id**"→"**\@principal_id**"
  docs/relational-databases/system-stored-procedures/sysmail-add-principalprofile-sp-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3254 Typo "**@database_name**"→"**\@database_name**"
  docs/relational-databases/system-stored-procedures/sys-sp-rda-test-connection-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, stored-procedures/tech

#3253 Typo "**@continuous**"→"**\@continuous**"
  docs/relational-databases/system-stored-procedures/sys-sp-cdc-change-job-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3252 Typo "**@range_size**"→"**\@range_size**"
  docs/relational-databases/system-stored-procedures/sp-sequence-get-range-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3251 Typo "**@parameter_value**"→"**\@parameter_value**"
  docs/relational-databases/system-stored-procedures/sysmail-help-configure-sp-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3250 Typo "**@parameter_value**"→"**\@parameter_value**"
  docs/relational-databases/system-stored-procedures/sp-altermessage-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3249 Typo "**@older_than**"→"**\@older_than**"
  docs/relational-databases/system-stored-procedures/sp-delete-jobsteplog-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3248 Typo "**@params**"→"**\@params**"
  docs/relational-databases/errors-events/mssqlserver-10534-database-engine-error.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#3247 Typo " **@stmt**"→" **\@stmt**"
  docs/relational-databases/errors-events/mssqlserver-10509-database-engine-error.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#3246 Typo " **@stmt**"→" **\@stmt**"
  docs/relational-databases/errors-events/mssqlserver-10507-database-engine-error.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#3242 Typo "**@job_name**"→"**\@job_name**"
  docs/relational-databases/system-stored-procedures/sp-purge-jobhistory-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#3136 Update sys-server-event-sessions-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-server-event-sessions-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#3089 Updated file_guild column description
  docs/relational-databases/system-catalog-views/sys-database-files-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#3088 updated file_guid column description
  docs/relational-databases/system-catalog-views/sys-master-files-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#3315 fixing spelling error
  docs/reporting-services/reports/publishing-reports-to-a-report-server.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, reports/tech

#3313 Update big-data-cluster-overview.md
  docs/big-data-cluster/big-data-cluster-overview.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod
