Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-07, with the labels that each got.

#2412 Fix typo
  docs/t-sql/data-types/rowversion-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2413 Improve code formatting
  docs/t-sql/statements/merge-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, tracking (C&L)

#2356 Updated applies to - exclude MI
  docs/ssms/agent/resize-the-job-history-log.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech, tracking (C&L)

#2415 Correct typo
  docs/linux/sql-server-linux-configure-docker.md
Labels: Change sent to author, do-not-merge, linux/tech, sql/prod

#2411 Typo
  docs/mdx/vba-functions-in-mdx-and-dax.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql/prod, tracking (C&L)

#2033 EnableRemoteErrors SSMS doc improvement
  docs/reporting-services/report-server/enable-remote-errors-reporting-services.md
Labels: Change sent to author, do-not-merge, report-server/tech, reporting-services/prod

#2224 Update manage-subscription-owners-and-run-subscription-powershell.md
  docs/2014/reporting-services/subscriptions/manage-subscription-owners-and-run-subscription-powershell.md
Labels: Change sent to author, do-not-merge, reporting-services-native/tech, sql-server-2014/prod

#2291 Add 24 hour time formatting example
  docs/t-sql/functions/format-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2297 Feature name fix
  docs/sql-server/editions-and-components-of-sql-server-2017.md
Labels: Change sent to author, do-not-merge, sql/prod

#2298 Clarified clusterless
  docs/sql-server/what-s-new-in-sql-server-2017.md
Labels: Change sent to author, do-not-merge, sql/prod

#2396 Fixed error "Incorrect syntax near 'GO'."
  docs/relational-databases/security/tutorial-creating-using-indexes-on-enclave-enabled-columns-using-randomized-encryption.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod, tracking (C&L)

#2381 Fix typo in enable-kerberos.md
  docs/azure-data-studio/enable-kerberos.md
Labels: Change sent to author, azure-data-studio/tech, do-not-merge, sql/prod

#2419 Typo "COUNT_BIG (-SQL)"→"COUNT_BIG (Transact-SQL)"
  docs/t-sql/functions/count-big-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, tracking (C&L)

#2392 Updated Memory Management Architecture Guide
  docs/relational-databases/memory-management-architecture-guide.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech, tracking (C&L)

#2399 Update getting-started-with-database-engine-permissions.md
  docs/relational-databases/security/authentication-access/getting-started-with-database-engine-permissions.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod, tracking (C&L)

#2247 Correct error in the doc.
  docs/relational-databases/indexes/columnstore-indexes-query-performance.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech

#2440 Delete ```sql character , revise numbering
  docs/t-sql/lesson-3-deleting-database-objects.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2447 typo: Hieararchy -> Hierarchy
  docs/2014/analysis-services/select-dimension-attributes-dimension-wizard.md
  docs/2014/database-engine/invoke-policyevaluation-cmdlet.md
Labels: Change sent to author, database-engine/tech, do-not-merge, sql-server-2014/prod

#2449 fix: MD039/no-space-in-links
  docs/2014/integration-services/data-flow/excel-source.md
  docs/2014/relational-databases/in-memory-oltp/resolve-out-of-memory-issues.md
  docs/sql-server/install/configure-the-windows-firewall-to-allow-sql-server-access.md
  docs/sql-server/what-s-new-in-sql-server-ver15.md
  docs/ssms/download-sql-server-management-studio-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech

#2450 fix: MD037/no-space-in-emphasis
  docs/relational-databases/backup-restore/back-up-a-transaction-log-sql-server.md
  docs/relational-databases/graphs/sql-graph-shortest-path.md
  docs/relational-databases/polybase/polybase-troubleshoot-connectivity.md
  docs/relational-databases/search/improve-the-performance-of-full-text-indexes.md
  docs/t-sql/statements/alter-index-transact-sql.md
  docs/t-sql/statements/create-index-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2461 typo: Double word "account"
  docs/azure-data-studio/release-notes-azure-data-studio.md
Labels: Change sent to author, azure-data-studio/tech, do-not-merge, sql/prod

#2460 typo: Double word "called"
  docs/big-data-cluster/big-data-cluster-create-apps.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#2463 typo: Double word "new"
  docs/big-data-cluster/release-notes-big-data-cluster.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#2465 typo: Double word "up"
  docs/relational-databases/in-memory-oltp/piecemeal-restore-of-databases-with-memory-optimized-tables.md
Labels: Change sent to author, do-not-merge, in-memory-oltp/tech, sql/prod

#2464 typo: Double word "the"
  docs/advanced-analytics/administration/monitor-sql-server-machine-learning-services-using-dynamic-management-views.md
  docs/azure-data-studio/sql-server-2019-extension.md
  docs/database-engine/availability-groups/windows/administration-of-an-availability-group-sql-server.md
  docs/dma/dma-consolidatereports.md
  docs/relational-databases/native-client/odbc/performing-transactions-distributed-transactions.md
  docs/reporting-services/tools/sample-reporting-services-rs-exe-script-to-copy-content-between-report-servers.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, tools/tech

#2466 typo: Double word "how"
  docs/reporting-services/report-builder/report-builder-in-sql-server-2016.md
Labels: Change sent to author, do-not-merge, report-builder/tech, reporting-services/prod

#2467 typo: Double word "new"
  docs/sql-server/what-s-new-in-sql-server-ver15.md
Labels: Change sent to author, do-not-merge, release-landing/tech, sql/prod

#2468 typo: Double word "a"
  docs/toc.yml
Labels: do-not-merge, review-team-triage

#2166 Update sys-dm-exec-requests-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-exec-requests-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2474 chore: Cleanup redirect.json
  .openpublishing.redirection.json
Labels: do-not-merge, review-team-triage

#2472 Update walkthrough-set-up-integration-services-scale-out.md
  docs/integration-services/scale-out/walkthrough-set-up-integration-services-scale-out.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod, tracking (C&L)

#2487 typo: securtiy -> security
  docs/2014/analysis-services/power-pivot-sharepoint/power-pivot-authentication-and-authorization.md
  docs/analysis-services/power-pivot-sharepoint/power-pivot-authentication-and-authorization.md
Labels: Change sent to author, analysis-services/tech, do-not-merge, sql/prod

#2496 Remove extraneous column in ALTER DATABASE MAXSIZE for DTU pricing
  docs/t-sql/statements/alter-database-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2500 data type syntax missing underscore in name
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#2519 Point to the final resting place of the new cmdlet
  docs/relational-databases/extended-events/advanced-viewing-of-target-data-from-extended-events-in-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, xevents/tech

#2517 odd formatting on description of @params argument
  docs/relational-databases/system-stored-procedures/sp-executesql-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#2514 Update sql-server-linux-performance-best-practices.md
  docs/linux/sql-server-linux-performance-best-practices.md
Labels: Change sent to author, do-not-merge, linux/tech, sql/prod

#2515 Update sql-server-linux-configure-mssql-conf.md
  docs/linux/sql-server-linux-configure-mssql-conf.md
Labels: Change sent to author, do-not-merge, linux/tech, sql/prod

#2523 Updated principals-database-engine.md
  docs/relational-databases/security/authentication-access/principals-database-engine.md
Labels: Change sent to author, assessing (C&L), do-not-merge, security/tech, sql/prod

#2525 Update create-or-configure-an-availability-group-listener-sql-server.md
  docs/database-engine/availability-groups/windows/create-or-configure-an-availability-group-listener-sql-server.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#2520 update download page for SSDT for VS2017 15.9.2
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: assessing (C&L), do-not-merge, review-team-triage

#2518 remove self-referencing link
  docs/relational-databases/system-stored-procedures/sp-executesql-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, system-objects/tech

#2521 update release note for SSDT for VS2017 15.9.2
  docs/ssdt/release-notes-ssdt.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, ssdt/tech

#2522 update previous releases for SSDT forVS2017 15.9.2
  docs/ssdt/previous-releases-of-sql-server-data-tools-ssdt-and-ssdt-bi.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, ssdt/tech

#2380 Replace `smart_backup` schema with `smart_admin`
  docs/2014/database-engine/sql-server-managed-backup-to-windows-azure-retention-and-storage-settings.md
Labels: Change sent to author, assessing (C&L), backup-restore/tech, do-not-merge, sql-server-2014/prod

#2486 update dma configration file
  docs/dma/dma-configurationsettings.md
Labels: Change sent to author, assessing (C&L), dma/tech, do-not-merge, sql/prod

#2210 Fixing note to note that TDE still blocks moving or restoring to most…
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-persisted-sku-features-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, system-objects/tech

#2510 Fix syntax in example D
  docs/t-sql/statements/grant-database-permissions-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, t-sql/tech

#2532 Updated principals-database-engine.md
  docs/relational-databases/security/authentication-access/principals-database-engine.md
Labels: Change sent to author, assessing (C&L), do-not-merge, security/tech, sql/prod

#2566 Update configure-distributed-availability-groups.md
  docs/database-engine/availability-groups/windows/configure-distributed-availability-groups.md
Labels: Change sent to author, assessing (C&L), do-not-merge, high-availability/tech, sql/prod

#2484 Correct temporal anomaly for CU14 and CU15
  docs/linux/sql-server-linux-release-notes.md
Labels: Change sent to author, assessing (C&L), do-not-merge, linux/tech, sql/prod

#2480 Add t-shooting step for permisison on socket
  docs/linux/sql-server-linux-configure-docker.md
Labels: Change sent to author, assessing (C&L), do-not-merge, linux/tech, sql/prod

#2303 For better understand with the cursor contents
  docs/t-sql/language-elements/while-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, t-sql/tech

#2572 Update perform-a-forced-manual-failover-of-an-availability-group-sql-…
  docs/database-engine/availability-groups/windows/perform-a-forced-manual-failover-of-an-availability-group-sql-server.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#2462 typo: Double word "application"
  docs/big-data-cluster/reference-mssqlctl-app.md
Labels: Change sent to author, assessing (C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2583 Spelling Correction 3. Tight-click --> Right-click
  docs/2014/relational-databases/database-mail/configure-database-mail.md
Labels: Change sent to author, do-not-merge, sql-server-2014/prod

#2482 Corrected datatypes
  docs/relational-databases/system-catalog-views/sys-resource-stats-azure-sql-database.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql-database/svc

#2586 Update revoke-transact-sql.md
  docs/t-sql/statements/revoke-transact-sql.md
Labels: assessing (C&L), do-not-merge

#2565 Update bcp-utility to include -l option
  docs/tools/bcp-utility.md
Labels: assessing (C&L), do-not-merge, review-team-triage

#2561 Clarification for sp_configure
  docs/relational-databases/system-stored-procedures/sp-configure-transact-sql.md
Labels: Change sent to author, assessing (C&L), ready-to-merge, sql/prod, system-objects/tech

#2547 missed parenthesis
  docs/t-sql/functions/openjson-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, t-sql/tech

#2232 STRING_AGG Add sentence to Example A
  docs/t-sql/functions/string-agg-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, t-sql/tech

#2395 AlwaysOn is not availability groups
  docs/relational-databases/security/encryption/always-encrypted-enclaves.md
Labels: Change sent to author, assessing (C&L), do-not-merge, security/tech, sql/prod

#2615 Update metadata-visibility-configuration.md
  docs/relational-databases/security/metadata-visibility-configuration.md
Labels: Change sent to author, assessing (C&L), ready-to-merge, security/tech, sql/prod

#2618 Adding in data exposed video
  docs/dma/dma-assess-sql-data-estate-to-sqldb.md
Labels: Change sent to author, dma/tech, ready-to-merge, sql/prod

#2274 Update backup-restore-and-move-the-ssis-catalog.md
  docs/2014/integration-services/backup-restore-and-move-the-ssis-catalog.md
Labels: Change sent to author, assessing (C&L), do-not-merge, integration-services/tech, sql-server-2014/prod

#2379 Update unicode-transact-sql.md
  docs/t-sql/functions/unicode-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, t-sql/tech

#2446 Correct typo in ENCRYPTION RESUME syntax
  docs/relational-databases/security/encryption/transparent-data-encryption.md
Labels: Change sent to author, assessing (C&L), do-not-merge, security/tech, sql/prod

#2584 Typo "**ORDER B**Y subclause"→"**ORDER BY** subclause"
  docs/t-sql/functions/next-value-for-transact-sql.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql/prod, t-sql/tech

#2506 Fix sample code external table
  docs/big-data-cluster/tutorial-data-pool-ingest-sql.md
Labels: Change sent to author, assessing (C&L), big-data-cluster/tech, do-not-merge, sql/prod

#2609 Added a link to the SQL Server Logs Doc
  docs/database-engine/configure-windows/diagnostic-connection-for-database-administrators.md
Labels: Change sent to author, assessing (C&L), configuration/tech, do-not-merge, sql/prod

#2555 Include metadata query for SQL2019
  docs/relational-databases/security/sql-data-discovery-and-classification.md
Labels: Change sent to author, assessing (C&L), do-not-merge, sql-database/svc

#2431 Update configure-always-encrypted-enclaves.md
  docs/relational-databases/security/encryption/configure-always-encrypted-enclaves.md
Labels: Change sent to author, assessing (C&L), ready-to-merge, security/tech, sql/prod

#2624 Fixing video not showing up in DMA assessment page
  docs/dma/dma-assess-sql-data-estate-to-sqldb.md
Labels: Change sent to author, dma/tech, ready-to-merge, sql/prod

#2254 Clarification of Data/Log file Englightment
  docs/database-engine/configure-windows/hybrid-buffer-pool.md
Labels: Change sent to author, configuration/tech, do-not-merge, sql/prod

#2627 Adding extra white line before video in DMA assessment page.
  docs/dma/dma-assess-sql-data-estate-to-sqldb.md
Labels: Change sent to author, dma/tech, ready-to-merge, sql/prod

#2634 Adding campaign tracking code to the video link
  docs/dma/dma-assess-sql-data-estate-to-sqldb.md
Labels: Change sent to author, dma/tech, ready-to-merge, sql/prod
