Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-12, with the labels that each got.

#3720 Fix User vs Login for granting exec to "xp_cmdshell"
  docs/relational-databases/system-stored-procedures/xp-cmdshell-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#3741 Rename management view
  docs/database-engine/availability-groups/windows/perform-a-planned-manual-failover-of-an-availability-group-sql-server.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#3693 Rename SP
  docs/relational-databases/accelerated-database-recovery-management.md
Labels: Change sent to author, assessing_(C&L), backup-restore/tech, ready-to-merge, sql/prod

#3539 Add missing SQLGetTypeInfo to the list
  docs/odbc/reference/develop-app/unicode-function-arguments.md
Labels: Change sent to author, assessing_(C&L), connectivity/tech, do-not-merge, sql/prod

#3742 Remove reference to Azure SQL DB
  docs/relational-databases/extended-events/view-the-extended-events-equivalents-to-sql-trace-event-classes.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, xevents/tech

#3645 Delete file which was created by mistake.
  grammar-fix,
Labels: assessing_(C&L), do-not-merge, review-team-triage

#3740 loopback_detection update
  docs/relational-databases/system-tables/mssubscriptions-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, replication/tech, sql/prod

#3752 Fixed a typo in a link.
  docs/database-engine/install-windows/install-sql-server-from-the-command-prompt.md
Labels: Change sent to author, install/tech, ready-to-merge, sql/prod

#3424 Update sql-server-connector-maintenance-troubleshooting.md
  docs/relational-databases/security/encryption/sql-server-connector-maintenance-troubleshooting.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security/tech, sql/prod

#3479 Fix a link
  docs/relational-databases/system-dynamic-management-views/sys-dm-cluster-endpoints.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#3756 Update sys-sysprocesses-transact-sql.md
  docs/relational-databases/system-compatibility-views/sys-sysprocesses-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#3768 The word 'display' was misspelled
  docs/reporting-services/report-builder/rendering-to-html-report-builder-and-ssrs.md
Labels: Change sent to author, ready-to-merge, report-builder/tech, reporting-services/prod

#3770 Fix casing
  docs/big-data-cluster/hdfs-tiering-mount-adlsgen2.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#3750 Update hints-transact-sql-query.md add SCALEOUTEXECUTION hint
  docs/t-sql/queries/hints-transact-sql-query.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3652 replace sqlops with azdata
  docs/azure-data-studio/extensibility-apis.md
Labels: Change sent to author, assessing_(C&L), azure-data-studio/tech, do-not-merge, sql/prod

#3775 Update configure-distributed-availability-groups.md
  docs/database-engine/availability-groups/windows/configure-distributed-availability-groups.md
Labels: Change sent to author, high-availability/tech, ready-to-merge, sql/prod

#3584 Update extension name
  docs/big-data-cluster/deploy-big-data-tools.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, ready-to-merge, sql/prod

#3480 Fix a view name
  docs/relational-databases/system-dynamic-management-views/sys-dm-exec-compute-pools.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#3465 Update from deprecated ADS extension to current
  docs/big-data-cluster/deployment-guidance.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, ready-to-merge, sql/prod

#3348 Update lesson-1-creating-database-objects.md to avoid deprecated data type
  docs/t-sql/lesson-1-creating-database-objects.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3732 Fix example mistakes in DatePart docs
  docs/t-sql/functions/datepart-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3731 Update datename-transact-sql.md
  docs/t-sql/functions/datename-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, ready-to-merge, sql/prod, t-sql/tech

#3707 Updated grammar in rowversion-transact-sql.md
  docs/t-sql/data-types/rowversion-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3686 Replaced code that returns the "instance_name"
  docs/t-sql/statements/create-availability-group-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3580 Adds a UserVoice link to known issues section
  docs/ssms/release-notes-ssms.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, ssms/tech

#3769 Correction to value returned from DM table
  docs/relational-databases/system-dynamic-management-views/sys-dm-hadr-availability-replica-cluster-states-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#3697 Typo "|pvt_key_last_backup_date|"→"|**pvt_key_last_backup_date**|"
  docs/relational-databases/system-catalog-views/sys-certificates-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#3821 Correction to SQL connection string
  docs/database-engine/availability-groups/windows/listeners-client-connectivity-application-failover.md
Labels: Change sent to author, high-availability/tech, ready-to-merge, sql/prod

#3827 Typo fix: "Follow" -> "Following"
  docs/big-data-cluster/machine-learning-services.md
Labels: Change sent to author, do-not-merge, machine-learning/tech, sql/prod

#3837 Missing SQL14 as subscriber for merge repl
  docs/includes/replication-compat-matrix.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/svc

#3809 Typo fix: add implied "not"
  docs/big-data-cluster/machine-learning-services.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, machine-learning/tech, sql/prod

#3819 Update SSIS 2019 for Linux doc
  docs/linux/sql-server-linux-setup-ssis.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, linux/tech, sql/prod

#3123 Update STRING_ESCAPE to consider the SQL compatibility version
  docs/t-sql/functions/string-escape-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3844 fix moniker
  docs/linux/sql-server-linux-setup-ssis.md
Labels: Change sent to author, linux/tech, ready-to-merge, sql/prod

#3849 Fix typo
  docs/relational-databases/json/solve-common-issues-with-json-in-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod

#3735 Fix indent
  docs/t-sql/language-elements/begin-end-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3622 Adding clarification points for readability and understanding
  docs/relational-databases/pages-and-extents-architecture-guide.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod

#3839 Clarify Bulk-logged recovery model
  docs/relational-databases/backup-restore/recovery-models-sql-server.md
Labels: Change sent to author, assessing_(C&L), backup-restore/tech, do-not-merge, ready-to-merge, sql/prod

#3873 Remove comma in select statement
  docs/relational-databases/extended-events/targets-for-extended-events-in-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, xevents/tech

#3779 Removed extra character
  docs/t-sql/statements/alter-role-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, t-sql/tech

#3481 Update sql-server-connector-maintenance-troubleshooting.md
  docs/relational-databases/security/encryption/sql-server-connector-maintenance-troubleshooting.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security/tech, sql/prod

#3835 added descriptions of current_execution_status values
  docs/relational-databases/system-stored-procedures/sp-help-job-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#3453 Update odata-source.md
  docs/integration-services/data-flow/odata-source.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, integration-services/tech, sql/prod

#3637 Update sql-server-linux-configure-docker.md
  docs/linux/sql-server-linux-configure-docker.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, linux/tech, sql/prod

#3863 Typo fix: missing space in code snippet
  docs/big-data-cluster/deployment-custom-configuration.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#3877 Incorrect sample parameter
  docs/database-engine/install-windows/install-sql-server-from-the-command-prompt.md
Labels: Change sent to author, do-not-merge, install/tech, sql/prod

#3883 Trivial text correction
  docs/advanced-analytics/what-is-sql-server-machine-learning.md
Labels: Change sent to author, do-not-merge, machine-learning/tech, sql/prod
