Repository MicrosoftDocs/sql-docs, pull requests merged in 2019-03, with the labels that each got.

#1697 Add reminder to specify HISTORY_TABLE
  docs/relational-databases/tables/stopping-system-versioning-on-a-system-versioned-temporal-table.md
Labels: Change sent to author, do-not-merge, sql/prod

#1699 Update alter table table_constraint
  docs/t-sql/statements/alter-table-table-constraint-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1703 Correct the placement of a ')'
  docs/t-sql/database-console-commands/dbcc-clonedatabase-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1706 Remove extra single quotes
  docs/t-sql/functions/concat-ws-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1683 Updated "important messages"
  docs/dma/dma-consolidatereports.md
Labels: Change sent to author, do-not-merge, sql/prod

#1707 Wording "No data loss happens" is confusing
  docs/relational-databases/tables/stopping-system-versioning-on-a-system-versioned-temporal-table.md
Labels: Change sent to author, do-not-merge, sql/prod

#1691 Clarify that select into is not atomic
  docs/t-sql/queries/select-into-clause-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1696 Update link
  docs/relational-databases/system-dynamic-management-views/sys-dm-os-performance-counters-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1708 Adding section on how to call dtexec from Bash shell
  docs/integration-services/packages/dtexec-utility.md
Labels: Change sent to author, do-not-merge, sql/prod

#1711 Fix a version typo 2107->2017
  docs/ssms/sql-server-management-studio-changelog-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod

#1716 Fixed WSFC terminology
  docs/database-engine/availability-groups/windows/enable-and-disable-always-on-availability-groups-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod

#1718 Update create-credential-transact-sql.md
  docs/t-sql/statements/create-credential-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1726 Adding known issue related to time-out on AppDeploy.
  docs/big-data-cluster/big-data-cluster-release-notes.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1727 Collation improvements: Part 1 of several
  docs/t-sql/functions/collation-functions-collationproperty-transact-sql.md
  docs/t-sql/statements/windows-collation-name-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1730 fix: docs/t-sql/xml/guidelines-for-using-xml-data-type-methods.md
  docs/t-sql/xml/guidelines-for-using-xml-data-type-methods.md
Labels: Change sent to author, do-not-merge, sql/prod

#1733 fix: docs/analytics-platform-system/appliance-feature-switch.md
  docs/analytics-platform-system/appliance-feature-switch.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1735 fix: docs/integration-services/scale-out/integration-services-ssis-scale-out-worker.md
  docs/integration-services/scale-out/integration-services-ssis-scale-out-worker.md
Labels: Change sent to author, do-not-merge, sql/prod

#1732 typo: becuase -> because
  docs/linux/sql-server-linux-availability-group-failover-ha.md
Labels: Change sent to author, do-not-merge, sql/prod

#1738 fix: docs/connect/odbc/linux-mac/data-access-tracing-with-the-odbc-driver-on-linux.md
  docs/connect/odbc/linux-mac/data-access-tracing-with-the-odbc-driver-on-linux.md
Labels: Change sent to author, do-not-merge, sql/prod

#1734 fix: MD038/no-space-in-code
  docs/2014/analysis-services/multidimensional-models/olap-physical/object-naming-rules-analysis-services.md
  docs/2014/reporting-services/tutorial-introducing-expressions.md
  docs/advanced-analytics/data-collection-ml-troubleshooting-process.md
  docs/advanced-analytics/install/sql-pretrained-models-install.md
  docs/analysis-services/data-mining/microsoft-logistic-regression-algorithm-technical-reference.md
  docs/analytics-platform-system/transparent-data-encryption.md
  docs/big-data-cluster/train-and-create-machinelearning-models-with-spark.md
  docs/connect/jdbc/jdbc-4-3-compliance-for-the-jdbc-driver.md
  docs/connect/odbc/linux-mac/connecting-with-sqlcmd.md
  docs/database-engine/configure-windows/database-engine-service-startup-options.md
  docs/integration-services/scale-out/integration-services-ssis-scale-out-worker.md
  docs/integration-services/scale-out/scale-out-support-for-high-availability.md
  docs/linux/sample-unattended-install-redhat.md
  docs/linux/sample-unattended-install-suse.md
  docs/linux/sample-unattended-install-ubuntu.md
  docs/relational-databases/backup-restore/sql-server-backup-to-url-best-practices-and-troubleshooting.md
  docs/relational-databases/graphs/sql-graph-architecture.md
  docs/relational-databases/import-export/use-a-format-file-to-map-table-columns-to-data-file-fields-sql-server.md
  docs/relational-databases/import-export/use-a-format-file-to-skip-a-data-field-sql-server.md
  docs/relational-databases/performance/subqueries.md
  docs/samples/wide-world-importers-oltp-database-catalog.md
  docs/t-sql/functions/concat-ws-transact-sql.md
  docs/t-sql/functions/trim-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1743 API Scan metadata fix
  docs/odbc/reference/syntax/sqlbrowseconnect-function.md
Labels: Change sent to author, do-not-merge, sql/prod

#1744 Metadata fix
  docs/odbc/reference/syntax/sqlbindparameter-function.md
Labels: Change sent to author, do-not-merge, sql/prod

#1602 Fix technical inaccuracies in DBCC CHECKIDENT doc
  docs/t-sql/database-console-commands/dbcc-checkident-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1710 File extension clarification
  docs/relational-databases/maintenance-plans/maintenance-cleanup-task-maintenance-plan.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1714 fixed issues with code sample
  docs/t-sql/language-elements/reconfigure-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1705 Change Derived Hierarchies order from Code to ID
  docs/master-data-services/derived-hierarchies-master-data-services.md
Labels: Change sent to author, Issue-Outcome-42-Fixed, ready-to-merge, sql/prod

#1715 Minor Update to Check CPU Usage command.
  docs/relational-databases/search/improve-the-performance-of-full-text-indexes.md
Labels: Change sent to author, Issue-Outcome-42-Fixed, ready-to-merge, sql/prod

#1755 fixing links which hardcoded pointed to the GitHug page instead of ri…
  docs/t-sql/functions/columns-updated-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1681 Added csvPath parameter
  docs/dma/dma-consolidatereports.md
Labels: Change sent to author, do-not-merge, sql/prod

#1764 Update format for bash and powershell
  docs/linux/sql-server-linux-configure-docker.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1700 Update dbcc-opentran-transact-sql.md
  docs/t-sql/database-console-commands/dbcc-opentran-transact-sql.md
Labels: Change sent to author, Issue-Outcome-42-Fixed, ready-to-merge, sql/prod

#1756 Update lesson-1-4-adding-package-configurations.md
  docs/integration-services/lesson-1-4-adding-package-configurations.md
Labels: Change sent to author, Issue-Outcome-42-Fixed, ready-to-merge, sql/prod

#1729 fix: docs/big-data-cluster/big-data-cluster-create-apps.md
  docs/big-data-cluster/big-data-cluster-create-apps.md
Labels: Change sent to author, do-not-merge, sql/prod

#1766 Remove duplicated "drop index" text
  docs/relational-databases/blob/filestream-ddl-functions-stored-procedures-and-views.md
Labels: Change sent to author, do-not-merge, sql/prod

#1713 removed "with override" from reconfigure statement
  docs/database-engine/configure-windows/view-or-configure-the-backup-compression-default-server-configuration-option.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1739 Update change-time-zones-and-clock-settings-on-a-report-server.md
  docs/reporting-services/subscriptions/change-time-zones-and-clock-settings-on-a-report-server.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#1741 Update dma command line
  docs/dma/dma-commandline.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1769 Fix syntax guide
  docs/integration-services/system-stored-procedures/catalog-validate-package-ssisdb-database.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1770 Fix syntax guide
  docs/integration-services/system-stored-procedures/catalog-validate-project-ssisdb-database.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1685 Azure SQL Database can't config in the SSMS
  docs/ssms/configure-login-auditing-sql-server-management-studio.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1695 Remove statement about aggregation in XE DMV
  docs/relational-databases/system-dynamic-management-views/sys-dm-xe-session-event-actions-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1728 Syntax errors
  docs/relational-databases/system-stored-procedures/sp-procoption-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1767 Remove lone quote & use conventional italics
  docs/relational-databases/system-stored-procedures/filestream-and-filetable-sp-filestream-force-garbage-collection.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1775 Update choose-an-encryption-algorithm.md
  docs/relational-databases/security/encryption/choose-an-encryption-algorithm.md
Labels: Change sent to author, do-not-merge, sql/prod

#1779 Ite3: fix some wording issue for download page
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1773 Improve examples for 'max server memory (MB)'
  docs/database-engine/configure-windows/server-memory-server-configuration-options.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1772 Fixed table formatting in markdown.
  docs/relational-databases/replication/non-sql/configure-an-oracle-publisher.md
  docs/relational-databases/replication/non-sql/heterogeneous-database-replication.md
Labels: Change sent to author, do-not-merge, sql/prod

#1785 Need some fix for versions
  docs/advanced-analytics/install/sql-ml-cab-downloads.md
Labels: Change sent to author, do-not-merge, sql/prod

#1790 Update all-transact-sql.md
  docs/t-sql/language-elements/all-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod

#1791 add SQL Support team under blogs section
  docs/sql-server/sql-server-get-help.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1794 update the download page according to feedback
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1796 Adding SQL Login Reference
  docs/database-engine/availability-groups/windows/configure-read-only-routing-for-an-availability-group-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1795 Update all-transact-sql.md
  docs/t-sql/language-elements/all-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1798 CSharp → C#
  docs/connect/ado-net/step-4-connect-resiliently-to-sql-with-ado-net.md
Labels: Change sent to author, do-not-merge, sql/prod

#1799 CSharp → C#
  docs/connect/ado-net/step-3-proof-of-concept-connecting-to-sql-using-ado-net.md
Labels: Change sent to author, do-not-merge, sql/prod

#1783 Change program name
  docs/reporting-services/install-windows/ssrs-encryption-keys-back-up-and-restore-encryption-keys.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#1712 Removed "pull subscription" wording from the description
  docs/relational-databases/system-stored-procedures/sp-refreshsubscriptions-transact-sql.md
Labels: ready-to-merge

#1804 Update sys-dm-db-resource-stats-azure-sql-database.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-resource-stats-azure-sql-database.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#1811 fix typo
  docs/relational-databases/performance/monitoring-performance-by-using-the-query-store.md
Labels: Change sent to author, do-not-merge, sql/prod

#1762 Added extra final step
  docs/relational-databases/security/tutorial-getting-started-with-always-encrypted-enclaves.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1759 Code example is clearer with a USE statement added
  docs/relational-databases/security/tutorial-getting-started-with-always-encrypted-enclaves.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1757 Improved the flow of the article's steps
  docs/relational-databases/security/tutorial-getting-started-with-always-encrypted-enclaves.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1813 Update create-and-store-column-master-keys-always-encrypted.md
  docs/relational-databases/security/encryption/create-and-store-column-master-keys-always-encrypted.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1822 docs: fix readability
  docs/relational-databases/xml/example-constructing-siblings-with-explicit-mode.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1810 docs: readability
  docs/relational-databases/xml/example-retrieving-employee-information.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1809 docs: readability
  docs/relational-databases/xml/examples-using-path-mode.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1821 Format the terms as headings
  docs/relational-databases/replication/non-sql/glossary-of-terms-for-oracle-publishing.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1815 data types fix; remarks simplify; more links added;
  docs/relational-databases/system-catalog-views/sys-firewall-rules-azure-sql-database.md
Labels: Change sent to author, do-not-merge, sql/prod

#1814 data types fix; remarks simplify; more links added;
  docs/relational-databases/system-catalog-views/sys-database-firewall-rules-azure-sql-database.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#1823 fix terms
  docs/relational-databases/system-dynamic-management-views/sys-dm-hadr-instance-node-map-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod

#1826 Update sql-server-ag-kubernetes.md
  docs/linux/sql-server-ag-kubernetes.md
Labels: Change sent to author, do-not-merge, sql/prod

#1830 Added Important Message
  docs/dma/dma-consolidatereports.md
Labels: Change sent to author, dma/tech, ready-to-merge, sql/prod

#1832 Add link to installing-updates-from-the-command-prompt.md
  docs/2014/database-engine/install-windows/install-sql-server-servicing-updates.md
Labels: Change sent to author, install/tech, ready-to-merge, sql-server-2014/prod

#1838 fixed a bad alias that gave wrong [Parameter-Name]
  docs/relational-databases/extended-events/selects-and-joins-from-system-views-for-extended-events-in-sql-server.md
Labels: Change sent to author, ready-to-merge, sql/prod, xevents/tech
