Repository MicrosoftDocs/sql-docs, pull requests merged in 2020-08, with the labels that each got.

#5261 Add missing property and datatypes for SERVERPROPERTY
  docs/t-sql/functions/serverproperty-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#4933 Update serverproperty-transact-sql.md
  docs/t-sql/functions/serverproperty-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5298 fix typo in Line-225
  docs/t-sql/queries/from-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5299 Update enable-updating-subscrip_1.sql
  docs/relational-databases/replication/codesnippet/tsql/enable-updating-subscrip_1.sql
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/svc

#5312 Typo "*@source_object*"→"*\@source_object*"
  docs/relational-databases/system-stored-procedures/sp-addmergearticle-transact-sql.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#5296 Update machine-learning-extension.md
  docs/azure-data-studio/machine-learning-extension.md
Labels: Change sent to author, aq-pr-triaged, azure-data-studio/prod, do-not-merge, machine-learning/tech

#5319 update sys-sp-cdc-add-job-transact-sql.md for pollinginterval setting
  docs/relational-databases/system-stored-procedures/sys-sp-cdc-add-job-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#5237 A digit was added to the query by mistake
  docs/relational-databases/tables/modifying-data-in-a-system-versioned-temporal-table.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, table-view-index/tech

#5131 Clarifying that NOEXEC parses and compiles and supports deferred name…
  docs/t-sql/statements/set-noexec-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5324 Update bulk-insert-transact-sql.md
  docs/t-sql/statements/bulk-insert-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5300 Add documentation about UTC time zone being fixed for SQL DB and Synapse Analytics
  docs/t-sql/functions/getdate-transact-sql.md
  docs/t-sql/functions/sysdatetime-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5308 Update to Query Governor
  docs/database-engine/configure-windows/configure-the-query-governor-cost-limit-server-configuration-option.md
Labels: Change sent to author, aq-pr-triaged, configuration/tech, do-not-merge, sql/prod

#5334 Corrected Stored Proc Name to 'sp_data_source_table_columns'
  docs/big-data-cluster/release-notes-big-data-cluster.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#5336 Typos database
  docs/data-quality-services/detaching-and-attaching-dqs-databases.md
  docs/database-engine/availability-groups/windows/create-an-availability-group-transact-sql.md
  docs/relational-databases/security/encryption/troubleshoot-tde.md
  docs/t-sql/statements/alter-database-transact-sql-set-options.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5313 fix typo in unicode-function-arguments document
  docs/odbc/reference/develop-app/unicode-function-arguments.md
Labels: Change sent to author, aq-pr-triaged, connectivity/tech, ready-to-merge, sql/prod

#5342 Update configure-read-scale-availability-groups.md
  docs/database-engine/availability-groups/windows/configure-read-scale-availability-groups.md
Labels: Change sent to author, high-availability/tech, ready-to-merge, sql/prod

#5343 Update ss-force-failover-read-scale-out.md
  docs/includes/ss-force-failover-read-scale-out.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge

#5359 Added variable verbiage
  docs/t-sql/language-elements/rollback-transaction-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5358 Typo correction and additional warning
  docs/t-sql/language-elements/variables-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5004 Update dbcc-pdw-showexecutionplan-transact-sql.md
  docs/t-sql/database-console-commands/dbcc-pdw-showexecutionplan-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, data-warehouse/tech, do-not-merge, sql/prod

#5326 Typo "Azure storage emulator"→"Azure Storage Emulator"
  docs/integration-services/azure-feature-pack-for-integration-services-ssis.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, integration-services/tech, sql/prod

#5279 Update openjson-transact-sql.md for JSON type clarity
  docs/t-sql/functions/openjson-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5373 Typo "storage emulator"→"Storage Emulator"
  docs/integration-services/import-export-data/connect-to-azure-blob-storage-sql-server-import-and-export-wizard.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, integration-services/tech, sql/prod

#5272 sql-server-linux-release-notes.md: fix link "Run on Docker"
  docs/linux/sql-server-linux-release-notes.md
Labels: Change sent to author, aq-pr-triaged, linux/tech, ready-to-merge, sql/prod

#5364 Update the `See Also` Section
  docs/t-sql/data-types/char-and-varchar-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5367 update download page for SSDT for VS2017 15.9.6
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, ssdt/tech

#5389 update release note for SSDT for VS2017 15.9.6
  docs/ssdt/release-notes-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod, ssdt/tech

#5384 Correct typo SAP BW
  docs/integration-services/lift-shift/ssis-azure-validate-packages.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, sql/prod
