Repository MicrosoftDocs/sql-docs, pull requests merged in 2020-02, with the labels that each got.

#4069 Update location of PSS article on sampling
  docs/t-sql/statements/update-statistics-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#4092 Adding EnablePowerBIReportExportUnderlyingData
  docs/reporting-services/tools/server-properties-advanced-page-reporting-services.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, reporting-services/prod, tools/tech

#4095 Rectify the RTM CABs that were shipped
  docs/advanced-analytics/install/sql-ml-component-install-without-internet-access.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, machine-learning/tech, sql/prod

#4096 SQL2017 CU17, CU18 contained same R/Python Cabs
  docs/advanced-analytics/install/sql-ml-cab-downloads.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, machine-learning/tech, sql/prod

#4108 Typo
  docs/t-sql/queries/hints-transact-sql-query.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#4057 Update sp-sequence-get-range-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-sequence-get-range-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, system-objects/tech

#4122 small syntax fix
  docs/relational-databases/in-memory-oltp/a-guide-to-query-processing-for-memory-optimized-tables.md
Labels: assessing_(C&L), do-not-merge

#4104 Consistent file names in Alpine-related snippet
  docs/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server.md
Labels: Change sent to author, assessing_(C&L), connectivity/tech, do-not-merge, sql/prod

#4125 fix typo in toc.yml "GetLevel)" -> "GetLevel"
  docs/toc.yml
Labels: do-not-merge, review-team-triage

#4129 Fix dead link
  docs/big-data-cluster/concept-data-persistence.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#3856 Update deploy-big-data-tools.md
  docs/big-data-cluster/deploy-big-data-tools.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#3858 Update deploy-on-aks.md
  docs/big-data-cluster/deploy-on-aks.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#3859 Update deploy-on-aks.md
  docs/big-data-cluster/deploy-on-aks.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#3860 Update deploy-on-aks.md
  docs/big-data-cluster/deploy-on-aks.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#3919 Update polybase-linux-setup.md
  docs/relational-databases/polybase/polybase-linux-setup.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, linux/tech, sql/prod

#3971 fix typo "extensibiltity" to "extensibility"
  docs/database-engine/configure-windows/configure-windows-service-accounts-and-permissions.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, do-not-merge, sql/prod

#3972 Remove SQL Server 2019 extension reference
  docs/big-data-cluster/big-data-cluster-overview.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#4010 Update to add clarity to how TRANSLATE works
  docs/t-sql/functions/translate-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, t-sql/tech

#4024 Changed "server" to "instance"
  docs/database-engine/configure-windows/configure-the-user-connections-server-configuration-option.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, do-not-merge, sql/prod

#4040 Add more detail about SQL Server named instance.
  docs/relational-databases/polybase/configure-scale-out-groups-windows.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, polybase/tech, sql/prod

#4074 Update secondary-replica-connection-redirection-always-on-availabilit…
  docs/database-engine/availability-groups/windows/secondary-replica-connection-redirection-always-on-availability-groups.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, high-availability/tech, sql/prod

#4107 Typo fix
  docs/big-data-cluster/deployment-high-availability.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#4106 Fix sentence fragment
  docs/big-data-cluster/deployment-guidance.md
Labels: Change sent to author, assessing_(C&L), big-data-cluster/tech, do-not-merge, sql/prod

#3964 Add IgnoreTablePartitionOptions parameter
  docs/tools/sqlpackage.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, ssdt/tech

#4029 Added usage documentation
  docs/tools/sqlpackage.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, ssdt/tech

#4101 Undo mistaken RTM cab change
  docs/advanced-analytics/install/sql-ml-component-install-without-internet-access.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, machine-learning/tech, sql/prod

#4137 Update usage-and-diagnostic-data-in-local-audit.md
  docs/sql-server/usage-and-diagnostic-data-in-local-audit.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, security/tech, sql/prod

#4067 Update info about Setup changes in SQL 2019
  docs/database-engine/configure-windows/configure-the-max-degree-of-parallelism-server-configuration-option.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, do-not-merge, sql/prod

#4123 Update xp-cmdshell-transact-sql.md
  docs/relational-databases/system-stored-procedures/xp-cmdshell-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#4147 Remove documentation for EmbedFonts
  docs/reporting-services/pdf-device-information-settings.md
Labels: Change sent to author, ready-to-merge, reporting-services/prod, reporting-services/tech

#4150 Fixed spelling/grammar error
  docs/reporting-services/install-windows/install-reporting-services.md
Labels: Change sent to author, do-not-merge, reporting-services/prod

#4168 Update mssqlserver-8992-database-engine-error.md
  docs/relational-databases/errors-events/mssqlserver-8992-database-engine-error.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, supportability/tech

#4179 Update troubleshoot-orphaned-users-sql-server.md
  docs/sql-server/failover-clusters/troubleshoot-orphaned-users-sql-server.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#4175 Fix code snippet
  docs/t-sql/statements/create-database-scoped-credential-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#4185 Incorrect spelling, or typing
  docs/database-engine/availability-groups/windows/use-the-availability-group-wizard-sql-server-management-studio.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#4190 Missing change in Replicate function on 90 to 100
  docs/t-sql/statements/alter-database-transact-sql-compatibility-level.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#4191 update with tuned profile
  docs/linux/sql-server-linux-performance-best-practices.md
Labels: Change sent to author, assessing_(C&L), linux/tech, ready-to-merge, sql/prod

#4224 Fix "READONLY" definition for CREATE FUNCTION
  docs/t-sql/statements/create-function-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, t-sql/tech

#4228 Fix NO_OUTPUT, should be outside cmd string
  docs/relational-databases/system-stored-procedures/xp-cmdshell-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#4240 Update blog link discussing soft-numa
  docs/database-engine/configure-windows/soft-numa-sql-server.md
Labels: Change sent to author, configuration/tech, do-not-merge, sql/prod
