Repository MicrosoftDocs/sql-docs, pull requests merged in 2020-09, with the labels that each got.

#5390 docs(sql): remove whitespace from connection string
  docs/database-engine/configure-windows/sql-server-express-localdb.md
Labels: Change sent to author, aq-pr-triaged, configuration/tech, ready-to-merge, sql/prod

#5408 Update reference-azdata-notebook.md
  docs/azdata/reference/reference-azdata-notebook.md
Labels: Change sent to author, aq-pr-triaged, big-data-cluster/tech, ready-to-merge, sql/prod

#5412 Update create-a-full-database-backup-sql-server.md
  docs/relational-databases/backup-restore/create-a-full-database-backup-sql-server.md
Labels: Change sent to author, backup-restore/tech, do-not-merge, sql/prod

#5286 If "project type" didn't appear, install extension
  docs/reporting-services/lesson-1-creating-a-report-server-project-reporting-services.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, reporting-services/prod, reporting-services/tech

#5423 Fixing the Example Code for Azure Key Vault
  docs/connect/jdbc/using-always-encrypted-with-the-jdbc-driver.md
Labels: Change sent to author, aq-pr-triaged, connectivity/tech, ready-to-merge, sql/prod

#5438 Update enable-encrypted-connections-to-the-database-engine.md
  docs/database-engine/configure-windows/enable-encrypted-connections-to-the-database-engine.md
Labels: Change sent to author, configuration/tech, do-not-merge, sql/prod

#5429 Add "priority boost" deprecation warning
  docs/relational-databases/thread-and-task-architecture-guide.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod

#5426 Clarify how to get started after installation
  docs/azure-data-studio/machine-learning-extension.md
Labels: Change sent to author, aq-pr-triaged, azure-data-studio/prod, do-not-merge, machine-learning/tech

#5448 Fixed first listed sp to not be a Header
  docs/relational-databases/system-stored-procedures/sql-data-warehouse-stored-procedures.md
Labels: do-not-merge

#5471 Fix typo in memory-management-architecture-guide.md
  docs/relational-databases/memory-management-architecture-guide.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech, triaged

#5452 Update sp-autostats-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-autostats-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech, triaged

#5458 Update ssis-azure-deploy-run-monitor-tutorial.md
  docs/integration-services/lift-shift/ssis-azure-deploy-run-monitor-tutorial.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, sql/prod, triaged

#5459 Small typo correction from build-in to built-in
  docs/relational-databases/tables/creating-a-system-versioned-temporal-table.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech, triaged

#5457 Update ssis-azure-schedule-packages.md
  docs/integration-services/lift-shift/ssis-azure-schedule-packages.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, sql/prod, triaged

#5425 Update quickstart-install-connect-suse.md
  docs/linux/quickstart-install-connect-suse.md
Labels: Change sent to author, ready-to-merge, review-team-triage, sql/prod, triaged

#5437 Update integration-services-service-ssis-service.md
  docs/integration-services/service/integration-services-service-ssis-service.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, review-team-triage, sql/prod, triaged

#5475 Fix minor typo in example heading
  docs/t-sql/statements/create-partition-scheme-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5478 Clarifying that Domain Name should not be included in the IDENTITY ar…
  docs/t-sql/statements/create-database-scoped-credential-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#5474 Update sys-fn-hadr-is-primary-replica-transact-sql.md
  docs/relational-databases/system-functions/sys-fn-hadr-is-primary-replica-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#5407 Fix description for `name` column in sys.column_encryption_keys
  docs/relational-databases/system-catalog-views/sys-column-encryption-keys-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#5401 Clarifying that ALTER TABLE ALTER COLUMN requires UPDATE
  docs/t-sql/statements/alter-table-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5406 Update create-index-transact-sql.md
  docs/t-sql/statements/create-index-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5369 clarified unclear wording
  docs/relational-databases/security/encryption/transparent-data-encryption.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/tech, sql/prod

#5382 Column is named is_temporal_history_retention_enabled
  docs/relational-databases/system-catalog-views/sys-databases-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#5404 Update datepart-ssis-expression.md
  docs/integration-services/expressions/datepart-ssis-expression.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, integration-services/tech, sql/prod

#5400 docs: add missing space
  docs/t-sql/queries/select-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5351 Update merge-transact-sql.md
  docs/t-sql/statements/merge-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5383 Update try-catch-transact-sql.md
  docs/t-sql/language-elements/try-catch-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5450 add tsql syntax highlighting to code blocks
  docs/t-sql/statements/execute-as-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5496 Typo "MicrosoftAzure"→"Microsoft Azure"
  docs/tools/sqlpackage.md
Labels: Change sent to author, do-not-merge, sql/prod, tools-other/tech

#5492 Fixed broken links
  docs/database-engine/availability-groups/windows/always-on-availability-groups-interoperability-sql-server.md
  docs/database-engine/availability-groups/windows/always-on-availability-groups-sql-server.md
  docs/database-engine/availability-groups/windows/configuration-of-a-server-instance-for-always-on-availability-groups-sql-server.md
  docs/database-engine/availability-groups/windows/configure-read-only-routing-for-an-availability-group-sql-server.md
  docs/database-engine/availability-groups/windows/create-an-availability-group-sql-server-powershell.md
  docs/database-engine/availability-groups/windows/create-an-availability-group-transact-sql.md
  docs/database-engine/availability-groups/windows/creation-and-configuration-of-availability-groups-sql-server.md
  docs/database-engine/availability-groups/windows/monitoring-of-availability-groups-sql-server.md
  docs/database-engine/availability-groups/windows/overview-of-always-on-availability-groups-sql-server.md
  docs/database-engine/availability-groups/windows/perform-a-forced-manual-failover-of-an-availability-group-sql-server.md
  docs/database-engine/availability-groups/windows/prereqs-migrating-log-shipping-to-always-on-availability-groups.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#5497 Typo "MicrosoftAzure"→"Microsoft Azure"
  docs/integration-services/data-flow/ado-net-destination.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, integration-services/tech, sql/prod

#5494 Typo "MicrosoftAzure"→"Microsoft Azure"
  docs/ssms/f1-help/connect-to-server-database-engine.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech

#5498 Typo "MicrosoftAzure"→"Microsoft Azure"
  docs/ssms/f1-help/connect-to-server-login-page-database-engine.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech

#5449 Corrected the description location of the syntax description
  docs/t-sql/statements/create-database-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5491 Permission correction
  docs/relational-databases/system-dynamic-management-views/sys-dm-server-audit-status-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#5445 Update sys-availability-replicas-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-availability-replicas-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#5464 Update configure-the-windows-firewall-to-allow-sql-server-access.md
  docs/sql-server/install/configure-the-windows-firewall-to-allow-sql-server-access.md
Labels: Change sent to author, aq-pr-triaged, install/tech, ready-to-merge, sql/prod

#5509 Typo
  docs/tools/overview-sql-tools.md
Labels: Change sent to author, do-not-merge, sql/prod, tools-other/tech

#4999 Update query-processing-architecture-guide.md
  docs/relational-databases/query-processing-architecture-guide.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod
