Repository MicrosoftDocs/sql-docs, pull requests merged in 2020-10, with the labels that each got.

#5511 Added important call out for block blobs
  docs/relational-databases/backup-restore/sql-server-backup-to-url.md
Labels: Change sent to author, backup-restore/tech, ready-to-merge, sql/prod

#5515 Clarification of NUMBER Oracle datatype
  docs/relational-databases/polybase/polybase-type-mapping.md
Labels: Change sent to author, polybase/tech, ready-to-merge, sql/prod

#5512 typo
  docs/database-engine/availability-groups/windows/use-the-availability-group-wizard-sql-server-management-studio.md
Labels: Change sent to author, high-availability/tech, ready-to-merge, sql/prod

#5518 Typo/additional description/range for type column
  docs/relational-databases/system-dynamic-management-views/sys-dm-exec-dms-workers-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#5520 Update dynamic-data-masking.md
  docs/relational-databases/security/dynamic-data-masking.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod

#5524 fix spelling errors on reorganize-and-rebuild-indexes.md
  docs/relational-databases/indexes/reorganize-and-rebuild-indexes.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech

#5530 fix typo: availability-group-lease-healthcheck-timeout.md
  docs/database-engine/availability-groups/windows/availability-group-lease-healthcheck-timeout.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#5533 Typo "\<name**>.sqlplan**"→"\<name>**.sqlplan**"
  docs/relational-databases/performance/save-an-execution-plan-in-xml-format.md
Labels: Change sent to author, do-not-merge, performance/tech, sql/prod

#5534 Typo "**SELECT @@VERSION**"→"**SELECT \@\@VERSION**"
  docs/relational-databases/errors-events/mssqlserver-3169-database-engine-error.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#5537 Update deploy-install-azdata-installer.md
  docs/azdata/install/deploy-install-azdata-installer.md
Labels: Change sent to author, big-data-cluster/tech, ready-to-merge, sql/prod

#5543 Adding a note about basic auth for the ODBC Connectors
  docs/t-sql/statements/create-database-scoped-credential-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5542 Clearly documenting basic auth support only
  docs/relational-databases/polybase/polybase-configure-mongodb.md
Labels: Change sent to author, do-not-merge, polybase/tech, sql/prod

#5540 Updating the basic auth support info.
  docs/relational-databases/polybase/polybase-configure-oracle.md
Labels: Change sent to author, do-not-merge, polybase/tech, sql/prod

#5541 Updating Basic Auth support info
  docs/relational-databases/polybase/polybase-configure-teradata.md
Labels: Change sent to author, do-not-merge, polybase/tech, sql/prod

#5539 Adding information about basic authentication support
  docs/relational-databases/polybase/polybase-configure-sql-server.md
Labels: Change sent to author, do-not-merge, polybase/tech, sql/prod

#5372 Updated the script with additional steps for killing the ongoing proc…
  docs/relational-databases/security/contained-database-users-making-your-database-portable.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security/tech, sql/prod

#5549 Update sql-server-linux-performance-best-practices.md
  docs/linux/sql-server-linux-performance-best-practices.md
Labels: Change sent to author, linux/tech, ready-to-merge, sql/prod

#5545 Update the instructions for AD authentication
  docs/big-data-cluster/data-ingestion-curl.md
Labels: Change sent to author, aq-pr-triaged, big-data-cluster/tech, do-not-merge, sql/prod

#5557 DSNs with sqlcmd and bcp
  docs/connect/odbc/linux-mac/connecting-with-sqlcmd.md
  docs/tools/bcp-utility.md
  docs/tools/sqlcmd-utility.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, tools-other/tech

#5561 Typo "\<positive integer value**>**"→"*\<positive integer value>*"
  docs/integration-services/data-flow/ole-db-destination.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#5278 new example using constraint
  docs/t-sql/statements/create-table-sql-graph.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5355 Update use-the-add-azure-replica-wizard-sql-server.md
  docs/database-engine/availability-groups/windows/use-the-add-azure-replica-wizard-sql-server.md
Labels: Change sent to author, aq-pr-triaged, high-availability/tech, ready-to-merge, sql/prod

#5578 Update sql-server-linux-availability-group-cluster-sles.md
  docs/linux/sql-server-linux-availability-group-cluster-sles.md
Labels: Change sent to author, linux/tech, ready-to-merge, sql/prod

#5467 Update formatmessage-transact-sql.md
  docs/t-sql/functions/formatmessage-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5468 Update sys-databases-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-databases-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#5486 Update cdc-captured-columns-transact-sql.md
  docs/relational-databases/system-tables/cdc-captured-columns-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#5579 Update ssis-devops-standalone.md
  docs/integration-services/devops/ssis-devops-standalone.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, sql/prod

#5584 Fix format on IMPORTANT block.
  docs/relational-databases/databases/copy-databases-with-backup-and-restore.md
Labels: Change sent to author, backup-restore/tech, do-not-merge, sql/prod

#5587 Fix typo
  docs/t-sql/data-types/date-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5595 Fix incorrect formatting on several custom blocks
  docs/relational-databases/logs/troubleshoot-a-full-transaction-log-sql-server-error-9002.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#5596 Correcting version
  docs/t-sql/statements/add-sensitivity-classification-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5598 Remove 250MB from the list of supported sizes for DTU-base databases
  docs/t-sql/statements/create-database-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, sql/svc, t-sql/tech

#5604 Update ssis-devops-overview.md
  docs/integration-services/devops/ssis-devops-overview.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, sql/prod

#5605 Update select-transact-sql.md
  docs/t-sql/queries/select-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#5608 #5607 link from select clause
  docs/t-sql/queries/select-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#5567 Incorrect 127 format function date part codes
  docs/t-sql/functions/cast-and-convert-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5599 Update create-table-transact-sql.md
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5614 Update sys-dm-db-xtp-checkpoint-files-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-xtp-checkpoint-files-transact-sql.md
Labels: Change sent to author, do-not-merge, in-memory-oltp/tech, sql/prod

#5618 Update sys-dm-xtp-gc-queue-stats-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-xtp-gc-queue-stats-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#5611 Incorrect configuration for CleanupCycleMinutes
  docs/reporting-services/report-server/rsreportserver-config-configuration-file.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, report-server/tech, reporting-services/prod

#5590 Updated incorrect command line - REPORTSERVERURL
  docs/reporting-services/install-windows/install-report-builder.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, reporting-services/prod

#5617 Update durability-for-memory-optimized-tables.md
  docs/relational-databases/in-memory-oltp/durability-for-memory-optimized-tables.md
Labels: Change sent to author, aq-pr-triaged, in-memory-oltp/tech, ready-to-merge, sql/prod

#5620 Update sql-database-project-extension.md
  docs/azure-data-studio/extensions/sql-database-project-extension.md
Labels: Change sent to author, azure-data-studio/prod, azure-data-studio/tech, do-not-merge

#5623 Update security-catalog-views-transact-sql.md
  docs/relational-databases/system-catalog-views/security-catalog-views-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#5622 Typo "Azure Query Performance Insight"→"Query Performance Insight for…
  docs/relational-databases/performance/performance-center-for-sql-server-database-engine-and-azure-sql-database.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, performance/tech, sql/prod

#5625 Fix markup
  docs/t-sql/language-elements/declare-local-variable-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5586 Update use-a-format-file-to-bulk-import-data-sql-server.md
  docs/relational-databases/import-export/use-a-format-file-to-bulk-import-data-sql-server.md
Labels: Change sent to author, aq-pr-triaged, data-movement/tech, do-not-merge, sql/prod

#5632 misspellings, it's/its
  docs/azdata/reference/reference-azdata-notebook.md
  docs/linux/sql-server-linux-availability-group-ha.md
  docs/machine-learning/administration/monitor-sql-server-machine-learning-services-using-dynamic-management-views.md
  docs/relational-databases/errors-events/database-engine-events-and-errors.md
  docs/relational-databases/security/authentication-access/principals-database-engine.md
  docs/relational-databases/security/encryption/troubleshoot-tde.md
  docs/ssms/menu-help/options-designers-table-and-database-designers-page.md
  docs/t-sql/statements/set-arithabort-transact-sql.md
Labels: do-not-merge

#5514 Contract schema URLs are not signed, not HTTP; clarity on Security needs
  docs/relational-databases/service-broker/implement-event-notifications.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod

#5627 Update alter-partition-function-transact-sql.md
  docs/t-sql/statements/alter-partition-function-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5490 Fix sample notebook download script
  docs/big-data-cluster/notebooks-tutorial-spark.md
Labels: Change sent to author, aq-pr-triaged, big-data-cluster/tech, do-not-merge, sql/prod

#5636 Correct typo
  docs/relational-databases/replication/publish/add-articles-to-and-drop-articles-from-existing-publications.md
Labels: Change sent to author, do-not-merge, replication/tech, sql/prod

#5637 Change xmlns to http
  docs/reporting-services/branding-the-web-portal.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, reporting-services/tech

#5645 Added Azure SQL DB as unsupported source server for package files.
  docs/integration-services/lift-shift/ssis-azure-deploy-run-monitor-tutorial.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, sql/prod

#5635 Minor update of first-value-transact-sql.md
  docs/t-sql/functions/first-value-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5642 Remove unnecessary "in" prefix
  docs/t-sql/functions/context-info-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5641 Update sql-server-agent-fixed-database-roles.md
  docs/ssms/agent/sql-server-agent-fixed-database-roles.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, ssms/tech
