Repository MicrosoftDocs/sql-docs, pull requests merged in 2020-04, with the labels that each got.

#4161 Update Header Title to Reflect Document Name
  docs/t-sql/language-elements/sql-server-utilities-statements-go.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#4440 Change one of the title from "See also" section
  docs/ssms/f1-help/database-engine-query-editor-sql-server-management-studio.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, ssms/tech

#4446 Correct a misspelling
  docs/t-sql/functions/databasepropertyex-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#4039 Correct example to get Current Version
  docs/relational-databases/system-dynamic-management-views/sys-dm-server-registry-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#4149 Update columnstore-indexes-data-loading-guidance.md
  docs/relational-databases/indexes/columnstore-indexes-data-loading-guidance.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, table-view-index/tech

#4169 Update system-base-tables.md
  docs/relational-databases/system-tables/system-base-tables.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#4286 encryption_scan_state and encryption_scan_state_desc is different fro…
  docs/relational-databases/system-dynamic-management-views/sys-dm-database-encryption-keys-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#4417 Remove errant backslashes
  docs/relational-databases/system-stored-procedures/sp-addmessage-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#4452 Apply to multiple versions
  docs/relational-databases/views/modify-data-through-a-view.md
Labels: Change sent to author, ready-to-merge, sql/prod, table-view-index/tech

#4218 Add missing datatypes + variations to SQL_VARIANT_PROPERTY
  docs/t-sql/functions/sql-variant-property-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#4458 Update columnstore-indexes-data-loading-guidance.md
  docs/relational-databases/indexes/columnstore-indexes-data-loading-guidance.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech

#3871 Discuss custom deployments that schedule pods to k8s master
  docs/big-data-cluster/deployment-custom-configuration.md
Labels: Change sent to author, aq-pr-triaged, big-data-cluster/tech, ready-to-merge, sql/prod

#4466 fixed typo
  docs/relational-databases/tables/graph-edge-constraints.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech

#4415 Update of page based on VS2019 release
  docs/ssdt/previous-releases-of-sql-server-data-tools-ssdt-and-ssdt-bi.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, ssdt/tech

#4460 remove one known issue for 15.8.1 to 15.9.3
  docs/ssdt/release-notes-ssdt.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, ssdt/tech

#4482 Fix typo in "Rows read" description
  docs/integration-services/functions-dm-execution-performance-counters.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#4483 update with BDC workshop link
  docs/big-data-cluster/concept-controller.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#4461 Change important section for the download page
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, ssdt/tech

#4495 The event name obtained by xEvent is different
  docs/dma/dma-assesssqlonprem.md
Labels: Change sent to author, dma/tech, do-not-merge, sql/prod

#4503 Fixed a word
  docs/ssms/release-notes-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech

#4516 Update indexes-for-memory-optimized-tables.md
  docs/relational-databases/in-memory-oltp/indexes-for-memory-optimized-tables.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, in-memory-oltp/tech, sql/prod

#4520 Clean up formatting in powershell example.
  docs/relational-databases/server-management-objects-smo/tasks/managing-users-roles-and-logins.md
Labels: Change sent to author, do-not-merge, sql/prod

#4517 Fix for staging table clustered index name
  docs/relational-databases/tables/manage-retention-of-historical-data-in-system-versioned-temporal-tables.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, table-view-index/tech

#4506 Update sql-server-linux-configure-msdtc-docker.md
  docs/linux/sql-server-linux-configure-msdtc-docker.md
Labels: Change sent to author, aq-pr-triaged, linux/tech, ready-to-merge, sql/prod

#4525 Typo "*@value`"→"'@value`"
  docs/relational-databases/replication/publish/optimize-parameterized-row-filters.md
Labels: Change sent to author, ready-to-merge, replication/tech, sql/prod

#4533 Update creating-a-system-versioned-temporal-table.md
  docs/relational-databases/tables/creating-a-system-versioned-temporal-table.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, table-view-index/tech

#4511 Fix typo in `TEXTIMAGE_ON` section
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#4541 Too many 's's in 'mssql'
  docs/linux/sql-server-linux-setup-language-extensions.md
Labels: Change sent to author, do-not-merge, language-extensions/tech, sql/prod

#4544 typo
  docs/language-extensions/reference/extensibility-framework-api.md
Labels: Change sent to author, do-not-merge, language-extensions/tech, sql/prod

#4548 Fix for INITIALIZING typo
  docs/database-engine/availability-groups/windows/perform-a-forced-manual-failover-of-an-availability-group-sql-server.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#4549 Missed second Typo
  docs/database-engine/availability-groups/windows/perform-a-forced-manual-failover-of-an-availability-group-sql-server.md
Labels: Change sent to author, high-availability/tech, ready-to-merge, sql/prod

#4564 Add prominent warning note to RAISERROR doc
  docs/t-sql/language-elements/raiserror-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#4565 Syntax Tweaks for consistency
  docs/t-sql/statements/create-index-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#4579 computed_column_expression clarifications
  docs/t-sql/statements/alter-table-computed-column-definition-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#4109 Audit path clarification
  docs/relational-databases/security/auditing/create-a-server-audit-and-server-audit-specification.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security/tech, sql/prod

#4543 typo
  docs/machine-learning/tutorials/sqldev-explore-and-visualize-the-data.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, machine-learning/tech, sql/prod

#4555 Fixed typos in Security Catalog Views (Transact-SQL)
  docs/relational-databases/system-catalog-views/security-catalog-views-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#4562 Fix a link text: "Container" to "Kubernetes"
  docs/linux/tutorial-sql-server-containers-kubernetes.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, linux/tech, sql/prod

#4587 Add SQL2017 CU20 to the Offline CAB location
  docs/machine-learning/install/sql-ml-cab-downloads.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, machine-learning/tech, sql/prod

#4534 Change misspelled "clarification" -> "classification"
  docs/ssms/release-notes-ssms.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, ssms/tech

#4537 Bug fix: Update OrderDate and FilledDate constraints
  docs/ssdt/walkthrough-creating-and-running-a-sql-server-unit-test.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, ssdt/tech

#4618 minor code change
  docs/azure-data-studio/extensibility.md
Labels: Change sent to author, azure-data-studio/tech, do-not-merge, sql/prod

#4625 Missing space
  docs/relational-databases/tables/modifying-data-in-a-system-versioned-temporal-table.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech

#4641 Typo "InstanceName"→"_InstanceName_"
  docs/database-engine/configure-windows/configure-windows-service-accounts-and-permissions.md
Labels: Change sent to author, configuration/tech, do-not-merge, sql/prod

#4644 Typo "*\<instancename>*if"→"*\<instancename\>* if"
  docs/database-engine/configure-windows/manage-the-database-engine-services.md
Labels: Change sent to author, configuration/tech, do-not-merge, sql/prod

#4638 Fix both lists of "Supported .NET Framework Libraries" (re: SQLCLR)
  docs/relational-databases/clr-integration/assemblies-designing.md
  docs/relational-databases/clr-integration/database-objects/supported-net-framework-libraries.md
Labels: Change sent to author, aq-pr-triaged, clr/tech, ready-to-merge, sql/prod

#4291 Update resource-governor-classifier-function.md
  docs/relational-databases/resource-governor/resource-governor-classifier-function.md
Labels: Change sent to author, aq-pr-triaged, performance/tech, ready-to-merge, sql/prod

#4197 Remove invalid "NOUNLOAD" option from docs example
  docs/t-sql/statements/restore-statements-headeronly-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#4655 Minor spelling fix
  docs/relational-databases/security/encryption/always-encrypted-database-engine.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod

#4643 Update dma-sku-recommend-sql-db.md
  docs/dma/dma-sku-recommend-sql-db.md
Labels: Change sent to author, dma/tech, do-not-merge, sql/prod

#4654 Updating verbiage for (lack of) SQL FCI support
  docs/machine-learning/install/sql-r-services-windows-install.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, machine-learning/tech, sql/prod

#4247 Added info about how counters work
  docs/relational-databases/performance-monitor/use-sql-server-objects.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, performance/tech, sql/prod

#4011 About locking with REORGANIZE
  docs/t-sql/statements/alter-index-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#4133 Update catalog-create-environment-reference-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-create-environment-reference-ssisdb-database.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, integration-services/tech, sql/prod

#4662 Update sql-server-index-design-guide.md
  docs/2014/2014-toc/sql-server-index-design-guide.md
Labels: Change sent to author, do-not-merge, sql-server-2014/prod

#4193 Update integration-services-ssis-in-a-cluster.md
  docs/integration-services/service/integration-services-ssis-in-a-cluster.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, integration-services/tech, sql/prod

#4667 Update notebooks-kql-magic.md
  docs/azure-data-studio/notebooks-kql-magic.md
Labels: Change sent to author, aq-pr-triaged, azure-data-studio/tech, do-not-merge, sql/prod
