Repository MicrosoftDocs/sql-docs, pull requests merged in 2020-07, with the labels that each got.

#5070 Typo fix
  docs/t-sql/language-elements/kill-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5071 Syntax styling
  docs/t-sql/statements/create-table-transact-sql-identity-property.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5072 ExtraSpaces
  docs/relational-databases/backup-restore/backup-overview-sql-server.md
Labels: Change sent to author, backup-restore/tech, do-not-merge, sql/prod

#5043 Update sql-server-powershell.md
  docs/powershell/sql-server-powershell.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, scripting/tech, sql/prod

#5074 Added guidance on how to get appid and app key for appinsights
  docs/azure-data-studio/notebooks-kqlmagic.md
Labels: Change sent to author, aq-pr-triaged, azure-data-studio/prod, ready-to-merge

#5081 Fixed blank spaces
  docs/t-sql/language-elements/modulo-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5085 Making code cleaner
  docs/t-sql/language-elements/bitwise-or-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5083 Spacing correction
  docs/t-sql/language-elements/and-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5084 Spacing correction
  docs/t-sql/language-elements/exists-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5087 Updated the code styling
  docs/t-sql/language-elements/bitwise-exclusive-or-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5088 Updated the code styling
  docs/t-sql/language-elements/bitwise-not-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5089 Formatting sql
  docs/2014/2014-toc/sql-server-transaction-locking-and-row-versioning-guide.md
  docs/2014/analysis-services/multidimensional-models/authorizing-access-to-objects-and-operations-analysis-services.md
  docs/2014/analysis-services/relational-query-designer-ssas.md
  docs/2014/data-quality-services/backing-up-and-restoring-dqs-databases.md
  docs/2014/data-quality-services/configure-advanced-settings-for-dqs-log-files.md
  docs/2014/data-quality-services/detaching-and-attaching-dqs-databases.md
  docs/2014/database-engine/database-mirroring/database-mirroring-use-certificates-for-inbound-connections.md
  docs/2014/database-engine/implementing-lob-columns-in-a-memory-optimized-table.md
  docs/2014/database-engine/setting-up-sql-server-managed-backup-to-windows-azure-for-availability-groups.md
  docs/2014/database-engine/using-clustered-columnstore-indexes.md
  docs/connect/php/sqlsrv-fetch-object.md
  docs/integration-services/lesson-1-create-a-project-and-basic-package-with-ssis.md
  docs/linux/sql-server-linux-shared-disk-cluster-red-hat-7-configure.md
  docs/relational-databases/errors-events/mssqlserver-2020-database-engine-error.md
  docs/sql-server/sql-server-2012-release-notes.md
  docs/ssms/agent/use-tokens-in-job-steps.md
  docs/ssms/visual-db-tools/check-constraint-expression-dialog-box-visual-database-tools.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech

#5026 Formatting fixes for "Manage Trigger Security"
  docs/relational-databases/triggers/manage-trigger-security.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod

#5086 Updating the code styling
  docs/t-sql/language-elements/bitwise-and-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#4942 Clarification
  docs/t-sql/statements/statements.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5076 Fixed bug in sample code
  docs/relational-databases/tables/creating-a-system-versioned-temporal-table.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, table-view-index/tech

#5112 Update odbc-scalar-functions-transact-sql.md
  docs/t-sql/functions/odbc-scalar-functions-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#5108 Updated capitalization
  docs/t-sql/functions/ntile-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#5114 Updated capitalization
  docs/t-sql/functions/patindex-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#5115 Updated capitalization
  docs/t-sql/functions/power-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#5117 Update capitalization
  docs/t-sql/functions/rand-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#5116 Updated capitalization
  docs/t-sql/functions/radians-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#5109 Updated capitalization
  docs/t-sql/language-elements/nullif-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5095 Updated keyword capitalization
  docs/t-sql/language-elements/coalesce-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5099 Capitalized varchar
  docs/t-sql/functions/degrees-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5100 Updated capitalization
  docs/t-sql/functions/exp-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5101 Updated link and capitalization
  docs/t-sql/functions/isnumeric-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5102 Updated capitalization
  docs/t-sql/functions/lag-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5103 Updated capitalization
  docs/t-sql/functions/lead-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5105 Updated capitalization
  docs/t-sql/functions/log-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5106 Updated capitalization
  docs/t-sql/functions/log10-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5107 Updated capitalization
  docs/t-sql/functions/nchar-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5111 Updated capitalization
  docs/t-sql/functions/object-name-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5113 Updated capitalization
  docs/t-sql/queries/select-over-clause-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5096 Updated capitalization
  docs/t-sql/functions/cot-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5121 Updated capitalization
  docs/t-sql/statements/set-dateformat-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5104 Updated capitalization
  docs/t-sql/functions/len-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5122 Update restore-statements-transact-sql.md
  docs/t-sql/statements/restore-statements-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5124 redundant mention of the term "SQL Server 2019"
  docs/sql-server/what-s-new-in-sql-server-ver15.md
Labels: Change sent to author, do-not-merge, release-landing/tech, sql/prod

#5097 Updated capitalization
  docs/t-sql/functions/current-timestamp-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5045 Update Examples FILE_TYPE comma
  docs/t-sql/statements/copy-into-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5138 Update ssis-devops-overview.md: fix some issues in configuration JSON schema description
  docs/integration-services/devops/ssis-devops-overview.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, sql/prod

#5145 Update alter-login-transact-sql.md
  docs/t-sql/statements/alter-login-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5127 Removed the section "By default the SSIS service does not support del…
  docs/2014/integration-services/connect-to-a-remote-integration-services-server-ssis-service.md
Labels: Change sent to author, aq-pr-triaged, integration-services/tech, ready-to-merge, sql-server-2014/prod

#5128 Added a delegation section
  docs/integration-services/catalog/ssis-catalog.md
Labels: Change sent to author, aq-pr-triaged, integration-services/tech, ready-to-merge, sql/prod

#5149 Add links to extension downloads and sanitize
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, ready-to-merge, sql/prod, ssdt/tech

#4711 Wording is confusing
  docs/big-data-cluster/deployment-high-availability.md
Labels: Change sent to author, aq-pr-triaged, big-data-cluster/tech, do-not-merge, sql/prod

#4738 Fix code block
  docs/relational-databases/errors-events/mssqlserver-17207-database-engine-error.md
  docs/relational-databases/errors-events/mssqlserver-5120-database-engine-error.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, supportability/tech

#4411 Clarified language
  docs/relational-databases/security/encryption/sql-server-and-database-encryption-keys-database-engine.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/tech, sql/prod

#4823 Format queries as code blocks
  docs/relational-databases/errors-events/mssqlserver-137-database-engine-error.md
  docs/relational-databases/errors-events/mssqlserver-605-database-engine-error.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, supportability/tech

#5143 Fix returns section formatting in ODBC API reference
  docs/odbc/reference/syntax/sqlgetinfo-function.md
  docs/odbc/reference/syntax/sqlsetpos-function.md
Labels: Change sent to author, aq-pr-triaged, connectivity/tech, ready-to-merge, sql/prod

#5144 fix conformance section format in ODBC API reference functions
  docs/odbc/reference/syntax/sqlcancelhandle-function.md
  docs/odbc/reference/syntax/sqlcompleteasync-function.md
Labels: Change sent to author, aq-pr-triaged, connectivity/tech, ready-to-merge, sql/prod

#5162 Corrected small misspelling
  docs/reporting-services/create-deploy-and-manage-mobile-and-paginated-reports.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, reporting-services/tech

#5168 Correction to verbiage
  docs/relational-databases/writing-pages.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod

#5196 Formatting changes.
  docs/t-sql/functions/getdate-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5198 Formatting changes.
  docs/t-sql/functions/isdate-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5174 Update Azure Data Studio extension documentation
  docs/azure-data-studio/extensibility.md
  docs/azure-data-studio/extension-authoring.md
  docs/azure-data-studio/extensions.md
  docs/azure-data-studio/media/extensions/extension-gear-dropdown.png
  docs/azure-data-studio/media/extensions/extension-sort.png
  docs/azure-data-studio/media/extensions/extensions-enable.png
Labels: Change sent to author, aq-pr-triaged, azure-data-studio/prod, do-not-merge

#5211 extremely minor grammar fix
  docs/t-sql/language-elements/throw-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#5216 Updating 2016 SP2 CU6 cabs for CU6-13
  docs/machine-learning/install/sql-ml-cab-downloads.md
Labels: Change sent to author, do-not-merge, machine-learning-services/tech, sql/prod

#5231 Removing slashes that shouldn't be there
  docs/machine-learning/administration/extended-events.md
Labels: Change sent to author, do-not-merge, machine-learning-services/tech, sql/prod

#5206 Incorrect SSIS name
  docs/integration-services/sql-server-integration-services.md
Labels: Change sent to author, aq-pr-triaged, integration-services/tech, ready-to-merge, sql/prod

#5238 Update integration-services-ssis-package-and-project-parameters.md
  docs/integration-services/integration-services-ssis-package-and-project-parameters.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#5240 Update ssis-devops-overview.md
  docs/integration-services/devops/ssis-devops-overview.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#4825 Fixed typos; added name node requirement
  docs/relational-databases/polybase/polybase-troubleshoot-connectivity.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, polybase/tech, sql/prod

#5242 Fix typo in SQLDescribeParam Arguments section
  docs/odbc/reference/syntax/sqldescribeparam-function.md
Labels: Change sent to author, aq-pr-triaged, connectivity/tech, ready-to-merge, sql/prod

#5247 samples rows
  docs/relational-databases/graphs/sql-graph-sample.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod

#4945 Fixed terms
  docs/sql-server/failover-clusters/windows/upgrade-a-sql-server-failover-cluster-instance.md
Labels: Change sent to author, aq-pr-triaged, high-availability/tech, ready-to-merge, sql/prod

#5133 Fix typos/capitalization issues
  docs/database-engine/availability-groups/windows/service-broker-with-always-on-availability-groups-sql-server.md
Labels: Change sent to author, aq-pr-triaged, high-availability/tech, ready-to-merge, sql/prod

#5257 Removing a typo (extra "\")
  docs/machine-learning/administration/extended-events.md
Labels: Change sent to author, do-not-merge, machine-learning-services/tech, sql/prod

#4682 Update load-data-to-from-excel-with-ssis.md
  docs/integration-services/load-data-to-from-excel-with-ssis.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, integration-services/tech, sql/prod

#5270 Update sql-server-configuration-manager.md
  docs/relational-databases/sql-server-configuration-manager.md
Labels: Change sent to author, do-not-merge, sql/prod

#5262 Update release-notes-ssms.md
  docs/ssms/release-notes-ssms.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, ssms/tech

#5209 add syntax highlighting
  docs/t-sql/queries/output-clause-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5134 Replacing with "opaque box"
  docs/relational-databases/security/encryption/always-encrypted-enclaves.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/tech, sql/prod

#5135 Replacing with "opaque box"
  docs/relational-databases/user-defined-functions/scalar-udf-inlining.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod

#5189 Update editions-and-components-of-sql-server-version-15.md
  docs/sql-server/editions-and-components-of-sql-server-version-15.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, release-landing/tech, sql/prod

#5188 Update editions-and-components-of-sql-server-2017.md
  docs/sql-server/editions-and-components-of-sql-server-2017.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, ready-to-merge, release-landing/tech, sql/prod

#5187 Update editions-and-components-of-sql-server-2016.md
  docs/sql-server/editions-and-components-of-sql-server-2016.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, release-landing/tech, sql/prod

#4703 Adding in correct qualifiers for clusterless HA table item
  docs/sql-server/editions-and-components-of-sql-server-version-15.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, install/tech, sql/prod

#5142 Adjustment for read-scale availability in standard
  docs/sql-server/editions-and-components-of-sql-server-2017.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, release-landing/tech, sql/prod

#4856 Clarified limitations of basic AGs
  docs/database-engine/availability-groups/windows/basic-availability-groups-always-on-availability-groups.md
Labels: Change sent to author, aq-pr-triaged, high-availability/tech, ready-to-merge, sql/prod

#4943 fixed terms
  docs/sql-server/failover-clusters/install/add-or-remove-nodes-in-a-sql-server-failover-cluster-setup.md
Labels: Change sent to author, aq-pr-triaged, high-availability/tech, ready-to-merge, sql/prod

#4944 Fixed terms
  docs/sql-server/failover-clusters/install/remove-a-sql-server-failover-cluster-instance-setup.md
Labels: Change sent to author, aq-pr-triaged, high-availability/tech, ready-to-merge, sql/prod

#4946 Fixed terms
  docs/sql-server/failover-clusters/install/create-a-new-sql-server-failover-cluster-setup.md
Labels: Change sent to author, aq-pr-triaged, high-availability/tech, ready-to-merge, sql/prod

#5015 Update mssqlserver-833-database-engine-error.md
  docs/relational-databases/errors-events/mssqlserver-833-database-engine-error.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, supportability/tech

#5273 Update schema-ini-file-text-file-driver.md
  docs/odbc/microsoft/schema-ini-file-text-file-driver.md
Labels: Change sent to author, connectivity/tech, ready-to-merge, sql/prod

#5271 link Microsoft Container Registry official announcement
  docs/linux/sql-server-linux-whats-new-2019.md
Labels: Change sent to author, aq-pr-triaged, linux/tech, ready-to-merge, sql/prod

#5276 Update legacy-package-deployment-ssis.md
  docs/integration-services/packages/legacy-package-deployment-ssis.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#4707 Distribution databases used in merge or peer to peer replication aren…
  docs/database-engine/availability-groups/windows/configure-replication-for-always-on-availability-groups-sql-server.md
Labels: Change sent to author, aq-pr-triaged, high-availability/tech, ready-to-merge, sql/prod
