Repository MicrosoftDocs/sql-docs, pull requests merged in 2020-06, with the labels that each got.

#4860 Update row-level-security.md
  docs/relational-databases/security/row-level-security.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security/tech, sql/prod

#4859 Update row-level-security.md
  docs/relational-databases/security/row-level-security.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security/tech, sql/prod

#4708 Update dbo-sysjobsteps-transact-sql.md
  docs/relational-databases/system-tables/dbo-sysjobsteps-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#4900 Add new OS in the system requirements
  docs/tools/bcp-utility.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, tools-other/tech

#4910 Update import-bulk-data-by-using-bulk-insert-or-openrowset-bulk-sql-s…
  docs/relational-databases/import-export/import-bulk-data-by-using-bulk-insert-or-openrowset-bulk-sql-server.md
Labels: Change sent to author, aq-pr-triaged, data-movement/tech, ready-to-merge, sql/prod

#4927 Update wording from 'slave' to 'subordinate.'
  docs/linux/sql-server-linux-availability-group-cluster-rhel.md
Labels: Change sent to author, do-not-merge, linux/tech, sql/prod

#4928 Updated wording from 'slave' to 'subordinate.'
  docs/linux/sql-server-linux-availability-group-cluster-ubuntu.md
Labels: Change sent to author, do-not-merge, linux/tech, sql/prod

#4929 Bias-Free Communications Note
  docs/linux/sql-server-linux-availability-group-cluster-sles.md
Labels: Change sent to author, do-not-merge, linux/tech, sql/prod

#4947 Fixed terms
  docs/database-engine/configure-windows/manage-certificates.md
Labels: Change sent to author, aq-pr-triaged, configuration/tech, ready-to-merge, sql/prod

#4955 Update urlroot description to indicate it affects Globals!ReportServe…
  docs/reporting-services/report-server/rsreportserver-config-configuration-file.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, report-server/tech, reporting-services/prod

#4629 Fixed syntax in JSON_MODIFY example
  docs/t-sql/functions/json-modify-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#4759 Update sys-dm-pdw-exec-requests-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-pdw-exec-requests-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, data-warehouse/tech, do-not-merge, sql/prod

#4878 Update quickstart-install-connect-docker.md
  docs/linux/quickstart-install-connect-docker.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, linux/tech, sql/prod

#4626 Describe Linux support and limits
  docs/integration-services/integration-services-features-supported-by-the-editions-of-sql-server.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, integration-services/tech, sql/prod

#4853 Update sp-add-schedule-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-add-schedule-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#4979 typo in column name
  docs/relational-databases/performance/best-practice-with-the-query-store.md
Labels: Change sent to author, do-not-merge, performance/tech, sql/prod

#4985 Update columnstore reason descriptions to include the number
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-column-store-row-group-physical-stats-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#4980 Removed duplicate word
  docs/sql-server/what-s-new-in-sql-server-ver15.md
Labels: Change sent to author, do-not-merge, release-landing/tech, sql/prod

#4918 Update with read-intent replica specific details
  docs/relational-databases/system-dynamic-management-views/sys-dm-exec-requests-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#4842 Adding the 2 new columns
  docs/relational-databases/system-catalog-views/sys-sensitivity-classifications-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5000 Update alter function schemabinding explanation
  docs/t-sql/statements/alter-function-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#4987 Add dm-db-column-store-row-group-physical-stats trim_reason 9 - auto_…
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-column-store-row-group-physical-stats-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#5016 Update select-into-clause-transact-sql.md
  docs/t-sql/queries/select-into-clause-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5028 Change uninstall to uninstalled
  docs/ssms/download-sql-server-management-studio-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech

#5039 Adding SQL 2019 CU5 details
  docs/machine-learning/install/sql-ml-cab-downloads.md
Labels: Change sent to author, do-not-merge, machine-learning/tech, sql/prod

#5050 Update match-sql-graph.md
  docs/t-sql/queries/match-sql-graph.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#4911 SSIS catalog stored procedures - minor changes in sample call scripts
  docs/integration-services/system-stored-procedures/catalog-add-data-tap-by-guid.md
  docs/integration-services/system-stored-procedures/catalog-add-execution-worker-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-check-schema-version.md
  docs/integration-services/system-stored-procedures/catalog-create-environment-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-create-environment-variable-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-create-execution-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-create-folder-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-delete-customized-logging-level.md
  docs/integration-services/system-stored-procedures/catalog-delete-environment-reference-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-delete-environment-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-delete-environment-variable-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-delete-folder-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-deploy-packages.md
  docs/integration-services/system-stored-procedures/catalog-deploy-project-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-disable-worker-agent-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-enable-worker-agent-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-set-object-parameter-value-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-set-worker-agent-property-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-start-execution-ssisdb-database.md
  docs/integration-services/system-stored-procedures/catalog-update-logdb-info.md
  docs/integration-services/system-stored-procedures/catalog-update-master-address.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, integration-services/tech, sql/prod

#5030 Update section "Binary styles"
  docs/t-sql/functions/cast-and-convert-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5054 Only COUNT(*) won't ignore nulls
  docs/t-sql/functions/aggregate-functions-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5057 Update sql-server-migration-assistant.md
  docs/ssma/sql-server-migration-assistant.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, ssma/tech

#5063 Spacing added
  docs/database-engine/configure-windows/server-memory-server-configuration-options.md
Labels: Change sent to author, configuration/tech, do-not-merge, sql/prod

#5062 Updating support policy for Azure Storage Accounts
  docs/t-sql/statements/create-external-data-source-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5053 TSQL - Print Error
  docs/t-sql/statements/set-implicit-transactions-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5033 Shorten syntax block
  docs/t-sql/statements/merge-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#5017 Update the-transaction-log-sql-server.md
  docs/relational-databases/logs/the-transaction-log-sql-server.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, supportability/tech

#5006 Update spark-mssql-connector.md
  docs/big-data-cluster/spark-mssql-connector.md
Labels: Change sent to author, SQL Server 2019 big data cluster spark/svc, aq-pr-triaged, big-data-cluster/tech, do-not-merge, sql/prod

#4949 Update Limitations and Restrictions
  docs/relational-databases/replication/publish/define-an-article.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, replication/tech, sql/prod
