Repository MicrosoftDocs/sql-docs, pull requests merged in 2020-12, with the labels that each got.

#5651 more restrictions of SQL Express Local DB and security concerns
  docs/database-engine/configure-windows/sql-server-express-localdb.md
Labels: Change sent to author, aq-pr-triaged, configuration/tech, ready-to-merge, sql/prod

#5774 Typo "Jupyter notebook"→"Jupyter Notebook"
  docs/azure-data-studio/notebooks/notebooks-kqlmagic.md
Labels: Change sent to author, aq-pr-triaged, azure-data-studio/prod, azure-data-studio/tech, ready-to-merge

#5752 Add seconds freq_subday_type
  docs/relational-databases/system-stored-procedures/sp-add-jobschedule-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#5740 Update sys-indexes-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-indexes-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#5735 Update configure-windows-service-accounts-and-permissions.md
  docs/database-engine/configure-windows/configure-windows-service-accounts-and-permissions.md
Labels: Change sent to author, aq-pr-triaged, configuration/tech, ready-to-merge, sql/prod

#5728 Addition to CONNECTION_OPTIONS; semi-colon separator
  docs/t-sql/statements/create-external-data-source-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5687 Update sys-configurations-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-configurations-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#5670 Update cast-and-convert-transact-sql.md
  docs/t-sql/functions/cast-and-convert-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5781 Fix model name
  docs/machine-learning/tutorials/r-taxi-classification-train-model.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, machine-learning/tech, sql/prod

#5801 Update connector.md
  docs/connect/spark/connector.md
Labels: Change sent to author, connectivity/tech, do-not-merge, sql/prod

#5789 Update manage-authentication-in-database-engine-powershell.md
  docs/powershell/manage-authentication-in-database-engine-powershell.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql-server-powershell/tech, sql/prod

#5802 Add Explanation SQL Server on Linux to document.
  docs/samples/adventureworks-install-configure.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, samples/tech, sql/prod

#5760 Update deploy-install-azdata-installer.md
  docs/azdata/install/deploy-install-azdata-installer.md
Labels: Change sent to author, aq-pr-triaged, big-data-cluster/tech, ready-to-merge, sql/prod

#5810 Small text fixes
  docs/relational-databases/system-dynamic-management-views/sys-geo-replication-links-azure-sql-database.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#5811 Small text fix
  docs/relational-databases/system-dynamic-management-views/sys-dm-geo-replication-link-status-azure-sql-database.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#5812 Add missing space
  docs/database-engine/availability-groups/windows/active-secondaries-readable-secondary-replicas-always-on-availability-groups.md
Labels: Change sent to author, do-not-merge, high-availability/tech, sql/prod

#5814 Fix typo in accessing-the-current-transaction.md
  docs/relational-databases/clr-integration-data-access-transactions/accessing-the-current-transaction.md
Labels: Change sent to author, clr/tech, do-not-merge, sql/prod

#5806 fix typo in SQLBindCol argument name
  docs/odbc/reference/syntax/sqlbindcol-function.md
Labels: Change sent to author, aq-pr-triaged, connectivity/tech, do-not-merge, sql/prod

#5819 Update code-snippets.md
  docs/azure-data-studio/code-snippets.md
Labels: Change sent to author, azure-data-studio/prod, azure-data-studio/tech, do-not-merge

#5824 Fix typo
  docs/relational-databases/system-catalog-views/sys-function-order-columns-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#5827 Remove Space After Decimal Point
  docs/t-sql/data-types/date-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech
