Repository MicrosoftDocs/sql-docs, pull requests merged in 2020-01, with the labels that each got.

#3866 Change SQL Server 2016 Upgrade Advisor to Data Migration Assistant
  docs/sql-server/stretch-database/stretch-database.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql-server-stretch-database/svc

#3887 Update sqlbindcol-function.md
  docs/odbc/reference/syntax/sqlbindcol-function.md
Labels: Change sent to author, connectivity/tech, ready-to-merge, sql/prod

#3816 Update sys-column-store-dictionaries-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-column-store-dictionaries-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, system-objects/tech

#3900 Updated-AzureKeyVaultProvider Preregistered 7.4.1
  docs/connect/jdbc/using-always-encrypted-with-the-jdbc-driver.md
Labels: Change sent to author, connectivity/tech, do-not-merge, sql/prod

#3901 Updated new Azure Keyvault Keywords in Connection String
  docs/connect/jdbc/always-encrypted-api-reference-for-the-jdbc-driver.md
Labels: Change sent to author, connectivity/tech, do-not-merge, sql/prod

#3907 Update ssis-devops-overview.md
  docs/integration-services/devops/ssis-devops-overview.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, sql/prod

#3892 update previous releases for SSDT for VS2017 15.9.3
  docs/ssdt/previous-releases-of-sql-server-data-tools-ssdt-and-ssdt-bi.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#3891 update release note for SSDT for VS2017 15.9.3
  docs/ssdt/release-notes-ssdt.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#3890 update download page for SSDT for VS2017 15.9.3
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#3899 Update installing-the-microsoft-odbc-driver-for-sql-server.md
  docs/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server.md
Labels: Change sent to author, assessing_(C&L), connectivity/tech, do-not-merge, sql/prod

#3920 Change codeplex to GitHub
  docs/ssdt/how-to-connect-to-a-database-and-browse-existing-objects.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, ssdt/tech

#3927 Change the title of referenced KB
  docs/relational-databases/errors-events/mssqlserver-823-database-engine-error.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#3921 Update sql-server-linux-active-directory-authentication.md
  docs/linux/sql-server-linux-active-directory-authentication.md
Labels: Change sent to author, assessing_(C&L), linux/tech, ready-to-merge, sql/prod

#3872 Configuration Manager rebranding
  docs/includes/ssrbnoversion.md
  docs/reporting-services/install-windows/install-report-builder.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, reporting-services/prod

#3929 Update collation-and-unicode-support.md
  docs/relational-databases/collations/collation-and-unicode-support.md
Labels: Change sent to author, ready-to-merge, sql/prod

#3924 Updated header for creating login with server auth and T-SQL
  docs/relational-databases/security/authentication-access/create-a-login.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security/tech, sql/prod

#3922 Solution to import data with mixed data types from Excel
  docs/integration-services/connection-manager/excel-connection-manager.md
Labels: Change sent to author, assessing_(C&L), integration-services/tech, ready-to-merge, sql/prod

#3935 Fix typo
  docs/relational-databases/in-memory-oltp/overview-and-usage-scenarios.md
Labels: Change sent to author, do-not-merge, in-memory-oltp/tech, sql/prod

#3931 Update collation-and-unicode-support.md
  docs/relational-databases/collations/collation-and-unicode-support.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod

#3940 Update sql-server-linux-setup.md
  docs/linux/sql-server-linux-setup.md
Labels: Change sent to author, assessing_(C&L), linux/tech, ready-to-merge, sql/prod

#3947 Update ssis-devops-overview.md
  docs/integration-services/devops/ssis-devops-overview.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, sql/prod

#3951 Update sql-server-linux-active-directory-authentication.md
  docs/linux/sql-server-linux-active-directory-authentication.md
Labels: Change sent to author, linux/tech, ready-to-merge, sql/prod

#3774 Fix Report Viewer version number
  docs/reporting-services/application-integration/release-notes-ssrs-application-integration.md
Labels: Change sent to author, application-integration/tech, assessing_(C&L), ready-to-merge, reporting-services/prod

#3848 Update Powershell script to Change ownership for all subscriptions ow…
  docs/reporting-services/subscriptions/manage-subscription-owners-and-run-subscription-powershell.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, reporting-services/prod, subscriptions/tech

#3867 Modification to the default instance web portal URL mentioned
  docs/reporting-services/install-windows/about-url-reservations-and-registration-ssrs-configuration-manager.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, reporting-services/prod

#3943 Added documentation for Paginated Reports in Power BI
  docs/reporting-services/report-server/setting-time-out-values-for-report-and-shared-dataset-processing-ssrs.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, report-server/tech, reporting-services/prod

#3950 Update oracle-connection-type-ssrs.md
  docs/reporting-services/report-data/oracle-connection-type-ssrs.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, report-data/tech, reporting-services/prod

#3973 Patch 1 - Pull Request - DMA Best Practices
  docs/dma/dma-bestpractices.md
Labels: Change sent to author, dma/tech, ready-to-merge, sql/prod

#3913 Update sql-server-linux-configure-docker.md to include explicit directories for data, log, and secrets when mounting external volumes.
  docs/linux/sql-server-linux-configure-docker.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, linux/tech, sql/prod

#3987 Update ssis-devops-overview.md
  docs/integration-services/devops/ssis-devops-overview.md
Labels: Change sent to author, integration-services/tech, ready-to-merge, sql/prod

#3988 Typo "*@varbinary_variable*"→"*\@varbinary_variable*"
  docs/t-sql/statements/execute-as-transact-sql.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, sql/prod, t-sql/tech

#3994 Fix example to match the description
  docs/t-sql/statements/create-credential-transact-sql.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, sql/prod, t-sql/tech

#3974 Update broken CSS SQL Engineer blog Link
  docs/database-engine/availability-groups/windows/prereqs-restrictions-recommendations-always-on-availability.md
Labels: Change sent to author, assessing_(C&L), high-availability/tech, ready-to-merge, sql/prod

#3970 Update database-files-and-filegroups.md
  docs/relational-databases/databases/database-files-and-filegroups.md
Labels: Change sent to author, assessing_(C&L), configuration/tech, do-not-merge, sql/prod

#4000 Fix some typos and grammar
  docs/includes/paragraph-content/sql-on-premises-vs-azure-similar-sys-views-include.md
Labels: do-not-merge, review-team-triage

#4003 Update set-arithabort-transact-sql.md
  docs/t-sql/statements/set-arithabort-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#4001 Added xlsx and docx as common formats
  docs/reporting-services/url-access-parameter-reference.md
Labels: Change sent to author, ready-to-merge, reporting-services/prod, reporting-services/tech

#4013 Updating Excel device info for DynamicImageDpi
  docs/reporting-services/excel-device-information-settings.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, reporting-services/prod, reporting-services/tech

#4021 Update sql-server-linux-active-directory-join-domain.md
  docs/linux/sql-server-linux-active-directory-join-domain.md
Labels: Change sent to author, linux/tech, ready-to-merge, sql/prod

#4025 Typo
  docs/relational-databases/policy-based-management/administer-servers-by-using-policy-based-management.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod

#4044 IP address is not supported
  docs/relational-databases/replication/tutorial-preparing-the-server-for-replication.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, replication/tech, sql/prod

#4045 IP address is not supported
  docs/relational-databases/replication/administration/frequently-asked-questions-for-replication-administrators.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, replication/tech, sql/prod
