Repository MicrosoftDocs/sql-docs, pull requests merged in 2021-02, with the labels that each got.

#6030 SELECT...OVER - ORDER BY: Typographical Error
  docs/t-sql/queries/select-over-clause-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6043 Update release-notes-azure-data-studio.md
  docs/azure-data-studio/release-notes-azure-data-studio.md
Labels: Change sent to author, azure-data-studio/prod, azure-data-studio/tech, do-not-merge

#6044 Fix year in release notes
  docs/azure-data-studio/release-notes-azure-data-studio.md
Labels: Change sent to author, azure-data-studio/prod, azure-data-studio/tech, do-not-merge

#6033 Added common server side items that doesn't work with AE
  docs/relational-databases/security/encryption/always-encrypted-database-engine.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/tech, sql/prod

#6051 Link to Error Severities from RAISERROR page
  docs/t-sql/language-elements/raiserror-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6055 Typo in editions-and-components-of-sql-server-version-15
  docs/sql-server/editions-and-components-of-sql-server-version-15.md
Labels: Change sent to author, do-not-merge, release-landing/tech, sql/prod

#6052 Fixing minor typo in database-project-settings.md
  docs/ssdt/database-project-settings.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, ssdt/tech

#5929 Typo "STOPAT**=**_time_**,**"→"STOPAT **=** _time_ **,**"
  docs/relational-databases/backup-restore/restore-a-sql-server-database-to-a-point-in-time-full-recovery-model.md
Labels: Change sent to author, aq-pr-triaged, backup-restore/tech, do-not-merge, sql/prod

#5968 Escaped apostrophe to make it a valid string
  docs/t-sql/language-elements/some-any-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#6020 Update availability-group-lease-healthcheck-timeout.md
  docs/database-engine/availability-groups/windows/availability-group-lease-healthcheck-timeout.md
Labels: Change sent to author, aq-pr-triaged, availability-groups/tech, do-not-merge, sql/prod

#6064 Update sql-server-backup-to-url-best-practices-and-troubleshooting.md
  docs/relational-databases/backup-restore/sql-server-backup-to-url-best-practices-and-troubleshooting.md
Labels: Change sent to author, aq-pr-triaged, backup-restore/tech, do-not-merge, sql/prod

#5972 Update restore-a-transaction-log-backup-sql-server.md
  docs/relational-databases/backup-restore/restore-a-transaction-log-backup-sql-server.md
Labels: Change sent to author, aq-pr-triaged, backup-restore/tech, do-not-merge, sql/prod

#6061 Update install-microsoft-odbc-driver-sql-server-macos.md
  docs/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos.md
Labels: Change sent to author, aq-pr-triaged, connectivity/tech, ready-to-merge, sql/prod

#6062 call connection.connect() to make the connection.
  docs/connect/node-js/step-3-proof-of-concept-connecting-to-sql-using-node-js.md
Labels: Change sent to author, aq-pr-triaged, connectivity/tech, do-not-merge, sql/prod

#5661 Update create-database-scoped-credential-transact-sql.md
  docs/t-sql/statements/create-database-scoped-credential-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#5854 Clarifying that NOEXPAND cannot be used as an UPDATE table lock
  docs/t-sql/queries/update-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#6076 Fixed a typo in "consume"
  docs/relational-databases/native-client-odbc-api/sqlrowcount.md
Labels: Change sent to author, do-not-merge, native-client/tech, sql/prod

#6075 Note added to @allow_partition_switch section
  docs/relational-databases/system-stored-procedures/sys-sp-cdc-enable-table-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#6085 Removed extra whitespace.
  docs/t-sql/data-types/datetime2-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#6084 Remove duplicate SQL_INSTALL_AGENT environment variable export
  docs/linux/sample-unattended-install-ubuntu.md
Labels: Change sent to author, aq-pr-triaged, linux/tech, ready-to-merge, sql/prod

#5919 Typo "[ 1**,** ... n]"→"[ 1 **,** ... n]"
  docs/t-sql/statements/alter-table-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#6106 Update sys-dm-exec-input-buffer-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-exec-input-buffer-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#6073 Update run-packages-in-integration-services-ssis-scale-out.md
  docs/integration-services/scale-out/run-packages-in-integration-services-ssis-scale-out.md
Labels: Change sent to author, aq-pr-triaged, integration-services/tech, ready-to-merge, sql/prod

#6117 Added missing space after period
  docs/sql-server/failover-clusters/windows/always-on-failover-cluster-instances-sql-server.md
Labels: Change sent to author, do-not-merge, failover-cluster-instance/tech, sql/prod

#6123 Add "See Also" links
  docs/t-sql/functions/context-info-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech
