Repository MicrosoftDocs/sql-docs, pull requests merged in 2021-05, with the labels that each got.

#6100 Use a single apt command to install dependencies
  docs/azure-data-studio/download-azure-data-studio.md
Labels: Change sent to author, aq-pr-triaged, azure-data-studio/prod, azure-data-studio/tech, do-not-merge, keep-open

#6026 Update download-azure-data-studio.md for WSL
  docs/azure-data-studio/download-azure-data-studio.md
Labels: Change sent to author, aq-pr-triaged, azure-data-studio/prod, azure-data-studio/tech, do-not-merge, keep-open

#6371 seems to be a typo
  docs/relational-databases/in-memory-oltp/unsupported-sql-server-features-for-in-memory-oltp.md
Labels: Change sent to author, do-not-merge, in-memory-oltp/tech, sql/prod

#6380 Typo "node.js"→"Node.js"
  docs/connect/node-js/step-3-proof-of-concept-connecting-to-sql-using-node-js.md
Labels: Change sent to author, connectivity/tech, do-not-merge, sql/prod

#6379 Added remarks and example for correcting mismatched SIDs
  docs/t-sql/statements/alter-user-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#6267 Update reference-azdata-bdc-sql-settings.md
  docs/azdata/reference/reference-azdata-bdc-sql-settings.md
Labels: Change sent to author, aq-pr-triaged, big-data-cluster/tech, keep-open, ready-to-merge, sql/prod

#6394 Updated section about Azure Synapse Support
  docs/connect/spark/connector.md
Labels: Change sent to author, connectivity/tech, do-not-merge, sql/prod

#6395 Updated restrictions for servername unqiueness
  docs/database-engine/availability-groups/windows/prereqs-restrictions-recommendations-always-on-availability.md
Labels: Change sent to author, availability-groups/tech, do-not-merge, sql/prod

#5762 Fixed section, removed self-referential link
  docs/relational-databases/performance/best-practice-with-the-query-store.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, performance/tech, sql/prod

#6391 Update sys-external-language-files-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-external-language-files-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#6386 sys.external_languages to sys.external_language_files
  docs/relational-databases/system-catalog-views/sys-external-language-files-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#6398 Value for adExecuteRecord missing
  docs/ado/reference/ado-api/executeoptionenum.md
Labels: Change sent to author, ado/tech, aq-pr-triaged, ready-to-merge, sql/prod

#6352 Adding notes for domain local groups + FQDN
  docs/linux/sql-server-linux-active-directory-authentication.md
Labels: Change sent to author, aq-pr-triaged, keep-open, linux/tech, ready-to-merge, sql/prod

#6405 The site I looked at was incorrect.
  docs/ado/reference/ado-api/executeoptionenum.md
Labels: Change sent to author, ado/tech, do-not-merge, sql/prod

#6410 Minor change
  docs/tools/synapse-pathway/synapse-pathway-behind-the-scenes.md
Labels: Change sent to author, do-not-merge, sql/prod, tools-other/tech

#6417 Fixes typo - 'complaint' to 'compliant'
  docs/tools/synapse-pathway/pathway-faq.md
Labels: Change sent to author, do-not-merge, sql/prod, tools-other/tech

#6425 Update create-and-test-a-classifier-user-defined-function.md
  docs/relational-databases/resource-governor/create-and-test-a-classifier-user-defined-function.md
Labels: Change sent to author, do-not-merge, performance/tech, sql/prod

#6435 Removed the word "two"
  docs/database-engine/availability-groups/windows/distributed-availability-groups.md
Labels: aq-pr-triaged, ready-to-merge, triaged

#6432 correctly spell timestamp
  docs/relational-databases/system-views/syssubscriptions-system-view-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, replication/tech, sql/prod, triaged

#6431 Improved readability of 'complex PIVOT TABLE' example by adding indentation
  docs/t-sql/queries/from-using-pivot-and-unpivot.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech, triaged

#6428 TLS 1.2 or newer needed for this
  docs/reporting-services/install-windows/power-bi-report-server-integration-configuration-manager.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, reporting-services/prod, review-team-triage, triaged

#6400 Update mssqlserver-605-database-engine-error.md
  docs/relational-databases/errors-events/mssqlserver-605-database-engine-error.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, supportability/tech, triaged

#6439 docs - Fixed typo
  docs/t-sql/statements/create-database-scoped-credential-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6447 Update reference-azdata-bdc-hdfs.md
  docs/azdata/reference/reference-azdata-bdc-hdfs.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod
