Repository MicrosoftDocs/sql-docs, pull requests merged in 2021-06, with the labels that each got.

#6450 Support for Ubuntu 20.04 and RHEL8 with SQL Server 2019 CU10
  docs/linux/sql-server-linux-setup-machine-learning.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, machine-learning-services/tech, sql/prod

#6459 Added missing class id and description
  docs/relational-databases/system-catalog-views/sys-database-permissions-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#6393 Update reference-azdata-bdc-hdfs.md
  docs/azdata/reference/reference-azdata-bdc-hdfs.md
Labels: Change sent to author, aq-pr-triaged, big-data-cluster/tech, do-not-merge, sql/prod

#6204 Fixing typo "temporary endpoint ot"
  docs/big-data-cluster/deployment-high-availability.md
Labels: Change sent to author, aq-pr-triaged, big-data-cluster/tech, do-not-merge, keep-open, sql/prod

#6464 Update with more Support Info vs Linux
  docs/sql-server/azure-arc/configure-advanced-data-security.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod

#6457 update the doc for standalone DevOps Tools v0.1.3
  docs/integration-services/devops/ssis-devops-standalone.md
Labels: Change sent to author, aq-pr-triaged, integration-services/tech, ready-to-merge, sql/prod

#6456 update the doc for the release of v1.0.5
  docs/integration-services/devops/ssis-devops-overview.md
Labels: Change sent to author, aq-pr-triaged, integration-services/tech, ready-to-merge, sql/prod

#6473 Update overview.md
  docs/sql-server/azure-arc/overview.md
Labels: Change sent to author, do-not-merge, sql/prod

#6144 Update checksum-transact-sql.md
  docs/t-sql/functions/checksum-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, t-sql/tech

#6350 Update databasepropertyex-transact-sql.md
  docs/t-sql/functions/databasepropertyex-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, t-sql/tech

#6474 Correct renamed system views `syspolicy_policy_group` -> `syspolicy_policy_category`
  docs/relational-databases/system-catalog-views/policy-based-management-views-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#6472 Added single quote to last option for registering
  docs/sql-server/azure-arc/connect.md
Labels: Change sent to author, do-not-merge, sql/prod

#6458 Add syntax highlighting for VBA codes
  docs/ado/guide/data/hellodata-code.md
Labels: Change sent to author, ado/tech, aq-pr-triaged, do-not-merge, sql/prod

#6375 Update polybase-linux-setup.md
  docs/relational-databases/polybase/polybase-linux-setup.md
Labels: Change sent to author, aq-pr-triaged, linux/tech, ready-to-merge, sql/prod

#6477 update the doc for the hotfix of SSIS standalone devops tools of v0.1.3.1
  docs/integration-services/devops/ssis-devops-standalone.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#5905 Add repeat to CREATE INDEX filter_predicate syntax
  docs/t-sql/statements/create-index-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, keep-open, ready-to-merge, sql/prod, t-sql/tech

#6141 Clarify that varchar(max) fields can now be part of an index's includ…
  docs/t-sql/statements/create-index-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, keep-open, ready-to-merge, sql/prod, t-sql/tech

#6259 Fix query format
  docs/relational-databases/search/view-or-change-registered-filters-and-word-breakers.md
Labels: Change sent to author, aq-pr-triaged, keep-open, ready-to-merge, sql/prod

#5845 Add note about parallel checks
  docs/t-sql/database-console-commands/dbcc-checktable-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, t-sql/tech

#6261 Fix SQL Style Guide Update view-or-change-registered-filters-and-word-breakers.md
  docs/relational-databases/search/view-or-change-registered-filters-and-word-breakers.md
Labels: Change sent to author, aq-pr-triaged, keep-open, ready-to-merge, search/tech, sql/prod

#6436 Update master-data-services-add-in-for-microsoft-excel.md
  docs/master-data-services/microsoft-excel-add-in/master-data-services-add-in-for-microsoft-excel.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, master-data-services/tech, sql/prod

#6471 Update replace-transact-sql.md
  docs/t-sql/functions/replace-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#6482 Update create-nested-triggers.md
  docs/relational-databases/triggers/create-nested-triggers.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod

#6485 missing space in sentence
  docs/relational-databases/system-stored-procedures/sp-add-job-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#6392 Update row-compression-implementation.md
  docs/relational-databases/data-compression/row-compression-implementation.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, performance/tech, sql/prod

#6487 Changed strings in the example to Unicode
  docs/relational-databases/triggers/logon-triggers.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod

#6493 Update administer-servers-by-using-policy-based-management.md
  docs/relational-databases/policy-based-management/administer-servers-by-using-policy-based-management.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/tech, sql/prod

#6511 Update sys-dm-geo-replication-link-status-azure-sql-database.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-geo-replication-link-status-azure-sql-database.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#6512 Resolve syncing conflicts from FromPrivateRepo to live
  .openpublishing.publish.config.json
  .openpublishing.redirection.json
  docs/azure-data-studio/download-azure-data-studio.md
  docs/azure-data-studio/notebooks/media/notebooks-parameterization/donwload-prompt.png
  docs/azure-data-studio/notebooks/media/notebooks-parameterization/first-parameter.png
  docs/azure-data-studio/notebooks/media/notebooks-parameterization/run-with-parameters.png
  docs/azure-data-studio/notebooks/media/notebooks-parameterization/search-bar.png
  docs/azure-data-studio/notebooks/media/notebooks-parameterization/second-parameter.png
  docs/azure-data-studio/notebooks/parameterize-papermill.md
  docs/azure-data-studio/notebooks/parameterize-uri.md
  docs/azure-data-studio/notebooks/run-with-parameters.md
  docs/azure-data-studio/release-notes-azure-data-studio.md
  docs/azure-data-studio/toc.yml
  docs/relational-databases/backup-restore/sql-server-vss-writer-backup-guide.md
  docs/relational-databases/databases/display-data-and-log-space-information-for-a-database.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-geo-replication-link-status-azure-sql-database.md
Labels: Change sent to author, do-not-merge, sql-database/svc, sql/prod, supportability/tech

#6418 Add support for key version on the key vault
  docs/relational-databases/security/encryption/setup-steps-for-extensible-key-management-using-the-azure-key-vault.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/tech, sql/prod

#6234 Update sys-allocation-units-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-allocation-units-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, system-objects/tech

#6539 Fixed the casing in the name of the product
  docs/t-sql/statements/drop-database-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, t-sql/tech

#6542 Update sys-fn-listextendedproperty-transact-sql.md
  docs/relational-databases/system-functions/sys-fn-listextendedproperty-transact-sql.md
Labels: Change sent to author, ready-to-merge, sql/prod, system-objects/tech

#6543 Alphabetize list and fix # of list items
  docs/azure-data-studio/extensions/sql-database-project-extension-build-from-command-line.md
Labels: Change sent to author, azure-data-studio/prod, azure-data-studio/tech, ready-to-merge

#6533 Added link to feature matrix for unsupported features
  docs/connect/driver-feature-matrix.md
  docs/connect/oledb/features/oledb-driver-for-sql-server-features.md
Labels: Change sent to author, aq-pr-triaged, connectivity/tech, do-not-merge, sql/prod

#6551 Update a-guide-to-query-processing-for-memory-optimized-tables.md
  docs/relational-databases/in-memory-oltp/a-guide-to-query-processing-for-memory-optimized-tables.md
Labels: Change sent to author, in-memory-oltp/tech, ready-to-merge, sql/prod

#6540 Added a more reliable drop database if exists option
  docs/t-sql/statements/drop-database-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#6519 Created note for curl not installed warning
  docs/linux/quickstart-install-connect-ubuntu.md
Labels: Change sent to author, aq-pr-triaged, linux/tech, ready-to-merge, sql/prod

#6552 IFI is only available for data files
  docs/relational-databases/databases/database-instant-file-initialization.md
Labels: Change sent to author, configuration/tech, ready-to-merge, sql/prod

#6538 Update install-additional-r-packages-on-sql-server.md
  docs/machine-learning/package-management/install-additional-r-packages-on-sql-server.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, machine-learning/tech, sql/prod

#6556 Fixed a minor notation error
  docs/linux/quickstart-install-connect-ubuntu.md
Labels: Change sent to author, linux/tech, ready-to-merge, sql/prod

#6555 Fix misspelled word access
  docs/integration-services/security/security-overview-integration-services.md
Labels: Change sent to author, do-not-merge, integration-services/tech, sql/prod

#6550 Update logical-functions-iif-transact-sql.md
  docs/t-sql/functions/logical-functions-iif-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech
