Repository MicrosoftDocs/sql-docs, pull requests merged in 2021-08, with the labels that each got.

#6607 Fix int bitness to 32
  docs/t-sql/language-elements/bitwise-not-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#6491 Fixed tiny error in path to cert
  docs/t-sql/statements/create-certificate-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#6622 Update sql-server-linux-performance-best-practices.md
  docs/linux/sql-server-linux-performance-best-practices.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, linux/tech, sql/prod

#6586 Update restore-statements-filelistonly-transact-sql.md
  docs/t-sql/statements/restore-statements-filelistonly-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#6621 Add note on Synapse NCI not enforcing constraint
  docs/relational-databases/indexes/columnstore-indexes-overview.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, table-view-index/tech

#6594 updated algorithm from 128 to 256 bit
  docs/relational-databases/security/encryption/transparent-data-encryption.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/tech, sql/prod

#6663 Update python-plot-histogram.md
  docs/machine-learning/data-exploration/python-plot-histogram.md
Labels: ready-to-merge, Change sent to author, sql/prod, machine-learning/tech

#6667 Added Clarity on Pre-reqs
  docs/database-engine/availability-groups/windows/configure-backup-on-availability-replicas-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, availability-groups/tech

#6678 SQL Server Browser and default instances note
  docs/database-engine/configure-windows/sql-server-browser-service-database-engine-and-ssas.md
Labels: Change sent to author, do-not-merge, sql/prod, configuration/tech, aq-pr-triaged

#6520 Added example of calculating number of spaces with REPLACE function
  docs/t-sql/functions/replace-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#6692 typo fixed
  docs/t-sql/functions/replace-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#6701 Fixed minor typo
  docs/connect/jdbc/setting-the-connection-properties.md
Labels: Change sent to author, do-not-merge, sql/prod, connectivity/tech

#6661 Update create-unique-indexes.md
  docs/relational-databases/indexes/create-unique-indexes.md
Labels: ready-to-merge, Change sent to author, sql/prod, table-view-index/tech, aq-pr-triaged

#6702 Update alter-database-scoped-configuration-transact-sql.md
  docs/t-sql/statements/alter-database-scoped-configuration-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#6690 Update memory-management-architecture-guide.md
  docs/relational-databases/memory-management-architecture-guide.md
Labels: ready-to-merge, Change sent to author, sql/prod, supportability/tech, aq-pr-triaged

#6695 Update break-transact-sql.md
  docs/t-sql/language-elements/break-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6710 Fixed typo
  docs/t-sql/language-elements/execute-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6715 Update getting-started-with-database-engine-permissions.md
  docs/relational-databases/security/authentication-access/getting-started-with-database-engine-permissions.md
Labels: Change sent to author, do-not-merge, sql/prod, security/tech

#6684 t_float-c.dat input update to match format file
  docs/t-sql/statements/bulk-insert-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#6688 Update sys-sql-modules-transact-sql.md - Unnecessary object_name invocation
  docs/relational-databases/system-catalog-views/sys-sql-modules-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#6152 Update lesson-1-6-adding-and-configuring-the-lookup-transformations.md
  docs/integration-services/lesson-1-6-adding-and-configuring-the-lookup-transformations.md
Labels: Change sent to author, do-not-merge, sql/prod, integration-services/tech, aq-pr-triaged, keep-open

#6730 Fix typo
  docs/t-sql/statements/create-table-transact-sql-identity-property.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6717 Update scalar-udf-inlining.md
  docs/relational-databases/user-defined-functions/scalar-udf-inlining.md
Labels: Change sent to author, do-not-merge, sql/prod, aq-pr-triaged

#6731 fixing a small typo
  docs/ssdt/use-deployment-contributors-to-customize-database-build-and-deployment.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#6738 Update download page to release SSDT for VS2017 15.9.9
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: ready-to-merge, Change sent to author, sql/prod, ssdt/tech, aq-pr-triaged

#6739 Update release notes to release SSDT for VS2017 15.9.9
  docs/ssdt/release-notes-ssdt.md
Labels: ready-to-merge, Change sent to author, sql/prod, ssdt/tech, aq-pr-triaged

#6748 Fixed typo in version
  docs/ssms/release-notes-ssms.md
Labels: ready-to-merge, Change sent to author, sql/prod, ssms/tech, aq-pr-triaged

#6719 Typo fixed
  docs/t-sql/functions/replace-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#6762 Adding comment on Builtin\Administrator account
  docs/linux/sql-server-linux-faq.yml
Labels: ready-to-merge, Change sent to author

#6761 Fix typos and tables
  docs/dmx/select-distinct-from-model-dmx.md
Labels: Change sent to author, do-not-merge, sql/prod, analysis-services/tech
