Repository MicrosoftDocs/sql-docs, pull requests merged in 2021-07, with the labels that each got.

#6479 Amsolo sql docs local
  docs/sql-server/migrate/guides/db2-to-sql-server.md
  docs/sql-server/migrate/guides/mysql-to-sql-server.md
  docs/sql-server/migrate/guides/oracle-to-sql-server.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, migration-guide/tech, sql/prod

#6528 Updated ms.prod_service
  docs/connect/oledb/features/using-database-mirroring.md
Labels: Change sent to author, aq-pr-triaged, connectivity/tech, do-not-merge, sql/prod

#6587 Small update
  docs/azure-data-studio/download-azure-data-studio.md
Labels: Change sent to author, aq-pr-triaged, azure-data-studio/prod, azure-data-studio/tech, do-not-merge

#6595 Update sql-server-browser-service.md
  docs/tools/configuration-manager/sql-server-browser-service.md
Labels: Change sent to author, do-not-merge, sql/prod, tools-other/tech

#6390 Database Mail Profile Name Configuration for SQL Managed Instance
  docs/relational-databases/database-mail/configure-database-mail.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod

#6484 xxz_log_bytes_used columns do not exist in 2016
  docs/relational-databases/system-catalog-views/sys-query-store-runtime-stats-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#6273 Add missing installation source for Express LocalDB
  docs/database-engine/configure-windows/sql-server-express-localdb.md
Labels: Change sent to author, aq-pr-triaged, configuration/tech, keep-open, ready-to-merge, sql/prod

#6238 Add example error to docs about sp_refreshsqlmodule
  docs/relational-databases/system-stored-procedures/sp-refreshsqlmodule-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, keep-open, ready-to-merge, sql/prod, system-objects/tech

#6299 Update sp-databases-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-databases-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, keep-open, ready-to-merge, sql/prod, system-objects/tech

#6596 Update sql-server-browser-service.md
  docs/tools/configuration-manager/sql-server-browser-service.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, tools-other/tech

#6396 Remarks about possible supportability issues
  docs/relational-databases/system-stored-procedures/sp-dropserver-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#6513 Add limitation for FCI
  docs/database-engine/configure-windows/configure-windows-service-accounts-and-permissions.md
Labels: Change sent to author, aq-pr-triaged, configuration/tech, ready-to-merge, sql/prod

#6563 output-clause-transact-sql.md: example highligting
  docs/t-sql/queries/output-clause-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#6601 Update master-data-services-installation-and-configuration.md
  docs/master-data-services/master-data-services-installation-and-configuration.md
Labels: Change sent to author, master-data-services/tech, ready-to-merge, sql/prod

#6289 Update sql-server-linux-active-directory-authentication.md
  docs/linux/sql-server-linux-active-directory-authentication.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, linux/tech, sql/prod

#6600 Update setup-steps-for-extensible-key-management-using-the-azure-key-…
  docs/relational-databases/security/encryption/setup-steps-for-extensible-key-management-using-the-azure-key-vault.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security/tech, sql/prod

#6609 Update sql-server-linux-encrypted-connections.md
  docs/linux/sql-server-linux-encrypted-connections.md
Labels: Change sent to author, aq-pr-triaged, linux/tech, ready-to-merge, sql/prod

#6612 Update to SQL Server on Linux Security Limitations - Authentication Mode
  docs/linux/sql-server-linux-security-overview.md
Labels: Change sent to author, do-not-merge, linux/tech, sql/prod

#6611 Updating SQL Server on Linux Management - named pipes
  docs/linux/sql-server-linux-management-overview.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, linux/tech, sql/prod

#6570 Update always-encrypted-database-engine.md
  docs/relational-databases/security/encryption/always-encrypted-database-engine.md
Labels: Change sent to author, aq-pr-triaged, doc-enhancement, ready-to-merge, security/tech, sql/prod

#6624 Update set-quoted-identifier-transact-sql.md
  docs/t-sql/statements/set-quoted-identifier-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#6635 Clean up examples - SARGability & clause positions
  docs/relational-databases/views/create-indexed-views.md
Labels: Change sent to author, ready-to-merge, sql/prod, table-view-index/tech

#6637 small typo
  docs/relational-databases/native-client-odbc-queries/using-statement-parameters.md
Labels: Change sent to author, do-not-merge, native-client/tech, sql/prod

#6620 Highlight the fact that there is no undo for this action
  docs/relational-databases/in-memory-oltp/the-memory-optimized-filegroup.md
Labels: Change sent to author, aq-pr-triaged, in-memory-oltp/tech, ready-to-merge, sql/prod

#6397 Remarks about possible supportability issues
  docs/relational-databases/system-stored-procedures/sp-addserver-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#6277 Added missing space
  docs/relational-databases/in-memory-oltp/transact-sql-constructs-not-supported-by-in-memory-oltp.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, in-memory-oltp/tech, keep-open, sql/prod

#6644 Clarify SMB Fileshare Support for Distribution
  docs/relational-databases/replication/distribution-database.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, replication/tech, sql/prod

#6649 Update install-report-builder.md
  docs/reporting-services/install-windows/install-report-builder.md
Labels: Change sent to author, ready-to-merge, reporting-services/prod
