Repository MicrosoftDocs/sql-docs, pull requests merged in 2021-03, with the labels that each got.

#5559 Update enable-encrypted-connections-to-the-database-engine.md
  docs/database-engine/configure-windows/enable-encrypted-connections-to-the-database-engine.md
Labels: Change sent to author, aq-pr-triaged, configuration/tech, ready-to-merge, sql/prod

#6132 Typo on text from 'two' to 'three'
  docs/relational-databases/security/auditing/write-sql-server-audit-events-to-the-security-log.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, security/tech, sql/prod

#6119 Add the server property value to the query result
  docs/database-engine/configure-windows/view-or-change-server-properties-sql-server.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, configuration/tech, ready-to-merge, sql/prod

#5566 Update catalog-check-schema-version.md
  docs/integration-services/system-stored-procedures/catalog-check-schema-version.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, integration-services/tech, sql/prod, stale

#6122 Add "See Also" links
  docs/t-sql/statements/set-context-info-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, t-sql/tech

#6137 message_id does not exist and message_enqueue_time it´s now part of t…
  docs/t-sql/statements/create-queue-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, t-sql/tech

#6134 Update execute-as-transact-sql.md
  docs/t-sql/statements/execute-as-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, t-sql/tech

#6162 Updated CU number
  docs/relational-databases/security/row-level-security.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod

#6098 Formatting changes
  docs/relational-databases/databases/contained-database-collations.md
Labels: Change sent to author, aq-pr-triaged, configuration/tech, do-not-merge, keep-open, sql/prod

#6120 Update todatetimeoffset-transact-sql.md
  docs/t-sql/functions/todatetimeoffset-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, t-sql/tech

#6105 edited incorrect port
  docs/linux/sql-server-linux-configure-msdtc-docker.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, linux/tech, sql/prod

#6171 Update create-column-encryption-key-transact-sql.md
  docs/t-sql/statements/create-column-encryption-key-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6078 Fixed wrong PowerShell script for provisioning Key Vault
  docs/relational-databases/security/encryption/configure-always-encrypted-keys-using-powershell.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, security/tech, sql/prod

#6154 Add missing EP class for UDTT columns
  docs/relational-databases/system-catalog-views/extended-properties-catalog-views-sys-extended-properties.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, system-objects/tech

#5933 Update create-indexed-views.md
  docs/relational-databases/views/create-indexed-views.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, table-view-index/tech

#6095 Small changes with formatting
  docs/relational-databases/databases/model-database.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod

#6096 Formatting changes
  docs/relational-databases/databases/tempdb-database.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod

#6094 Small changes with formatting
  docs/relational-databases/databases/msdb-database.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod

#6178 Added MERGE to list of statements that start an implicit transaction
  docs/t-sql/statements/set-implicit-transactions-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/prod, t-sql/tech

#6059 Detail re Schema Limitations in Synapse Analytics
  docs/relational-databases/system-stored-procedures/sp-rename-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, system-objects/tech

#6121 Change to quoting of column aliases
  docs/t-sql/language-elements/nullif-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, keep-open, ready-to-merge, sql/prod, t-sql/tech

#6140 Update sys-dm-hadr-availability-group-states-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-hadr-availability-group-states-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, keep-open, ready-to-merge, sql/prod, system-objects/tech

#6198 Fixing quotation marks to copy/paste friendly
  docs/language-extensions/install/windows-java.md
Labels: do-not-merge

#6203 Add clarifying word
  docs/relational-databases/xml/type-directive-in-for-xml-queries.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, xml/tech

#6206 Fixing typo "cotnained" to "contained"
  docs/big-data-cluster/deployment-high-availability.md
Labels: Change sent to author, big-data-cluster/tech, do-not-merge, sql/prod

#6211 Fixes link
  docs/reporting-services/troubleshooting/troubleshoot-reporting-services-report-issues.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, troubleshooting/tech

#6207 Update create-or-configure-an-availability-group-listener-sql-server.md
  docs/database-engine/availability-groups/windows/create-or-configure-an-availability-group-listener-sql-server.md
Labels: Change sent to author, availability-groups/tech, do-not-merge, sql/prod

#6199 Update missing verb in "when you a database"
  docs/tools/sqlpackage/sqlpackage-script.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, tools-other/tech

#6209 Add missing word to download-sql-server-management-studio-ssms.md
  docs/ssms/download-sql-server-management-studio-ssms.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, ssms/tech

#6046 Update how-to-compare-and-synchronize-the-data-of-two-databases.md
  docs/ssdt/how-to-compare-and-synchronize-the-data-of-two-databases.md
Labels: Change sent to author, aq-pr-triaged, keep-open, ready-to-merge, sql/prod, ssdt/tech

#6202 Update version-transact-sql-configuration-functions.md
  docs/t-sql/functions/version-transact-sql-configuration-functions.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, t-sql/tech

#6181 Improved memory-related wording
  docs/relational-databases/system-stored-procedures/sp-xml-preparedocument-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/prod, system-objects/tech

#6213 Update add-persisted-log-buffer.md
  docs/relational-databases/databases/add-persisted-log-buffer.md
Labels: Change sent to author, configuration/tech, do-not-merge, sql/prod

#6214 Update server-level-roles.md
  docs/relational-databases/security/authentication-access/server-level-roles.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod

#6219 Updating SQL 2017 CU23 links
  docs/machine-learning/install/sql-ml-cab-downloads.md
Labels: Change sent to author, do-not-merge, machine-learning-services/tech, sql/prod

#6221 Update write-the-job-status-to-the-windows-application-log.md
  docs/ssms/agent/write-the-job-status-to-the-windows-application-log.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech

#6225 Fix typo
  docs/relational-databases/security/encryption/always-encrypted-database-engine.md
Labels: Change sent to author, do-not-merge, security/tech, sql/prod

#6208 Update current-timestamp-transact-sql.md
  docs/t-sql/functions/current-timestamp-transact-sql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, t-sql/tech

#6220 Updated Ghost Record Information And Link
  docs/database-engine/availability-groups/windows/active-secondaries-readable-secondary-replicas-always-on-availability-groups.md
Labels: Change sent to author, aq-pr-triaged, availability-groups/tech, do-not-merge, sql/prod

#6212 Update specify-default-values-for-columns.md
  docs/relational-databases/tables/specify-default-values-for-columns.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, keep-open, sql/prod, table-view-index/tech
