Repository MicrosoftDocs/sql-docs, pull requests merged in 2021-09, with the labels that each got.

#6756 Updated resent messages
  docs/relational-databases/performance-monitor/sql-server-availability-replica.md
Labels: ready-to-merge, Change sent to author, sql/prod, performance/tech, aq-pr-triaged

#6773 Update enable-resource-governor.md
  docs/relational-databases/resource-governor/enable-resource-governor.md
Labels: Change sent to author, do-not-merge, sql/prod, performance/tech

#6771 Wendy Patch 1
  docs/integration-services/devops/ssis-devops-overview.md
  docs/integration-services/devops/ssis-devops-standalone.md
Labels: ready-to-merge, Change sent to author, do-not-merge, sql/prod, integration-services/tech, aq-pr-triaged

#6772 Update create-function-transact-sql.md
  docs/t-sql/statements/create-function-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#6780 Update sys-dm-server-memory-dumps-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-server-memory-dumps-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#6788 Param name correction
  docs/odbc/reference/syntax/sqlgetdiagrec-function.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech, aq-pr-triaged

#6791 Update sql-server-linux-availability-group-cluster-ubuntu.md
  docs/linux/sql-server-linux-availability-group-cluster-ubuntu.md
Labels: ready-to-merge, Change sent to author, sql/prod, linux/tech

#6751 Warning for FCI Nodes with different SQL builds
  docs/database-engine/install-windows/upgrade-replicated-databases.md
Labels: Change sent to author, do-not-merge, sql/prod, install/tech, aq-pr-triaged

#6760 Added note about snapshots
  docs/database-engine/availability-groups/windows/database-snapshots-with-always-on-availability-groups-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, aq-pr-triaged, availability-groups/tech

#6798 Typo "&#x40;&#x40;CURSOR_ROWS"→"@@CURSOR_ROWS"
  docs/t-sql/functions/cursor-rows-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6673 Fix typo in object name: sys.pdw_nodes_dm_exec_sql_text
  docs/relational-databases/system-dynamic-management-views/sys-dm-pdw-nodes-exec-sql-text-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, aq-pr-triaged, data-warehouse/tech

#6809 Fix Typo in user name
  docs/relational-databases/security/row-level-security.md
Labels: ready-to-merge, Change sent to author, sql/prod, security/tech

#6813 Corrected typo
  docs/connect/jdbc/using-always-encrypted-with-the-jdbc-driver.md
Labels: Change sent to author, do-not-merge, sql/prod, connectivity/tech

#6814 typo corrected
  docs/relational-databases/system-stored-procedures/firewall-rules-stored-procedures-azure-sql-database.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#6812 Update the default FILEGROWTH value to 16 MB
  docs/t-sql/statements/alter-database-transact-sql-file-and-filegroup-options.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#6811 Typo "&#x40;&#x40;LOCK_TIMEOUT"→"@@LOCK_TIMEOUT"
  docs/t-sql/functions/lock-timeout-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6810 Typo "&#x40;&#x40;LANGUAGE"→"@@LANGUAGE"
  docs/t-sql/functions/language-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6806 Typo "&#x40;&#x40;LANGID"→"@@LANGID"
  docs/t-sql/functions/langid-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6805 Typo "&#x40;&#x40;DBTS"→"@@DBTS"
  docs/t-sql/functions/dbts-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6801 Typo "&#x40;&#x40;DATEFIRST"→"@@DATEFIRST"
  docs/t-sql/functions/datefirst-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6775 microsecond/nanosecond type
  docs/t-sql/functions/datediff-big-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6737 Adding phrasing to change tracking support
  docs/database-engine/availability-groups/windows/replicate-track-change-data-capture-always-on-availability.md
Labels: Change sent to author, do-not-merge, sql/prod, aq-pr-triaged, availability-groups/tech

#6819 Typo "&#x40;&#x40;MAX_CONNECTIONS"→"@@MAX_CONNECTIONS"
  docs/t-sql/functions/max-connections-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6822 Typo "&#x40;&#x40;MAX_PRECISION"→"@@MAX_PRECISION"
  docs/t-sql/functions/max-precision-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6829 Typo "&#x40;&#x40;NESTLEVEL"→"@@NESTLEVEL"
  docs/t-sql/functions/nestlevel-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech

#6834 Update with-common-table-expression-transact-sql.md
  docs/t-sql/queries/with-common-table-expression-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech

#6832 Typo "&#x40;&#x40;OPTIONS"→"@@OPTIONS"
  docs/t-sql/functions/options-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6823 Specify temp table sessions
  docs/t-sql/statements/create-table-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#6838 Fix typo in backup-overview-sql-server.md
  docs/relational-databases/backup-restore/backup-overview-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, backup-restore/tech

#6704 Update bind-a-database-with-memory-optimized-tables-to-a-resource-poo…
  docs/relational-databases/in-memory-oltp/bind-a-database-with-memory-optimized-tables-to-a-resource-pool.md
Labels: Change sent to author, do-not-merge, sql/prod, in-memory-oltp/tech, aq-pr-triaged

#6842 Typo "&#x40;&#x40;SERVERNAME"→"@@SERVERNAME"
  docs/t-sql/functions/servername-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#6844 Update database-identifiers.md
  docs/relational-databases/databases/database-identifiers.md
Labels: ready-to-merge, Change sent to author, sql/prod, configuration/tech, aq-pr-triaged

#6845 Typo "&#x40;&#x40;SERVICENAME"→"@@SERVICENAME"
  docs/t-sql/functions/servicename-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6852 Typo "&#x40;&#x40;SPID"→"@@SPID"
  docs/t-sql/functions/spid-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6855 Update querying-data-in-a-system-versioned-temporal-table.md
  docs/relational-databases/tables/querying-data-in-a-system-versioned-temporal-table.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech

#6858 Update sys-fn-pagerescracker-transact-sql.md
  docs/relational-databases/system-functions/sys-fn-pagerescracker-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#6859 Typo "&#x40;&#x40;TEXTSIZE"→"@@TEXTSIZE"
  docs/t-sql/functions/textsize-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6861 Typo "&#x40;&#x40;Version"→"@@VERSION"
  docs/t-sql/functions/version-transact-sql-configuration-functions.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6864 Typo "&#x40;&#x40;ERROR"→"@@ERROR"
  docs/t-sql/functions/error-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6866 Typo "&#x40;&#x40;IDENTITY"→"@@IDENTITY"
  docs/t-sql/functions/identity-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6726 Wrong example C
  docs/t-sql/language-elements/nullif-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6873 Typo "&#x40;&#x40;PACK_RECEIVED"→"@@PACK_RECEIVED"
  docs/t-sql/functions/pack-received-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6869 Update enhanced-database-failover.md
  docs/database-engine/availability-groups/windows/enhanced-database-failover.md
Labels: Change sent to author, do-not-merge, sql/prod, aq-pr-triaged, availability-groups/tech

#6882 Incorrect Link Text
  docs/relational-databases/diagnose-resolve-latch-contention.md
Labels: Change sent to author, do-not-merge, sql/prod, performance/tech

#6889 Bumps supported version required
  docs/connect/jdbc/connecting-using-azure-active-directory-authentication.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech, aq-pr-triaged

#6892 Update sql-server-linux-configure-msdtc.md
  docs/linux/sql-server-linux-configure-msdtc.md
Labels: ready-to-merge, Change sent to author, sql/prod, linux/tech, aq-pr-triaged
