Repository MicrosoftDocs/sql-docs, pull requests merged in 2021-10, with the labels that each got.

#6895 Typo "&#40;Integration Services&#41;"→"\(Integration Services\)"
  docs/integration-services/security/access-control-for-sensitive-data-in-packages.md
Labels: Change sent to author, do-not-merge, sql/prod, integration-services/tech

#6854 XQuery is case-sensitive and the code included multiple UPPER CASE in…
  docs/t-sql/xml/insert-xml-dml.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6897 Update server-level-roles.md
  docs/relational-databases/security/authentication-access/server-level-roles.md
Labels: ready-to-merge, Change sent to author, sql/prod, security/tech, aq-pr-triaged

#6900 Typo "&#40;Integration Services&#41;"→"\(Integration Services\)"
  docs/integration-services/security/security-overview-integration-services.md
Labels: Change sent to author, do-not-merge, sql/prod, integration-services/tech

#6902 Typo "&#40;SSIS&#41;"→"\(SSIS\)"
  docs/integration-services/security/identify-the-source-of-packages-with-digital-signatures.md
Labels: Change sent to author, do-not-merge, sql/prod, integration-services/tech

#6903 Typo "&#x40;&#x40;ROWCOUNT"→"@@ROWCOUNT"
  docs/t-sql/functions/rowcount-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#6881 Added scenarios which will not work disabling distributor_admin account
  docs/relational-databases/replication/security/secure-the-distributor.md
Labels: Change sent to author, do-not-merge, sql/prod, replication/tech, aq-pr-triaged

#6876 Typo "&#40;Database Engine&#41;"→"\(Database Engine\)"
  docs/t-sql/data-types/tostring-database-engine.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6893 Update distributed-availability-groups.md
  docs/database-engine/availability-groups/windows/distributed-availability-groups.md
Labels: Change sent to author, do-not-merge, sql/prod, aq-pr-triaged, availability-groups/tech

#6840 Fix typo in restore-and-recovery-overview-sql-server.md
  docs/relational-databases/backup-restore/restore-and-recovery-overview-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, backup-restore/tech, aq-pr-triaged

#6901 Update isdate-transact-sql.md
  docs/t-sql/functions/isdate-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#6877 fixing typo in CREATE EXTERNAL LANGUAGE CODE
  docs/machine-learning/install/includes/custom-runtime-r-windows.md
Labels: Change sent to author, do-not-merge, sql/prod, aq-pr-triaged, machine-learning-services/tech

#6905 Update sys-database-scoped-configurations-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-database-scoped-configurations-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#6925 Add direct download link
  docs/integration-services/devops/ssis-devops-standalone.md
Labels: ready-to-merge, Change sent to author, sql/prod, integration-services/tech, aq-pr-triaged

#6938 fixing typo
  docs/machine-learning/troubleshooting/known-issues-for-sql-server-machine-learning-services.md
Labels: Change sent to author, do-not-merge, sql/prod, machine-learning-services/tech

#6952 Update cdc-fn-cdc-get-net-changes-capture-instance-transact-sql.md
  docs/relational-databases/system-functions/cdc-fn-cdc-get-net-changes-capture-instance-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#6979 Update sys-dm-xtp-system-memory-consumers-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-xtp-system-memory-consumers-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#6969 Add ntext and image to max_length description
  docs/relational-databases/system-catalog-views/sys-columns-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged
