Repository MicrosoftDocs/sql-docs, pull requests merged in 2022-01, with the labels that each got.

#7157 Update walkthrough-author-custom-static-code-analysis-rule-assembly.md
  docs/ssdt/walkthrough-author-custom-static-code-analysis-rule-assembly.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#7152 Document date/time addition change at compatibility level 110
  docs/t-sql/statements/alter-database-transact-sql-compatibility-level.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7163 Some fixes for "Extend Database Project Build"
  docs/ssdt/walkthrough-extend-database-project-build-to-generate-model-statistics.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech, aq-pr-triaged

#7169 Listener restart require to take into effect
  docs/database-engine/availability-groups/windows/add-ip-address-dialog-box-sql-server-management-studio.md
Labels: Change sent to author, do-not-merge, sql/prod, aq-pr-triaged, availability-groups/tech

#7171 Fix example B - remove space character
  docs/t-sql/functions/translate-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech

#7173 Update data-connections-data-sources-and-connection-strings-report-bu…
  docs/reporting-services/report-data/data-connections-data-sources-and-connection-strings-report-builder-and-ssrs.md
Labels: Change sent to author, do-not-merge, reporting-services/prod, report-data/tech

#7123 Update graph-edge-constraints.md
  docs/relational-databases/tables/graph-edge-constraints.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech, aq-pr-triaged

#7190 Update lesson-1-creating-database-objects.md
  docs/t-sql/lesson-1-creating-database-objects.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#7204 Removed extraneous `.
  docs/t-sql/functions/checksum-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#7210 Update create-index-transact-sql.md
  docs/t-sql/statements/create-index-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#7211 Adding Spark 3.1 support notes
  docs/connect/spark/connector.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech

#7200 Improving navigability of SqlPackage.exe Action Properties table
  docs/tools/sqlpackage/sqlpackage-deploy-drift-report.md
  docs/tools/sqlpackage/sqlpackage-import.md
  docs/tools/sqlpackage/sqlpackage-publish.md
  docs/tools/sqlpackage/sqlpackage-script.md
Labels: ready-to-merge, Change sent to author, sql/prod, tools-other/tech, aq-pr-triaged

#7067 Add missing syntax highlighting
  docs/relational-databases/system-functions/freetexttable-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#7151 Adding feature line for Lock Pages In Memory
  docs/sql-server/editions-and-components-of-sql-server-version-15.md
Labels: ready-to-merge, Change sent to author, sql/prod, release-landing/tech, aq-pr-triaged

#7136 Update constants-transact-sql.md
  docs/t-sql/data-types/constants-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7108 Update columnstore-indexes-overview.md
  docs/relational-databases/indexes/columnstore-indexes-overview.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech, aq-pr-triaged

#7229 Correct reference to Wikipedia page
  docs/t-sql/data-types/nchar-and-nvarchar-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#7234 Updated last_sent_lsn, last_sent_time, last_received_lsn, last_receiv…
  docs/relational-databases/system-dynamic-management-views/sys-dm-hadr-database-replica-states-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#7232 Add: ODBC driver 17 issue with openssl on macos
  docs/connect/odbc/linux-mac/known-issues-in-this-version-of-the-driver.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech, aq-pr-triaged

#7215 Update dml-triggers.md
  docs/relational-databases/triggers/dml-triggers.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged

#7243 Unify sample database name
  docs/relational-databases/databases/rename-a-database.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged

#7160 Add anchor links to arguments
  docs/t-sql/statements/truncate-table-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#7178 Update tutorial-signing-stored-procedures-with-a-certificate.md
  docs/relational-databases/tutorial-signing-stored-procedures-with-a-certificate.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged

#7252 Typo "**(LOCAL)**or"→"**\(LOCAL\)** or"
  docs/relational-databases/system-stored-procedures/sp-delete-jobserver-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#7254 Fixed formatting of "<table_index>" (removed spaces) to make it uniform across whole page
  docs/t-sql/statements/create-table-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech

#7259 Missing a space after **SPARSE**
  docs/relational-databases/tables/changing-the-schema-of-a-system-versioned-temporal-table.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech
