Repository MicrosoftDocs/sql-docs, pull requests merged in 2022-04, with the labels that each got.

#7446 Fix service name
  docs/database-engine/configure-windows/configure-file-system-permissions-for-database-engine-access.md
Labels: ready-to-merge, Change sent to author, sql/prod, configuration/tech, aq-pr-triaged

#7165 Update tutorial-sql-server-containers-kubernetes-dh2i.md
  docs/linux/tutorial-sql-server-containers-kubernetes-dh2i.md
Labels: Change sent to author, do-not-merge, sql/prod, linux/tech, aq-pr-triaged

#7454 Grammar references
  docs/t-sql/functions/openquery-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech

#7449 Update at-time-zone-transact-sql.md
  docs/t-sql/queries/at-time-zone-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7450 Update limitations to include geo-replication
  docs/relational-databases/databases/rename-a-database.md
  docs/relational-databases/system-stored-procedures/sp-renamedb-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#7447 Update sql server name in docker installation
  docs/linux/quickstart-install-connect-docker.md
Labels: ready-to-merge, Change sent to author, sql/prod, linux/tech, aq-pr-triaged

#7443 Added the troubleshooting steps to QDS Plan count
  docs/relational-databases/performance/best-practice-with-the-query-store.md
Labels: ready-to-merge, Change sent to author, sql/prod, performance/tech, aq-pr-triaged

#7467 Fix typo in using-azure-active-directory.md
  docs/connect/odbc/using-azure-active-directory.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech, aq-pr-triaged

#7459 Add example for changing the service owner
  docs/t-sql/statements/alter-service-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7099 Update remove-a-secondary-database-from-an-availability-group-sql-ser…
  docs/database-engine/availability-groups/windows/remove-a-secondary-database-from-an-availability-group-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, aq-pr-triaged, availability-groups/tech

#7098 Update suspend-an-availability-database-sql-server.md
  docs/database-engine/availability-groups/windows/suspend-an-availability-database-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, aq-pr-triaged, availability-groups/tech

#7292 Update sp-getapplock-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-getapplock-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech, aq-pr-triaged

#7351 Typo
  docs/t-sql/functions/context-info-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7364 Update ad-hoc-distributed-queries-server-configuration-option.md
  docs/database-engine/configure-windows/ad-hoc-distributed-queries-server-configuration-option.md
Labels: ready-to-merge, Change sent to author, sql/prod, configuration/tech, aq-pr-triaged

#7315 Added notes for Azure SQL DB and for SQL MI
  docs/ssdt/how-to-debug-stored-procedures.md
Labels: ready-to-merge, Change sent to author, sql/prod, ssdt/tech, aq-pr-triaged, sql-server/svc

#7192 Update dbo-sysjobhistory-transact-sql.md
  docs/relational-databases/system-tables/dbo-sysjobhistory-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#7486 fix broken URL
  docs/connect/odbc/linux-mac/known-issues-in-this-version-of-the-driver.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech

#7494 Added note from SET XACT_ABORT
  docs/t-sql/language-elements/throw-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7490 Update sys-query-store-runtime-stats-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-query-store-runtime-stats-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#7492 Typo "SQL server"→"SQL Server"
  docs/tools/sql-server-profiler/sql-server-profiler.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged, profiler/tech

#7496 Typo "Microsoft Azure Blob storage"→"Microsoft Azure Blob Storage"
  docs/t-sql/statements/create-credential-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#7382 Update try-catch-transact-sql.md
  docs/t-sql/language-elements/try-catch-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7444 Update alter-database-scoped-configuration-transact-sql.md
  docs/t-sql/statements/alter-database-scoped-configuration-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7513 Typo "Azure Blob storage Service"→"Azure Blob Storage"
  docs/relational-databases/databases/sql-server-data-files-in-microsoft-azure.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#7511 Changed casing to reflect actual UI
  docs/azure-data-studio/extensions/azure-monitor-logs-extension.md
Labels: ready-to-merge, Change sent to author, azure-data-studio/tech, aq-pr-triaged, azure-data-studio/prod

#7515 Fixed container name in sample code
  docs/linux/quickstart-install-connect-docker.md
Labels: ready-to-merge, Change sent to author, sql/prod, linux/tech

#7520 Update configure-the-max-worker-threads-server-configuration-option.md
  docs/database-engine/configure-windows/configure-the-max-worker-threads-server-configuration-option.md
Labels: ready-to-merge, Change sent to author, sql/prod, configuration/tech, aq-pr-triaged

#7367 Update create-asymmetric-key-transact-sql.md
  docs/t-sql/statements/create-asymmetric-key-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7522 Update monitoring-performance-by-using-the-query-store.md
  docs/relational-databases/performance/monitoring-performance-by-using-the-query-store.md
Labels: ready-to-merge, Change sent to author, sql/prod, performance/tech, aq-pr-triaged
