Repository MicrosoftDocs/sql-docs, pull requests merged in 2022-07, with the labels that each got.

#7758 Update percentile-disc-transact-sql.md
  docs/t-sql/functions/percentile-disc-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#7756 Add information that we need forced failover on AG side after Forced …
  docs/sql-server/failover-clusters/windows/wsfc-disaster-recovery-through-forced-quorum-sql-server.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged, failover-cluster-instance/tech

#7777 Fixed typos / spelling errors
  docs/database-engine/availability-groups/windows/availability-group-lease-healthcheck-timeout.md
Labels: Change sent to author, do-not-merge, sql/prod, availability-groups/tech

#7772 Azure SQL Database compat level 160
  docs/t-sql/statements/alter-database-transact-sql-compatibility-level.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7788 Repetition
  docs/integration-services/advanced-editor.md
Labels: Change sent to author, do-not-merge, sql/prod, integration-services/tech

#7804 Update mssqlserver-17892-database-engine-error.md
  docs/relational-databases/errors-events/mssqlserver-17892-database-engine-error.md
Labels: Change sent to author, do-not-merge, sql/prod, supportability/tech

#7808 Fixed mapped date for zero day date in Microsoft Access
  docs/odbc/microsoft/microsoft-access-data-types.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech, aq-pr-triaged

#7822 Update contains-transact-sql.md
  docs/t-sql/queries/contains-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7827 Update output-clause-transact-sql.md
  docs/t-sql/queries/output-clause-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7829 Update select-clause-transact-sql.md
  docs/t-sql/queries/select-clause-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7825 Update hints-transact-sql-join.md
  docs/t-sql/queries/hints-transact-sql-join.md
  docs/t-sql/queries/hints-transact-sql-query.md
  docs/t-sql/queries/hints-transact-sql-table.md
  docs/t-sql/queries/hints-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7830 Update select-examples-transact-sql.md
  docs/t-sql/queries/select-examples-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7824 Update freetext-transact-sql.md
  docs/t-sql/queries/freetext-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7834 Update deny-certificate-permissions-transact-sql.md
  docs/t-sql/statements/deny-certificate-permissions-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7835 Update deny-database-principal-permissions-transact-sql.md
  docs/t-sql/statements/deny-database-principal-permissions-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7839 Update deny-schema-permissions-transact-sql.md
  docs/t-sql/statements/deny-schema-permissions-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7840 Update deny-symmetric-key-permissions-transact-sql.md
  docs/t-sql/statements/deny-symmetric-key-permissions-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7842 Update deny-system-object-permissions-transact-sql.md
  docs/t-sql/statements/deny-system-object-permissions-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7838 Update deny-object-permissions-transact-sql.md
  docs/t-sql/statements/deny-object-permissions-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7843 Update deny-type-permissions-transact-sql.md
  docs/t-sql/statements/deny-type-permissions-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7848 Update table-value-constructor-transact-sql.md
  docs/t-sql/queries/table-value-constructor-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7811 Add scenario to LOADHISTORY section
  docs/t-sql/statements/restore-statements-arguments-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#7851 fix 'AdventureWorks' typo
  docs/relational-databases/indexes/create-nonclustered-indexes.md
Labels: ready-to-merge, Change sent to author, sql/prod, table-view-index/tech, aq-pr-triaged

#7861 Update winauth-azuread-setup-modern-interactive-flow.md
  azure-sql/managed-instance/winauth-azuread-setup-modern-interactive-flow.md
Labels: ready-to-merge, Change sent to author, sql-managed-instance/svc, deployment-configuration/subsvc

#7628 Add WHERE to table_index syntax in CREATE TABLE
  docs/t-sql/statements/create-table-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged
