Repository MicrosoftDocs/sql-docs, pull requests merged in 2022-03, with the labels that each got.

#7337 Add VB Code tag to code block
  docs/ado/reference/ado-api/seek-method-and-index-property-example-vb.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged, ado/tech

#7333 IMPORTANT: ensure that the node names used during cluster setup match…
  docs/linux/sql-server-linux-availability-group-cluster-ubuntu.md
Labels: ready-to-merge, Change sent to author, sql/prod, linux/tech, aq-pr-triaged

#7348 Fixed retirement date
  docs/big-data-cluster/big-data-options.md
Labels: ready-to-merge, Change sent to author, sql/prod, big-data-cluster/tech, aq-pr-triaged

#7286 Update deploy-openshift.md
  docs/big-data-cluster/deploy-openshift.md
Labels: ready-to-merge, Change sent to author, sql/prod, big-data-cluster/tech, aq-pr-triaged

#7354 Update primary-and-foreign-key-constraints.md
  docs/relational-databases/tables/primary-and-foreign-key-constraints.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech

#7366 Fixed typo in lesson-1-creating-database-objects.md
  docs/t-sql/lesson-1-creating-database-objects.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#7289 Add VBA cue to code block.
  docs/ado/guide/data/command-object-parameters.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged, ado/tech

#7176 Fix typo on page
  docs/linux/tutorial-restore-backup-in-sql-server-container.md
Labels: Change sent to author, do-not-merge, sql/prod, linux/tech, aq-pr-triaged

#7107 Fix Run on Docker link
  docs/linux/sql-server-linux-setup-tools.md
Labels: Change sent to author, do-not-merge, sql/prod, linux/tech, aq-pr-triaged

#7334 Update cdc-capture-instance-ct-transact-sql.md
  docs/relational-databases/system-tables/cdc-capture-instance-ct-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#7388 Update service-broker-with-always-on-availability-groups-sql-server.md
  docs/database-engine/availability-groups/windows/service-broker-with-always-on-availability-groups-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, availability-groups/tech

#7374 change wording of a sentence to clarify the effect of disabling a nonclustered index on a table
  docs/relational-databases/indexes/disable-indexes-and-constraints.md
Labels: ready-to-merge, Change sent to author, sql/prod, table-view-index/tech, aq-pr-triaged

#7402 Add TSQL suffix to F1 keywords
  docs/relational-databases/system-catalog-views/sys-query-store-wait-stats-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech, aq-pr-triaged

#7407 Remove trailing whitespaces from code block in delete-foreign-key-rel…
  docs/relational-databases/tables/delete-foreign-key-relationships.md
Labels: ready-to-merge, Change sent to author, sql/prod, table-view-index/tech

#7409 Year fix
  docs/azure-data-studio/release-notes-azure-data-studio.md
Labels: Change sent to author, do-not-merge, azure-data-studio/tech, azure-data-studio/prod

#7416 Typo
  docs/t-sql/data-types/data-types-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech

#7417 Update what-is-azure-data-studio.md
  docs/azure-data-studio/what-is-azure-data-studio.md
Labels: Change sent to author, do-not-merge, azure-data-studio/tech, azure-data-studio/prod

#6891 Update serverproperty-transact-sql.md
  docs/t-sql/functions/serverproperty-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#6993 CREATE EXTERNAL DATA SOURCE (Transact-SQL) Removing what seems to be an extra unintended slash
  docs/t-sql/statements/create-database-scoped-credential-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7155 Update dma-sku-recommend-sql-db.md
  docs/dma/dma-sku-recommend-sql-db.md
Labels: Change sent to author, do-not-merge, sql/prod, dma/tech, aq-pr-triaged

#7425 Update download-sql-server-data-tools-ssdt.md
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: ready-to-merge, Change sent to author, sql/prod, ssdt/tech, aq-pr-triaged

#7427 Update creating-a-system-versioned-temporal-table.md
  docs/relational-databases/tables/creating-a-system-versioned-temporal-table.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech

#7440 Fixed typo (version to versions)
  docs/relational-databases/security/authentication-access/principals-database-engine.md
Labels: Change sent to author, do-not-merge, sql/prod, security/tech
