Repository MicrosoftDocs/sql-docs, pull requests merged in 2022-08, with the labels that each got.

#7882 Update dynamic-data-masking-overview.md
  azure-sql/database/dynamic-data-masking-overview.md
Labels: ready-to-merge, Change sent to author, sql-db-mi/svc, security/subsvc

#7886 Update what-s-new-in-sql-server-2022.md
  docs/sql-server/what-s-new-in-sql-server-2022.md
Labels: ready-to-merge, Change sent to author, sql/prod, release-landing/tech, aq-pr-triaged

#7890 Update 4.1.2 notification and title
  docs/ssdt/release-notes-ssdt-2019.md
  docs/toc.yml
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech, aq-pr-triaged

#7902 Added note for private endpoint limitations
  azure-sql/database/connectivity-architecture.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, connect/subsvc

#7912 Missing verb, interpunction.
  docs/connect/jdbc/using-ntlm-authentication-to-connect-to-sql-server.md
Labels: Change sent to author, do-not-merge, sql/prod, connectivity/tech

#7831 Removed "In public preview"
  azure-sql/database/authentication-aad-configure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-db-mi/svc, security/subsvc

#7908 Update ssl-root-certificate-expiring.md
  azure-sql/updates/ssl-root-certificate-expiring.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql-db-mi/svc, security/subsvc

#7926 Update source_table to source_object
  docs/relational-databases/replication/codesnippet/tsql/administer-a-peer-to-pee_3.sql
Labels: do-not-merge, review-team-triage

#7928 Download issues about SSIS extension
  docs/ssdt/release-notes-ssdt-2019.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#7932 Update Synchronizing status description for the Failover Group in SQL MI
  azure-sql/managed-instance/auto-failover-group-sql-mi.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql-managed-instance/svc, high-availability/subsvc

#7942 Update download-sql-server-management-studio-ssms.md
  docs/ssms/download-sql-server-management-studio-ssms.md
Labels: Change sent to author, do-not-merge, sql/prod, ssms/tech

#7946 Minor change added space.
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-missing-index-details-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, system-objects/tech

#7945 Update step-3-proof-of-concept-connecting-to-sql-using-pyodbc.md
  docs/connect/python/pyodbc/step-3-proof-of-concept-connecting-to-sql-using-pyodbc.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech, aq-pr-triaged

#7950 typo Infrastruture
  docs/relational-databases/performance/query-profiling-infrastructure.md
Labels: ready-to-merge, Change sent to author, sql/prod, performance/tech

#7951 Edge first, then Chrome
  azure-sql/database/sql-database-vulnerability-assessment-storage.md
Labels: Change sent to author, do-not-merge, sql-db-mi/svc, security/subsvc

#7368 Update create-database-encryption-key-transact-sql.md
  docs/t-sql/statements/create-database-encryption-key-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7981 add offline installation paragraph & remove important paragraph
  docs/ssdt/release-notes-ssdt-2019.md
Labels: Change sent to author, do-not-merge, sql/prod, ssdt/tech

#7495 December 2020 release had wrong version number
  docs/azure-data-studio/release-notes-azure-data-studio.md
Labels: ready-to-merge, Change sent to author, azure-data-studio/tech, aq-pr-triaged, azure-data-studio/prod

#7985 Update automated-backup-sql-2014.md
  azure-sql/virtual-machines/windows/automated-backup-sql-2014.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, virtual-machines-sql/svc, backup/subsvc

#7986 Update sql-server-extended-security-updates.md
  docs/sql-server/end-of-support/sql-server-extended-security-updates.md
Labels: ready-to-merge, Change sent to author, sql/prod, install/tech, aq-pr-triaged

#7984 Updated example title.
  docs/xquery/functions-on-string-values-lower-case.md
Labels: ready-to-merge, Change sent to author, sql/prod, xml/tech, aq-pr-triaged

#7968 Added connected workspace reference
  docs/t-sql/statements/alter-database-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#8004 Update availability-modes-always-on-availability-groups.md
  docs/database-engine/availability-groups/windows/availability-modes-always-on-availability-groups.md
Labels: ready-to-merge, Change sent to author, sql/prod, availability-groups/tech

#8002 ExecutionLogDaysKept correction to description
  docs/reporting-services/report-server-web-service/net-framework/reporting-services-properties-report-server-system-properties.md
Labels: ready-to-merge, Change sent to author, reporting-services/prod, aq-pr-triaged, report-server-web-service/tech

#8014 Update availability-modes-always-on-availability-groups.md
  docs/database-engine/availability-groups/windows/availability-modes-always-on-availability-groups.md
Labels: Change sent to author, do-not-merge, sql/prod, availability-groups/tech

#8015 Update availability-modes-always-on-availability-groups.md
  docs/database-engine/availability-groups/windows/availability-modes-always-on-availability-groups.md
Labels: Change sent to author, do-not-merge, sql/prod, availability-groups/tech

#7972 Updates to SHRINK DATABASE Documentation
  docs/t-sql/database-console-commands/dbcc-shrinkdatabase-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged
