Repository MicrosoftDocs/sql-docs, pull requests merged in 2022-02, with the labels that each got.

#7206 Update datediff-transact-sql.md
  docs/t-sql/functions/datediff-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#7203 Update modifying-data-in-a-system-versioned-temporal-table.md
  docs/relational-databases/tables/modifying-data-in-a-system-versioned-temporal-table.md
Labels: Change sent to author, do-not-merge, sql/prod, table-view-index/tech, aq-pr-triaged

#7213 correct URI to reference correct http protocol
  docs/relational-databases/native-client/features/working-with-query-notifications.md
Labels: Change sent to author, do-not-merge, sql/prod, native-client/tech, aq-pr-triaged

#7272 Update path to the sqlpackage on agents
  docs/tools/sqlpackage/sqlpackage-pipelines.md
Labels: ready-to-merge, Change sent to author, sql/prod, tools-other/tech, aq-pr-triaged

#7277 Update known-issues-in-this-version-of-the-driver for M1 Macs
  docs/connect/odbc/linux-mac/known-issues-in-this-version-of-the-driver.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech, aq-pr-triaged

#7271 Update reference-azdata-bdc-spark-session.md
  docs/azdata/reference/reference-azdata-bdc-spark-session.md
Labels: ready-to-merge, Change sent to author, sql/prod, big-data-cluster/tech, aq-pr-triaged

#7290 Add example for sqlpackage extract
  docs/tools/sqlpackage/sqlpackage-extract.md
Labels: ready-to-merge, Change sent to author, sql/prod, tools-other/tech

#7305 fix typo in jar version numbers
  docs/connect/jdbc/using-the-jdbc-driver.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech

#7096 Update Ubuntu installation instructions with lsb_release -rs
  docs/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server.md
Labels: ready-to-merge, Change sent to author, sql/prod, connectivity/tech, aq-pr-triaged

#7317 update '-hostname' to '--hostname'
  docs/linux/quickstart-install-connect-docker.md
Labels: Change sent to author, do-not-merge, sql/prod, linux/tech

#7321 Trailing comma in code example
  docs/t-sql/statements/alter-database-transact-sql-set-options.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#7115 Correct Download for Oracle Connector
  docs/integration-services/connection-manager/integration-services-ssis-connections.md
Labels: Change sent to author, do-not-merge, sql/prod, integration-services/tech, aq-pr-triaged

#6863 Update integration-services-ssis-logging.md
  docs/integration-services/performance/integration-services-ssis-logging.md
Labels: Change sent to author, do-not-merge, sql/prod, integration-services/tech, aq-pr-triaged

#6853 referring to mb instead of kb
  docs/integration-services/system-views/catalog-executions-ssisdb-database.md
Labels: Change sent to author, do-not-merge, sql/prod, integration-services/tech, aq-pr-triaged

#6828 Update lesson-5-1-copying-the-lesson-4-package.md
  docs/integration-services/lesson-5-1-copying-the-lesson-4-package.md
Labels: Change sent to author, do-not-merge, sql/prod, integration-services/tech, aq-pr-triaged

#6865 AzDOS extension install ssis devops tools
  docs/integration-services/devops/ssis-devops-overview.md
Labels: ready-to-merge, Change sent to author, sql/prod, integration-services/tech, aq-pr-triaged

#6481 Update catalog-executions-ssisdb-database.md
  docs/integration-services/system-views/catalog-executions-ssisdb-database.md
Labels: ready-to-merge, Change sent to author, sql/prod, integration-services/tech, aq-pr-triaged

#6880 add set-null example, fix malformed output sample
  docs/t-sql/functions/json-modify-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged
