Repository MicrosoftDocs/sql-docs, pull requests merged in 2022-10, with the labels that each got.

#8154 Update sys-query-store-plan-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-query-store-plan-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, system-objects/tech

#8155 Update service-tier-hyperscale-replicas.md
  azure-sql/database/service-tier-hyperscale-replicas.md
Labels: do-not-merge, aq-pr-triaged

#7938 Update create-external-table-transact-sql.md
  docs/t-sql/statements/create-external-table-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#8111 Update overview.md
  docs/sql-server/azure-arc/overview.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged

#8112 Update connect.md
  docs/sql-server/azure-arc/connect.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged

#8121 Ambiguity between SQL Database and SQL Managed Instance
  azure-sql/database/read-scale-out.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, scale-out/subsvc

#8126 Update public-endpoint-overview.md
  azure-sql/managed-instance/public-endpoint-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, security/subsvc, sql-managed-instance/svc

#8095 Update managed-instance-link-feature-overview.md
  azure-sql/managed-instance/managed-instance-link-feature-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, data-movement/subsvc, sql-managed-instance/svc, docs-editor-pilot

#8145 Extending explanation about port exclusions
  azure-sql/virtual-machines/windows/hadr-cluster-best-practices.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, virtual-machines-sql/svc, hadr/subsvc, missed-content-complete, event-triaged-to-10AM

#8141 Update the MIDatabaseSize rule documentation
  azure-sql/migration-guides/managed-instance/sql-server-to-sql-managed-instance-assessment-rules.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql-managed-instance/svc, migration-guide/subsvc, missed-content-complete, event-triaged-to-10AM

#8174 Fixed typos
  docs/sql-server/azure-arc/connect.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged, missed-content-complete, event-triaged-to-10AM

#8100 Update sql-machine-learning-services-windows-install.md for startup 0…
  docs/machine-learning/install/sql-machine-learning-services-windows-install.md
Labels: ready-to-merge, Change sent to author, sql/prod, aq-pr-triaged, machine-learning-services/tech

#8179 Update peer-to-peer-transactional-replication.md
  docs/relational-databases/replication/transactional/peer-to-peer-transactional-replication.md
Labels: Change sent to author, do-not-merge, sql/prod, replication/tech

#8159 Update loginproperty-transact-sql.md
  docs/t-sql/functions/loginproperty-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#8181 TDE encryption
  docs/relational-databases/tutorial-sql-server-backup-and-restore-to-azure-blob-storage-service.md
Labels: ready-to-merge, Change sent to author, sql/prod, backup-restore/tech, aq-pr-triaged

#8186 changefeed user/schema modification warning
  docs/sql-server/synapse-link/synapse-link-sql-server-change-feed-manage.md
  docs/sql-server/synapse-link/synapse-link-sql-server-change-feed.md
Labels: ready-to-merge, Change sent to author, sql/prod, data-movement/tech, aq-pr-triaged

#8196 Update dbcc-traceon-trace-flags-transact-sql.md
  docs/t-sql/database-console-commands/dbcc-traceon-trace-flags-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#8199 Remove duplicate link in drop-symmetric-key-transact-sql.md
  docs/t-sql/statements/drop-symmetric-key-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#8161 Corrected stop at mark example
  docs/t-sql/statements/restore-statements-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/prod, t-sql/tech, aq-pr-triaged

#8188 Update create-external-data-source-transact-sql.md
  docs/t-sql/statements/create-external-data-source-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/prod, t-sql/tech, aq-pr-triaged

#8212 Update connect-query-nodejs.md
  azure-sql/database/connect-query-nodejs.md
Labels: ready-to-merge, Change sent to author, sql-database/svc, aq-pr-triaged, connect/subsvc
