Repository MicrosoftDocs/sql-docs, pull requests merged in 2023-04, with the labels that each got.

#8762 adding note about "Force Strict Encryption"
  docs/relational-databases/security/networking/tds-8-and-tls-1-3.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, security/subsvc

#8791 Update delete-a-push-subscription.md
  docs/relational-databases/replication/delete-a-push-subscription.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, replication/subsvc

#8786 Create Push Subscription - RMO Documentation updates
  docs/relational-databases/replication/create-a-push-subscription.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, replication/subsvc

#8799 Update dynamic-data-masking.md
  docs/relational-databases/security/dynamic-data-masking.md
Labels: Change sent to author, do-not-merge, sql/svc, security/subsvc

#8801 Update linux python installation script to freeze numpy version
  docs/linux/sql-server-linux-setup-machine-learning-sql-2022.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, machine-learning-services/subsvc

#8800 Update windows python installation script to freeze numpy version
  docs/machine-learning/install/sql-machine-learning-services-windows-install-sql-2022.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, machine-learning-services/subsvc

#8803 Update some-any-transact-sql.md
  docs/t-sql/language-elements/some-any-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#8807 Update overview.md
  docs/sql-server/azure-arc/overview.md
Labels: Change sent to author, do-not-merge, sql/svc

#8812 Minor typo correction to description of last_write
  docs/relational-databases/system-dynamic-management-views/sys-dm-exec-connections-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#8815 Updated JDBC Driver 6.4 support status
  docs/connect/jdbc/microsoft-jdbc-driver-for-sql-server-support-matrix.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#8795 Update locking-behavior.md
  docs/analytics-platform-system/locking-behavior.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, data-warehouse/subsvc

#8798 Fix typo in parameter name to get a correct result
  docs/relational-databases/system-functions/managed-backup-fn-get-parameter-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, system-objects/subsvc

#8817 Spelling fix
  docs/relational-databases/sql-server-index-design-guide.md
Labels: Change sent to author, do-not-merge, sql/svc, supportability/subsvc

#8816 Update upgrading-always-on-availability-group-replica-instances.md
  docs/database-engine/availability-groups/windows/upgrading-always-on-availability-group-replica-instances.md
Labels: Change sent to author, do-not-merge, sql/svc, availability-groups/subsvc

#8820 Fix entry for DTC with link to DTC for SQL MI
  azure-sql/database/features-comparison.md
Labels: ready-to-merge, Change sent to author, sql-db-mi/svc, service-overview/subsvc

#8819 Update sp-enum-login-for-proxy-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-enum-login-for-proxy-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#8831 Update alter-database-scoped-configuration-transact-sql.md
  docs/t-sql/statements/alter-database-scoped-configuration-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#8825 Update getting-started-with-database-engine-permissions.md
  docs/relational-databases/security/authentication-access/getting-started-with-database-engine-permissions.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, security/subsvc

#8339 Update polybase-configure-s3-compatible.md
  docs/relational-databases/polybase/polybase-configure-s3-compatible.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, polybase/subsvc

#8839 Simplify .NET SqlClient quickstart code and fix typos
  azure-sql/database/azure-sql-dotnet-quickstart.md
Labels: Change sent to author, do-not-merge, sql-database/svc, security/subsvc

#8841 Simplify code in .NET SqlClient quickstart
  azure-sql/database/azure-sql-dotnet-quickstart.md
Labels: ready-to-merge, Change sent to author, sql-database/svc, security/subsvc

#8848 fix misspelling of "refeerencing" -> "referencing"
  docs/t-sql/statements/alter-assembly-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#8834 Update sp-addlogreader-agent-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-addlogreader-agent-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, replication/subsvc

#8853 Changed unique index advice to unique constraint
  docs/relational-databases/sequence-numbers/sequence-numbers.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc

#8862 Update sql-database-project-extension-sdk-style-projects.md
  docs/azure-data-studio/extensions/sql-database-project-extension-sdk-style-projects.md
Labels: Change sent to author, do-not-merge, azure-data-studio/svc

#8844 Still not right
  azure-sql/database/transparent-data-encryption-byok-identity.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-db-mi/svc, security/subsvc

#8872 Update database-schema-conversion-toolkit.md
  docs/azure-data-studio/extensions/dsct/database-schema-conversion-toolkit.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-data-studio/svc

#8875 Update policy-reference.md
  azure-sql/database/policy-reference.md
Labels: ready-to-merge, Change sent to author, sql-database/svc, service-overview/subsvc

#8877 N-Kannan Issue ID #8830
  docs/relational-databases/databases/revert-a-database-to-a-database-snapshot.md
Labels: ready-to-merge, Change sent to author, sql/svc

#8882 Update sys-dm-pdw-exec-sessions-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-pdw-exec-sessions-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, data-warehouse/subsvc

#8884 Update replicate-track-change-data-capture-always-on-availability.md
  docs/database-engine/availability-groups/windows/replicate-track-change-data-capture-always-on-availability.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, availability-groups/subsvc
