Repository MicrosoftDocs/sql-docs, pull requests merged in 2023-11, with the labels that each got.

#9446 Update accuracy for LTR backup roles on long-term-backup-retention-configure
  azure-sql/database/long-term-backup-retention-configure.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, backup-restore/subsvc

#9468 Fix some links and typos
  azure-sql/database/elastic-query-getting-started-vertical.md
Labels: Change sent to author, do-not-merge, sql-database/svc, scale-out/subsvc

#9465 Update memory comparison for premium v standard
  azure-sql/database/service-tiers-sql-database-vcore.md
Labels: ready-to-merge, Change sent to author, sql-database/svc, aq-pr-triaged, performance/subsvc

#9475 Update back-up-and-restore-of-sql-server-databases.md
  docs/relational-databases/backup-restore/back-up-and-restore-of-sql-server-databases.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, backup-restore/subsvc

#9476 Update integration-services-ssis-expressions.md
  docs/integration-services/expressions/integration-services-ssis-expressions.md
Labels: Change sent to author, do-not-merge, sql/svc, integration-services/subsvc

#9478 Use correct default prefix
  docs/sql-server/azure-arc/troubleshoot-assessment.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, missed-content-complete, event-triaged-to-10AM, azure-arc-sql-server/subsvc

#9480 Update alter-index-transact-sql.md
  docs/t-sql/statements/alter-index-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, missed-content-complete, event-triaged-to-10AM, t-sql/subsvc

#9485 Update file-name-transact-sql.md
  docs/t-sql/functions/file-name-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, missed-content-complete, event-triaged-to-10AM, t-sql/subsvc

#9482 Update installing-ssma-for-db2-client-db2tosql.md
  docs/ssma/db2/installing-ssma-for-db2-client-db2tosql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, missed-content-complete, event-triaged-to-10AM, ssma/subsvc

#9466 from type isn't an optional part
  docs/t-sql/statements/create-type-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, missed-content-complete, event-triaged-to-10AM, t-sql/subsvc

#9495 2 typos, changing (x) to (X) for consistency
  docs/relational-databases/sql-server-transaction-locking-and-row-versioning-guide.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, performance/subsvc

#9390 Update sp-addlinkedserver-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-addlinkedserver-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#9488 Update sp-getapplock-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-getapplock-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, system-objects/subsvc

#9502 Update select-over-clause-transact-sql.md
  docs/t-sql/queries/select-over-clause-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#9500 Update download-sql-server-data-tools-ssdt.md
  docs/ssdt/download-sql-server-data-tools-ssdt.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, ssdt/subsvc

#9507 Update view-resource-governor-properties.md
  docs/relational-databases/resource-governor/view-resource-governor-properties.md
Labels: Change sent to author, do-not-merge, sql/svc, performance/subsvc

#9510 Fix permission typo
  docs/relational-databases/errors-events/includes/sql-server-2017-database-engine-events-and-errors-14000-14999.md
  docs/relational-databases/errors-events/includes/sql-server-2019-database-engine-events-and-errors-14000-14999.md
  docs/relational-databases/errors-events/includes/sql-server-2022-database-engine-events-and-errors-14000-14999.md
Labels: Change sent to author, do-not-merge

#9511 Revert "Fix permission typo"
  docs/relational-databases/errors-events/includes/sql-server-2017-database-engine-events-and-errors-14000-14999.md
  docs/relational-databases/errors-events/includes/sql-server-2019-database-engine-events-and-errors-14000-14999.md
  docs/relational-databases/errors-events/includes/sql-server-2022-database-engine-events-and-errors-14000-14999.md
Labels: Change sent to author, do-not-merge

#9524 Added that the IP resource needs to be offline and online to take effect the Probe port settings.
  azure-sql/virtual-machines/windows/availability-group-vnn-azure-load-balancer-configure.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, virtual-machines-sql/svc, hadr/subsvc

#9525 Update mssqlserver-833-database-engine-error.md
  docs/relational-databases/errors-events/mssqlserver-833-database-engine-error.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, supportability/subsvc
