Repository MicrosoftDocs/sql-docs, pull requests merged in 2023-12, with the labels that each got.

#9528 Update database-advisor-implement-performance-recommendations.md
  azure-sql/database/database-advisor-implement-performance-recommendations.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, performance/subsvc

#9536 Update standby-replica-how-to-configure.md
  azure-sql/database/standby-replica-how-to-configure.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, high-availability/subsvc

#9545 Typo "a Azure SQL"→"an Azure SQL"
  azure-sql/database/connect-query-java.md
Labels: Change sent to author, do-not-merge, sql-database/svc, development/subsvc

#8973 Update backup-symmetric-key applies to only SQL2022
  docs/t-sql/statements/backup-symmetric-key-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#9548 Update sqlclient-driver-support-lifecycle.md
  docs/connect/ado-net/sqlclient-driver-support-lifecycle.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#9549 Update Operating System for MSOLEDBSQL19
  docs/connect/oledb/applications/support-policies-for-oledb-driver-for-sql-server.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, connectivity/subsvc

#9551 Updated existing VMs grammar
  azure-sql/virtual-machines/windows/storage-configuration.md
Labels: Change sent to author, do-not-merge, virtual-machines-sql/svc, management/subsvc

#9547 Update alter-workload-group-transact-sql.md
  docs/t-sql/includes/alter-workload-group.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9559 Update management-operations-overview.md
  azure-sql/managed-instance/management-operations-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-managed-instance/svc, deployment-configuration/subsvc

#9560 Missed negation in the doc?
  docs/relational-databases/partitions/partitioned-tables-and-indexes.md
Labels: ready-to-merge, Change sent to author, sql/svc

#9563 Update free-offer.md
  azure-sql/managed-instance/free-offer.md
Labels: do-not-merge

#9564 Add Ubuntu 22.04 repository registration for mssql-tools18
  docs/linux/includes/odbc-ubuntu.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc

#9571 Update clustered-and-nonclustered-indexes-described.md
  docs/relational-databases/indexes/clustered-and-nonclustered-indexes-described.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, table-view-index/subsvc
