Repository MicrosoftDocs/sql-docs, pull requests merged in 2023-03, with the labels that each got.

#8654 Updated Traceflag 15025 to note support for SQL 2019 CU19
  docs/t-sql/database-console-commands/dbcc-traceon-trace-flags-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#8627 Update always-encrypted-enclaves-configure-attestation.md
  azure-sql/database/always-encrypted-enclaves-configure-attestation.md
Labels: ready-to-merge, Change sent to author, sql-database/svc, aq-pr-triaged, security/subsvc

#8673 STOPATMARK using transaction name instead of MARK
  docs/relational-databases/backup-restore/use-marked-transactions-to-recover-related-databases-consistently.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, backup-restore/subsvc

#8682 add one known issue to SSIS Build task v1
  docs/integration-services/devops/ssis-devops-overview.md
Labels: ready-to-merge, Change sent to author, sql/svc, integration-services/subsvc

#8686 Update backupset-transact-sql.md
  docs/relational-databases/system-tables/backupset-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#8679 Update register-a-service-principal-name-for-kerberos-connections.md
  docs/database-engine/configure-windows/register-a-service-principal-name-for-kerberos-connections.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, configuration/subsvc

#8697 Add missing space in "format nul"
  docs/relational-databases/import-export/create-a-format-file-sql-server.md
Labels: ready-to-merge, Change sent to author, sql/svc, data-movement/subsvc

#8701 Update download-azure-data-studio.md
  docs/azure-data-studio/download-azure-data-studio.md
Labels: ready-to-merge, Change sent to author, azure-data-studio/svc

#8608 [JSON Documentation] Improve grammar and readability in the JSON storage format paragraph
  docs/relational-databases/json/store-json-documents-in-sql-tables.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc

#8709 Update from-transact-sql.md
  docs/t-sql/queries/from-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#8602 Incorrect moniker. Fixed.
  docs/relational-databases/tables/graph-edge-constraints.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, table-view-index/subsvc

#8173 Trusted Domain Object config for sovereign clouds
  azure-sql/managed-instance/winauth-azuread-setup-incoming-trust-based-flow.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-managed-instance/svc, deployment-configuration/subsvc

#8456 Fixed inncorrect date in description
  docs/t-sql/functions/format-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#8516 Update ssms-tricks.md
  docs/ssms/tutorials/ssms-tricks.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, ssms/subsvc

#8343 Update create-identical-symmetric-keys-on-two-servers.md
  docs/relational-databases/security/encryption/create-identical-symmetric-keys-on-two-servers.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, security/subsvc

#8513 Remove stray word.
  docs/relational-databases/system-stored-procedures/sp-addextendedproperty-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, system-objects/subsvc

#8528 Update working-with-ssma-projects-oracletosql.md
  docs/ssma/oracle/working-with-ssma-projects-oracletosql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, ssma/subsvc

#8600 add 2017 release to changelog
  docs/reporting-services/release-notes-reporting-services.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, reporting-services/svc, reporting-services/subsvc

#8724 Update availability-group-manually-configure-tutorial-single-subnet.md
  azure-sql/virtual-machines/windows/availability-group-manually-configure-tutorial-single-subnet.md
Labels: ready-to-merge, Change sent to author, virtual-machines-sql/svc, hadr/subsvc

#8721 Update availability-group-load-balancer-portal-configure.md
  azure-sql/virtual-machines/windows/availability-group-load-balancer-portal-configure.md
Labels: Change sent to author, do-not-merge, virtual-machines-sql/svc, hadr/subsvc

#8630 Update in-memory-sample.md
  azure-sql/in-memory-sample.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, performance/subsvc

#8539 Update assign-alerts-to-an-operator.md
  docs/ssms/agent/assign-alerts-to-an-operator.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, ssms/subsvc

#8738 Update query-profiling-infrastructure.md
  docs/relational-databases/performance/query-profiling-infrastructure.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, performance/subsvc

#8576 Update order-mdx.md
  docs/mdx/order-mdx.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, analysis-services/subsvc

#8739 Update aka.ms link for deployment
  azure-sql/database/saas-multitenantdb-get-started-deploy.md
Labels: ready-to-merge, Change sent to author, sql-database/svc, aq-pr-triaged, scenario/subsvc

#8578 Update sys-dm-db-log-info-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-log-info-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, system-objects/subsvc

#8554 MDS Excel Add-in for SQL Server 2022 Link
  docs/master-data-services/microsoft-excel-add-in/master-data-services-add-in-for-microsoft-excel.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, master-data-services/subsvc

#8750 use SINGLE_BLOB to import XML, rather than CLOB
  docs/relational-databases/xml/load-xml-data.md
Labels: Change sent to author, do-not-merge, sql/svc, xml/subsvc

#8755 Update database-files-and-filegroups.md
  docs/relational-databases/databases/database-files-and-filegroups.md
Labels: ready-to-merge, Change sent to author, sql/svc, configuration/subsvc

#8620 Update auto-failover-group-configure-sql-db.md
  azure-sql/database/auto-failover-group-configure-sql-db.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, high-availability/subsvc

#8771 Update create-partition-scheme-transact-sql.md
  docs/t-sql/statements/create-partition-scheme-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#8397 Adapt growth value to context and give clarity on growth unit
  docs/relational-databases/databases/tempdb-database.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc

#8784 Update back-up-and-restore-of-sql-server-databases.md
  docs/relational-databases/backup-restore/back-up-and-restore-of-sql-server-databases.md
Labels: Change sent to author, do-not-merge, sql/svc, backup-restore/subsvc

#8783 Fixing broken anchor link to Insiders downloads
  docs/azure-data-studio/download-azure-data-studio.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-data-studio/svc

#8777 Added note on VCPP redist for 32bit driver
  docs/connect/oledb/download-oledb-driver-for-sql-server.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc
