Repository MicrosoftDocs/sql-docs, pull requests merged in 2023-02, with the labels that each got.

#8497 Fix wrong F1 keywords
  docs/relational-databases/system-dynamic-management-views/sys-dm-user-db-resource-governor-azure-sql-database.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#8546 Update F1 keyword
  docs/t-sql/data-types/rowversion-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#8556 Added version support info
  azure-sql/managed-instance/restore-database-to-sql-server.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, data-movement/subsvc, sql-managed-instance/svc

#8572 Typo Error in columnstore_delete_buffer_state_desc
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-index-physical-stats-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#8577 Update sys-dm-db-log-stats-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-log-stats-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#8591 Added missing required permissions
  docs/relational-databases/tables/use-table-valued-parameters-database-engine.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, table-view-index/subsvc

#8504 Update dh2i-high-availability-tutorial.md
  azure-sql/virtual-machines/linux/dh2i-high-availability-tutorial.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, virtual-machines-sql/svc, hadr/subsvc

#8522 Updated the list of supported regions for ZR preview for BC tier
  azure-sql/database/high-availability-sla.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-db-mi/svc, high-availability/subsvc

#8549 Update create-availability-group-transact-sql.md
  docs/t-sql/statements/create-availability-group-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#8535 added space to fix sample sql
  docs/relational-databases/system-functions/semanticsimilaritytable-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#8601 Update hyperscale-architecture.md
  azure-sql/database/hyperscale-architecture.md
Labels: ready-to-merge, Change sent to author, sql-database/svc, aq-pr-triaged, service-overview/subsvc

#8605 Update frequently-asked-questions-faq.yml
  azure-sql/virtual-machines/windows/frequently-asked-questions-faq.yml
Labels: ready-to-merge, Change sent to author, aq-pr-triaged

#8455 Replaced Depreciated apt-key
  docs/linux/quickstart-install-connect-ubuntu.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, linux/subsvc

#8611 Typo "SQL server"→"SQL Server"
  docs/ssdt/release-notes-integration-services-2022.md
Labels: Change sent to author, do-not-merge, sql/svc, ssdt/subsvc

#8621 Update set-a-database-to-single-user-mode.md
  docs/relational-databases/databases/set-a-database-to-single-user-mode.md
Labels: Change sent to author, do-not-merge, sql/svc

#8623 fix typo in first line of mssql-jdbc support matrix
  docs/connect/jdbc/microsoft-jdbc-driver-for-sql-server-support-matrix.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#8624 Fix broken link to mssql-tools in install steps
  docs/linux/sql-server-linux-setup-tools.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, linux/subsvc

#8619 Update sql-server-and-client-encryption-summary.md
  docs/database-engine/configure-windows/sql-server-and-client-encryption-summary.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, configuration/subsvc

#8633 Fix typo
  docs/connect/oledb/ole-db-how-to/use-table-valued-parameters-ole-db.md
Labels: Change sent to author, do-not-merge, sql/svc, connectivity/subsvc

#8645 Eliminate duplicate | wording - Update cardinality-estimation-sql-server.md
  docs/relational-databases/performance/cardinality-estimation-sql-server.md
Labels: ready-to-merge, Change sent to author, sql/svc, performance/subsvc

#8647 Update elastic-query-overview.md
  azure-sql/database/elastic-query-overview.md
Labels: Change sent to author, do-not-merge, sql-database/svc, scale-out/subsvc

#8646 Updating CAB table to reflect 2017 CU29 work through CU31
  docs/machine-learning/install/sql-ml-cab-downloads.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, machine-learning-services/subsvc

#8655 organization update - removed extra space in title.
  docs/reporting-services/report-builder/finding-viewing-and-managing-reports-report-builder-and-ssrs.md
Labels: Change sent to author, do-not-merge, reporting-services/svc, report-builder/subsvc
