Repository MicrosoftDocs/sql-docs, pull requests merged in 2023-06, with the labels that each got.

#9008 Update Step 2. Install prerequisites (Ubuntu) of installation-tutoria;-linux-mac.md
  docs/connect/php/installation-tutorial-linux-mac.md
Labels: ready-to-merge, Change sent to author, sql/svc, connectivity/subsvc

#9011 Formatted SQL and added PK
  docs/linux/includes/quickstart-connect-query.md
Labels: ready-to-merge, Change sent to author, sql/svc, linux/subsvc

#9012 Update string-escape-transact-sql.md
  docs/t-sql/functions/string-escape-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#9028 Fix minor formatting error in substring-transact-sql.md
  docs/t-sql/functions/substring-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9020 Update oracle-connector.md
  docs/integration-services/data-flow/oracle-connector.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, integration-services/subsvc

#9003 Update to current tab name
  azure-sql/managed-instance/public-endpoint-configure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, security/subsvc, sql-managed-instance/svc

#8945 docs: Update vsce to @vscode/vsce extension
  docs/azure-data-studio/extensions/extension-authoring.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-data-studio/svc

#8943 Update columnstore-indexes-design-guidance.md
  docs/relational-databases/indexes/columnstore-indexes-design-guidance.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, table-view-index/subsvc

#9038 Update editions-and-components-of-sql-server-2022.md
  docs/sql-server/editions-and-components-of-sql-server-2022.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, release-landing/subsvc

#9046 Update availability-group-lease-healthcheck-timeout.md
  docs/database-engine/availability-groups/windows/availability-group-lease-healthcheck-timeout.md
Labels: Change sent to author, do-not-merge, sql/svc, availability-groups/subsvc

#9043 Update configurationsetting-method-setdatabaseconnection.md
  docs/reporting-services/wmi-provider-library-reference/configurationsetting-method-setdatabaseconnection.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, reporting-services/svc, wmi-provider-library-reference/subsvc

#9058 Update firewall-configure.md
  azure-sql/database/firewall-configure.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, security/subsvc

#9039 Update threat-detection-configure.md
  azure-sql/database/threat-detection-configure.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, security/subsvc

#8942 Update sql-server-failover-cluster-installation.md
  docs/sql-server/failover-clusters/install/sql-server-failover-cluster-installation.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, failover-cluster-instance/subsvc

#9073 Update thread-and-task-architecture-guide.md
  docs/relational-databases/thread-and-task-architecture-guide.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, supportability/subsvc

#9070 QDS does not capture DDL by design
  docs/relational-databases/performance/monitoring-performance-by-using-the-query-store.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, performance/subsvc

#9069 Fix F1 help for SWITCHOFFSET
  docs/t-sql/functions/switchoffset-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9057 Update view-databases.md
  docs/sql-server/azure-arc/view-databases.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc

#9090 Update ole-db-api-support-for-date-and-time-enhancements.md
  docs/relational-databases/native-client-ole-db-date-time/ole-db-api-support-for-date-and-time-enhancements.md
Labels: Change sent to author, do-not-merge, sql/svc

#9099 Update high-availability-sla.md -- Duplicate text on line 77
  azure-sql/managed-instance/high-availability-sla.md
Labels: Change sent to author, do-not-merge, sql-managed-instance/svc, high-availability/subsvc

#9097 Update sql-server-backup-to-url.md
  docs/relational-databases/backup-restore/sql-server-backup-to-url.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, backup-restore/subsvc

#9102 Update jaasConfigurationName documentation
  docs/connect/jdbc/setting-the-connection-properties.md
  docs/connect/jdbc/using-kerberos-integrated-authentication-to-connect-to-sql-server.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#9108 Update sp-add-schedule-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-add-schedule-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/svc, system-objects/subsvc

#9052 Update ssis-catalog.md
  docs/integration-services/catalog/ssis-catalog.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, docs-editor-pilot, integration-services/subsvc

#8903 Supportability notes on Synapse Dedicated Pools
  docs/t-sql/statements/create-view-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#9104 Remove extraneous backslashes
  docs/t-sql/statements/restore-statements-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9114 Update database-export.md
  azure-sql/database/database-export.md
Labels: ready-to-merge, Change sent to author, sql-db-mi/svc, data-movement/subsvc

#9113 Update sql-agent-extension-troubleshoot-known-issues.md
  azure-sql/virtual-machines/windows/sql-agent-extension-troubleshoot-known-issues.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, virtual-machines-sql/svc, management/subsvc

#9118 Update update-transact-sql.md
  docs/t-sql/queries/update-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc
