Repository MicrosoftDocs/sql-docs, pull requests merged in 2023-10, with the labels that each got.

#9362 Update money-and-smallmoney-transact-sql.md
  docs/t-sql/data-types/money-and-smallmoney-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9368 Update specify-field-and-row-terminators-sql-server.md
  docs/relational-databases/import-export/specify-field-and-row-terminators-sql-server.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, data-movement/subsvc

#9367 Update format-files-for-importing-or-exporting-data-sql-server.md
  docs/relational-databases/import-export/format-files-for-importing-or-exporting-data-sql-server.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, data-movement/subsvc

#9366 Update humanresources-myteam-sample-table-sql-server.md
  docs/relational-databases/import-export/humanresources-myteam-sample-table-sql-server.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, data-movement/subsvc

#9364 Update char-and-varchar-transact-sql.md
  docs/t-sql/data-types/char-and-varchar-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9379 remove redundant word
  docs/t-sql/statements/create-database-scoped-credential-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#9380 fix: remove duplicate text
  docs/relational-databases/backup-restore/back-up-and-restore-of-sql-server-databases.md
Labels: ready-to-merge, Change sent to author, sql/svc, backup-restore/subsvc

#9365 Update hash-indexes-for-memory-optimized-tables.md
  docs/relational-databases/in-memory-oltp/hash-indexes-for-memory-optimized-tables.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, in-memory-oltp/subsvc

#9397 Update elastic-pool-overview.md
  azure-sql/database/elastic-pool-overview.md
Labels: Change sent to author, do-not-merge, sql-database/svc, elastic-pools/subsvc

#9386 Update scalar-udf-inlining.md
  docs/relational-databases/user-defined-functions/scalar-udf-inlining.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc

#9394 Update dbo-systargetservers-transact-sql.md
  docs/relational-databases/system-tables/dbo-systargetservers-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, system-objects/subsvc

#9402 Update accelerated-database-recovery-concepts.md
  docs/relational-databases/accelerated-database-recovery-concepts.md
Labels: Change sent to author, do-not-merge, sql/svc, backup-restore/subsvc

#9401 Update compute-capacity-limits-by-edition-of-sql-server.md
  docs/sql-server/compute-capacity-limits-by-edition-of-sql-server.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, release-landing/subsvc

#9398 Update service-tier-hyperscale-replicas.md
  azure-sql/database/service-tier-hyperscale-replicas.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, service-overview/subsvc

#9396 Update reserved-capacity-overview.md
  azure-sql/database/reserved-capacity-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-db-mi/svc, service-overview/subsvc

#9406 Replace CONCAT_WS with CONCAT in syntax example for CONCAT
  docs/t-sql/functions/concat-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9421 Remove preview note for online defaults
  docs/relational-databases/indexes/guidelines-for-online-index-operations.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, table-view-index/subsvc

#9422 Corrected `unshared` to `unshare`
  docs/tools/sqllocaldb-utility.md
Labels: Change sent to author, do-not-merge, sql/svc, tools-other/subsvc

#9415 Update auto-failover-group-sql-mi.md
  azure-sql/managed-instance/auto-failover-group-sql-mi.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-managed-instance/svc, high-availability/subsvc

#9433 fixed mistake
  docs/t-sql/queries/hints-transact-sql-table.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#9430 Update sql-machine-learning-services-windows-install.md
  docs/machine-learning/install/sql-machine-learning-services-windows-install.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, machine-learning-services/subsvc

#9424 Update create-login-transact-sql.md
  docs/t-sql/statements/create-login-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9441 Fix(sql-docs): Fixing the misaligned column and row in sql-docs
  azure-sql/includes/policy/standards/byrp/microsoft.sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-policy/svc

#9443 Avoid suggesting to run curl as superuser
  docs/linux/includes/odbc-redhat.md
  docs/linux/includes/odbc-sles.md
  docs/linux/includes/odbc-ubuntu.md
Labels: Change sent to author, do-not-merge, sql/svc

#9438 Update release-notes-sqlpackage.md
  docs/tools/sqlpackage/release-notes-sqlpackage.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc

#9453 Update backup-transact-sql.md
  docs/t-sql/statements/backup-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#9459 Fix typo on create external data source
  azure-sql/database/elastic-query-getting-started-vertical.md
Labels: Change sent to author, do-not-merge, sql-database/svc, scale-out/subsvc

#9461 Correcting syntax to remove a tempdb data file for MI
  azure-sql/managed-instance/tempdb-configure.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, service-overview/subsvc, sql-managed-instance/svc
