Repository MicrosoftDocs/sql-docs, pull requests merged in 2023-08, with the labels that each got.

#9197 Incorrect DMV name - should be sys.dm_os_latch_stats
  docs/relational-databases/diagnose-resolve-latch-contention.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, performance/subsvc

#9200 Update drop-index-transact-sql.md
  docs/t-sql/statements/drop-index-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/svc, t-sql/subsvc

#9204 Update resource-limits-dtu-single-databases.md
  azure-sql/database/resource-limits-dtu-single-databases.md
Labels: ready-to-merge, Change sent to author, sql-database/svc, service-overview/subsvc

#9210 Update overview-of-always-on-availability-groups-sql-server.md
  docs/database-engine/availability-groups/windows/overview-of-always-on-availability-groups-sql-server.md
Labels: ready-to-merge, Change sent to author, sql/svc, availability-groups/subsvc

#9207 Fix wrong GSSCredential usage for client initiating connection
  docs/connect/jdbc/using-kerberos-integrated-authentication-to-connect-to-sql-server.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#9223 Update Full Text Search - Contains Function
  docs/relational-databases/search/full-text-search.md
Labels: ready-to-merge, Change sent to author, sql/svc, search/subsvc

#9060 Update aad-security-configure-tutorial.md
  azure-sql/managed-instance/aad-security-configure-tutorial.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, security/subsvc, sql-managed-instance/svc

#9218 Update open-symmetric-key-transact-sql.md
  docs/t-sql/statements/open-symmetric-key-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#9226 Fix example command for ExtractTarget
  docs/tools/sqlpackage/sqlpackage-extract.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, tools-other/subsvc

#9238 Update dynamic-data-masking.md
  docs/relational-databases/security/dynamic-data-masking.md
Labels: Change sent to author, do-not-merge, sql/svc, security/subsvc

#9244 Clarify symmetric key remarks
  docs/t-sql/statements/create-symmetric-key-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/svc, t-sql/subsvc

#9242 Update backup-transact-sql.md
  docs/t-sql/statements/backup-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9248 Update merge-transact-sql.md
  docs/t-sql/statements/merge-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9230 Update licensing-model-azure-hybrid-benefit-ahb-change.md
  azure-sql/virtual-machines/windows/licensing-model-azure-hybrid-benefit-ahb-change.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, virtual-machines-sql/svc, management/subsvc

#9252 Update sample-database-for-in-memory-oltp.md
  docs/relational-databases/in-memory-oltp/sample-database-for-in-memory-oltp.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, in-memory-oltp/subsvc

#9257 Minor syntax correction: missing a space
  docs/relational-databases/backup-restore/create-a-transact-sql-snapshot-backup.md
Labels: Change sent to author, do-not-merge, sql/svc, backup-restore/subsvc

#9279 Update connect-query-vscode.md
  azure-sql/database/connect-query-vscode.md
Labels: ready-to-merge, Change sent to author, sql-database/svc, aq-pr-triaged, connect/subsvc

#9273 fix the requirements.txt example
  azure-sql/database/azure-sql-python-quickstart.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, security/subsvc
