Repository MicrosoftDocs/sql-docs, pull requests merged in 2023-07, with the labels that each got.

#8955 Update create-clustered-dtc-for-an-always-on-availability-group.md
  docs/database-engine/availability-groups/windows/create-clustered-dtc-for-an-always-on-availability-group.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, availability-groups/subsvc

#9127 Update remote-blob-store-rbs-sql-server.md
  docs/relational-databases/blob/remote-blob-store-rbs-sql-server.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, filestream/subsvc

#9128 Update xp-cmdshell-server-configuration-option.md
  docs/database-engine/configure-windows/xp-cmdshell-server-configuration-option.md
Labels: ready-to-merge, Change sent to author, sql/svc, configuration/subsvc

#9129 Update database-mail-common-errors.md
  docs/relational-databases/database-mail/database-mail-common-errors.md
Labels: ready-to-merge, Change sent to author, sql/svc

#8927 Update firewall-configure.md
  azure-sql/database/firewall-configure.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, security/subsvc

#9134 Update sys-dm-exec-distributed-requests-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-exec-distributed-requests-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#9137 Update replicate-track-change-data-capture-always-on-availability.md
  docs/database-engine/availability-groups/windows/replicate-track-change-data-capture-always-on-availability.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, availability-groups/subsvc

#9140 Severity has 0
  docs/relational-databases/system-catalog-views/messages-for-errors-catalog-views-sys-messages.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#9154 update allowed sub types
  azure-sql/managed-instance/resource-limits.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, service-overview/subsvc, sql-managed-instance/svc

#9162 Enable Autogrwoth updated to Enable Autogrowth(fixed typo)
  azure-sql/managed-instance/tempdb-configure.md
Labels: Change sent to author, do-not-merge, service-overview/subsvc, sql-managed-instance/svc

#9158 Fix wrong variable name in using-kerberos-integrated-authentication-t…
  docs/connect/jdbc/using-kerberos-integrated-authentication-to-connect-to-sql-server.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#8912 Correct RBAC permissions required
  azure-sql/database/database-copy.md
Labels: ready-to-merge, Change sent to author, sql-database/svc, aq-pr-triaged, data-movement/subsvc

#9168 Correct Alpine's ODBC v17 downloads signature filename
  docs/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server.md
Labels: Change sent to author, do-not-merge, sql/svc, connectivity/subsvc

#9164 Update upgrading-always-on-availability-group-replica-instances.md
  docs/database-engine/availability-groups/windows/upgrading-always-on-availability-group-replica-instances.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, availability-groups/subsvc

#9176 Update microsoft-php-drivers-for-sql-server-support-matrix.md
  docs/connect/php/microsoft-php-drivers-for-sql-server-support-matrix.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#9170 Update sys-query-store-plan-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-query-store-plan-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#9180 Correct spelling - vabinary to varbinary
  docs/relational-databases/system-catalog-views/sys-query-store-query-text-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#9182 Update configure-sql-server-encryption.md
  docs/database-engine/configure-windows/configure-sql-server-encryption.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, configuration/subsvc

#9146 Update merge-transact-sql.md
  docs/t-sql/statements/merge-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9190 Update create-external-file-format-transact-sql.md
  docs/t-sql/statements/create-external-file-format-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc
