Repository MicrosoftDocs/sql-docs, pull requests merged in 2023-09, with the labels that each got.

#9306 Update join-a-role.md
  docs/relational-databases/security/authentication-access/join-a-role.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, security/subsvc

#9309 Update set-implicit-transactions-transact-sql.md
  docs/t-sql/statements/set-implicit-transactions-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#9313 Update sp-grantlogin-transact-sql.md
  docs/relational-databases/system-stored-procedures/sp-grantlogin-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, system-objects/subsvc

#9319 Fix odbcconf-exe.md
  docs/odbc/odbcconf-exe.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#9326 Fix format table in azure-sql database features-comparison.md
  azure-sql/database/features-comparison.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-db-mi/svc, service-overview/subsvc

#9329 Fix typo in choose-an-encryption-algorithm.md
  docs/relational-databases/security/encryption/choose-an-encryption-algorithm.md
Labels: Change sent to author, do-not-merge, sql/svc, security/subsvc

#9333 Update select-window-transact-sql.md
  docs/t-sql/queries/select-window-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/svc, t-sql/subsvc

#9330 Update sql-connection-libraries.md
  docs/connect/sql-connection-libraries.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#9270 Add "CREATE LOGIN" to server permission list
  docs/t-sql/statements/grant-server-permissions-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9110 added @variable and CTE to MERGE target table
  docs/t-sql/statements/merge-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9348 Update create-table-transact-sql.md
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9359 Update sqlpackage-import.md
  docs/tools/sqlpackage/sqlpackage-import.md
Labels: ready-to-merge, Change sent to author, sql/svc, tools-other/subsvc

#9355 Update datediff-transact-sql.md
  docs/t-sql/functions/datediff-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9347 Update winauth-azuread-setup-incoming-trust-based-flow.md
  azure-sql/managed-instance/winauth-azuread-setup-incoming-trust-based-flow.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-managed-instance/svc, deployment-configuration/subsvc

#9353 Update serverproperty-transact-sql.md
  docs/t-sql/functions/serverproperty-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc
