Repository MicrosoftDocs/sql-docs, pull requests merged in 2024-06, with the labels that each got.

#9805 sklearn is deprecated and its now called scikit-learn
  docs/machine-learning/tutorials/python-ski-rental-linear-regression.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, machine-learning/subsvc

#9806 added the use for scikit-learn
  docs/machine-learning/tutorials/python-ski-rental-linear-regression-train-model.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, machine-learning/subsvc

#9804 Added and Removed code to remove blockers
  docs/machine-learning/tutorials/python-ski-rental-linear-regression-prepare-data.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, machine-learning/subsvc

#9809 Update alter-dacfx-used-by-ssdt.md
  docs/ssdt/alter-dacfx-used-by-ssdt.md
Labels: ready-to-merge, Change sent to author, sql/svc, ssdt/subsvc

#9797 Update contained-availability-groups-overview.md
  docs/database-engine/availability-groups/windows/contained-availability-groups-overview.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, high-availability/subsvc

#9800 Update sys-dm-db-index-physical-stats-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-db-index-physical-stats-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#9814 Update virtual-machines-best-practices-vm-size.md
  azure-sql/includes/virtual-machines-best-practices-vm-size.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, virtual-machines/svc

#9761 Update sql-server-linux-performance-best-practices.md
  docs/linux/sql-server-linux-performance-best-practices.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, linux/subsvc

#9816 Fix malformed HTML
  docs/connect/sql-connection-libraries.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, connectivity/subsvc

#9820 Update trace flag doc for trace flag 2453
  docs/t-sql/database-console-commands/dbcc-traceon-trace-flags-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9828 Correct spelling of "role"
  docs/ssms/scripting/run-the-transact-sql-debugger.md
Labels: Change sent to author, do-not-merge, sql/svc, ssms/subsvc

#9826 Update sysarticles-transact-sql.md
  docs/relational-databases/system-tables/sysarticles-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, replication/subsvc

#9825 Added SQL statement to enable 'DOP_FEEDBACK'
  docs/relational-databases/performance/intelligent-query-processing-degree-parallelism-feedback.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, configuration/subsvc
