Repository MicrosoftDocs/sql-docs, pull requests merged in 2024-01, with the labels that each got.

#9583 Update rank-transact-sql.md
  docs/t-sql/functions/rank-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#9597 Update sqlclient-driver-support-lifecycle.md
  docs/connect/ado-net/sqlclient-driver-support-lifecycle.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#9596 Update sys-query-store-plan-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-query-store-plan-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, system-objects/subsvc

#9598 Update sql-server-linux-docker-container-configure.md to improve <host directory> description.
  docs/linux/sql-server-linux-docker-container-configure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, linux/subsvc

#9600 Update save-trace-results-to-a-table-sql-server-profiler.md
  docs/tools/sql-server-profiler/save-trace-results-to-a-table-sql-server-profiler.md
Labels: Change sent to author, do-not-merge, sql/svc, profiler/subsvc

#9602 Typo "a Azure Synapse Analytics"→"an Azure Synapse Analytics"
  azure-sql/database/saas-multitenantdb-tenant-analytics.md
Labels: Change sent to author, do-not-merge, sql-database/svc, scenario/subsvc

#9605 Update saas-multitenantdb-tenant-analytics.md
  azure-sql/database/saas-multitenantdb-tenant-analytics.md
Labels: Change sent to author, do-not-merge, sql-database/svc, scenario/subsvc

#9612 Update set-ansi-defaults-transact-sql.md
  docs/t-sql/statements/set-ansi-defaults-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#9614 Update dns-alias-overview.md
  azure-sql/database/dns-alias-overview.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged, high-availability/subsvc

#9613 Update sql-machine-learning-services-windows-install-sql-2022.md
  docs/machine-learning/install/sql-machine-learning-services-windows-install-sql-2022.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, machine-learning-services/subsvc

#9618 Alter Log Replay Service docs to better follow principle of least privilege in RBAC section
  azure-sql/managed-instance/log-replay-service-migrate.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql-managed-instance/svc, migration/subsvc

#9628 Typo "SQL Server on a Azure VMs"→"SQL Server on Azure VMs"
  azure-sql/virtual-machines/windows/sql-server-iaas-agent-extension-automate-management.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, virtual-machines-sql/svc, management/subsvc

#9636 Update distributed-availability-groups.md
  docs/database-engine/availability-groups/windows/distributed-availability-groups.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, availability-groups/subsvc
