Repository MicrosoftDocs/sql-docs, pull requests merged in 2024-12, with the labels that each got.

#9953 Fix markdown formatting
  docs/database-engine/service-broker/performance.md
  docs/relational-databases/indexes/columnstore-indexes-design-guidance.md
Labels: Change sent to author, do-not-merge, sql/svc, table-view-index/subsvc

#9958 Update performance-guidance.md
  azure-sql/database/performance-guidance.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, performance/subsvc, azure-sql-database/svc

#9963 Update public-endpoint-configure.md
  azure-sql/managed-instance/public-endpoint-configure.md
Labels: ready-to-merge, Change sent to author, security/subsvc, azure-sql-managed-instance/svc

#9943 Update alter-database-scoped-configuration-transact-sql.md
  docs/t-sql/statements/alter-database-scoped-configuration-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9956 Note on Auditing
  docs/database-engine/availability-groups/windows/contained-availability-groups-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, high-availability/subsvc

#9952 Update create-table-transact-sql.md
  docs/t-sql/statements/create-table-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9970 Update dynamic-data-masking.md
  docs/relational-databases/security/dynamic-data-masking.md
Labels: Change sent to author, do-not-merge, sql/svc, security/subsvc

#9965 Update create-database-transact-sql.md: MAXSIZE warning
  docs/t-sql/statements/create-database-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9959 Update sys-dm-pdw-exec-requests-transact-sql.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-pdw-exec-requests-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, data-warehouse/subsvc

#9951 Update configure-sql-server-encryption.md
  docs/database-engine/configure-windows/configure-sql-server-encryption.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, configuration/subsvc

#9975 Update quickstart-install-connect-docker.md
  docs/linux/quickstart-install-connect-docker.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, linux/subsvc
