Repository MicrosoftDocs/sql-docs, pull requests merged in 2024-07, with the labels that each got.

#9834 Table Variables can be used in INSERT..EXEC statements
  docs/t-sql/data-types/table-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#9841 Fix formatting syntax
  docs/t-sql/statements/grant-schema-permissions-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#9844 Update tcp-ip-properties-ip-addresses-tab.md
  docs/tools/configuration-manager/tcp-ip-properties-ip-addresses-tab.md
Labels: Change sent to author, do-not-merge, sql/svc, tools-other/subsvc

#9840 Update create-database-scoped-credential-transact-sql.md
  docs/t-sql/statements/create-database-scoped-credential-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9839 Update sys-sql-logins-transact-sql.md This also applies to SQL MI
  docs/relational-databases/system-catalog-views/sys-sql-logins-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#9845 docs: Update sqlcmd-run-transact-sql-script-files.md
  docs/tools/sqlcmd/sqlcmd-run-transact-sql-script-files.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, ssms/subsvc

#9819 Update database-instant-file-initialization.md
  docs/relational-databases/databases/database-instant-file-initialization.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, configuration/subsvc

#9851 Reviewing SQL Users' Password Policies and Expiration Dates in Azure …
  docs/relational-databases/security/password-policy.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, security/subsvc
