Repository MicrosoftDocs/sql-docs, pull requests merged in 2024-09, with the labels that each got.

#9869 Changed Ubuntu 24.04 instructions for installing-the-microsoft-odbc-driver-for-sql-server.md
  docs/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#9872 Typo
  docs/tools/sql-database-projects/concepts/sqlcmd-variables.md
Labels: ready-to-merge, Change sent to author, sql/svc

#9873 Replace Java with .NET
  docs/language-extensions/how-to/call-c-sharp-from-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, language-extensions/subsvc

#9877 Update query-editor-natural-language-to-sql-copilot.md
  azure-sql/copilot/query-editor-natural-language-to-sql-copilot.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, azure-sql-database/svc, sql-ai-copilot/subsvc

#9879 Update set-identity-insert-transact-sql.md
  docs/t-sql/statements/set-identity-insert-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#9883 Update sqlclient-driver-support-lifecycle.md
  docs/connect/ado-net/sqlclient-driver-support-lifecycle.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#9884 update cmdlet from `Get-WmiObject` to `Get-CimInstance`
  docs/sql-server/compute-capacity-limits-by-edition-of-sql-server.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, release-landing/subsvc

#9882 fixed typo
  docs/t-sql/functions/parse-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc
