Repository MicrosoftDocs/sql-docs, pull requests merged in 2024-08, with the labels that each got.

#9856 Added missing command to SQL Server command line tools install on Linux
  docs/linux/includes/odbc-redhat.md
  docs/linux/includes/odbc-sles.md
  docs/linux/includes/odbc-ubuntu.md
Labels: ready-to-merge, Change sent to author, sql/svc

#9838 Update files-only-installation-reporting-services.md Added "Applies t…
  docs/reporting-services/install-windows/files-only-installation-reporting-services.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, reporting-services/svc, report-server/subsvc

#9860 Update develop-overview.md
  azure-sql/database/develop-overview.md
Labels: Change sent to author, do-not-merge, development/subsvc, azure-sql/svc

#9846 Update create-type-transact-sql.md
  docs/t-sql/statements/create-type-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9865 Update winauth-azuread-setup-incoming-trust-based-flow.md Remove-AzureADKerberosServerTrustedDomainObject is the correct name of the cmdlet
  azure-sql/managed-instance/winauth-azuread-setup-incoming-trust-based-flow.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, deployment-configuration/subsvc, azure-sql-managed-instance/svc
