Repository MicrosoftDocs/sql-docs, pull requests merged in 2024-03, with the labels that each got.

#9695 Update service-tier-hyperscale-frequently-asked-questions-faq.yml
  azure-sql/database/service-tier-hyperscale-frequently-asked-questions-faq.yml
Labels: ready-to-merge, Change sent to author, sql-database/svc, aq-pr-triaged, service-overview/subsvc

#9697 Update database-instant-file-initialization.md
  docs/relational-databases/databases/database-instant-file-initialization.md
Labels: ready-to-merge, Change sent to author, sql/svc, configuration/subsvc

#9701 Update auditing-analyze-audit-logs.md
  azure-sql/database/auditing-analyze-audit-logs.md
Labels: Change sent to author, do-not-merge, sql-database/svc, security/subsvc

#9708 Correcting comma placement
  docs/relational-databases/system-catalog-views/sys-query-store-plan-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, system-objects/subsvc

#9718 Document has been updated with grammar correction
  docs/relational-databases/resource-governor/resource-governor-resource-pool.md
Labels: ready-to-merge, Change sent to author, sql/svc, performance/subsvc

#9717 Missing space in Step F
  docs/tools/sqlcmd/sqlcmd-use-utility.md
Labels: Change sent to author, do-not-merge, sql/svc, ssms/subsvc

#9719 Fixed SQL script to improve legibility
  docs/relational-databases/security/authentication-access/database-level-roles.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, security/subsvc

#9735 Update temporal-table-considerations-and-limitations.md
  docs/relational-databases/tables/temporal-table-considerations-and-limitations.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, table-view-index/subsvc

#9730 Corrected Latin_1_General_BIN to Latin1_General_BIN
  docs/relational-databases/collations/collation-and-unicode-support.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc

#9737 Remove location box
  docs/ssms/register-servers/create-or-edit-a-server-group-sql-server-management-studio.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, ssms/subsvc

#9740 Update features-comparison.md
  azure-sql/database/features-comparison.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-db-mi/svc, service-overview/subsvc
