Repository MicrosoftDocs/sql-docs, pull requests merged in 2024-02, with the labels that each got.

#9648 Update sqlclient-driver-support-lifecycle.md
  docs/connect/ado-net/sqlclient-driver-support-lifecycle.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, connectivity/subsvc

#9656 Added note on path error
  docs/t-sql/statements/create-server-audit-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9664 Update json-path-expressions-sql-server.md
  docs/relational-databases/json/json-path-expressions-sql-server.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc

#9668 Update dbcc-traceon-trace-flags-transact-sql.md
  docs/t-sql/database-console-commands/dbcc-traceon-trace-flags-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#9670 OPENROWSET used instead of OPENJSON
  docs/t-sql/functions/openjson-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/svc, t-sql/subsvc

#9676 typo: optimzed -> optimized
  docs/relational-databases/in-memory-oltp/plan-your-adoption-of-in-memory-oltp-features-in-sql-server.md
Labels: ready-to-merge, Change sent to author, sql/svc, in-memory-oltp/subsvc

#9680 Update begin-transaction-transact-sql.md - Fix spelling error
  docs/t-sql/language-elements/begin-transaction-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#9673 Update dbcc-traceon-trace-flags-transact-sql.md
  docs/t-sql/database-console-commands/dbcc-traceon-trace-flags-transact-sql.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, t-sql/subsvc

#9684 Update sql-server-editions.md
  docs/includes/paragraph-content/sql-server-editions.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#9687 Update performance-guidelines-best-practices-storage.md
  azure-sql/virtual-machines/windows/performance-guidelines-best-practices-storage.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, virtual-machines-sql/svc, performance/subsvc

#9692 add-a-secondary-replica-to-an-availability-group-sql-server.md : Remo…
  docs/database-engine/availability-groups/windows/add-a-secondary-replica-to-an-availability-group-sql-server.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, availability-groups/subsvc
