Repository MicrosoftDocs/sql-docs, pull requests merged in 2025-07, with the labels that each got.

#10129 Update count-transact-sql.md
  docs/t-sql/functions/count-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc

#10131 Update from-transact-sql.md to re-add incorrectly-removed OUTER keyword
  docs/t-sql/queries/from-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#10132 Fix a typo in certencoded-transact-sql.md
  docs/t-sql/functions/certencoded-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#10134 Update sys-query-store-query-transact-sql.md
  docs/relational-databases/system-catalog-views/sys-query-store-query-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, system-objects/subsvc

#9874 Update use-the-system-health-session.md
  docs/relational-databases/extended-events/use-the-system-health-session.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, xevents/subsvc
