Repository MicrosoftDocs/sql-docs, pull requests merged in 2025-03, with the labels that each got.

#10034 Update element-path-syntax-for-xml-report-data-ssrs.md
  docs/reporting-services/report-data/element-path-syntax-for-xml-report-data-ssrs.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, reporting-services/svc, report-data/subsvc

#10035 Update auditing-overview.md
  azure-sql/database/auditing-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, security/subsvc, azure-sql-database/svc

#10036 Clarify overriding of hints and ignoring hints on failure
  docs/relational-databases/system-stored-procedures/sys-sp-query-store-set-hints-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, system-objects/subsvc

#10033 Update regexp-flags-expression.md
  docs/includes/regexp-flags-expression.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc

#10039 Update possible-media-errors-during-backup-and-restore-sql-server.md
  docs/relational-databases/backup-restore/possible-media-errors-during-backup-and-restore-sql-server.md
Labels: ready-to-merge, Change sent to author, sql/svc, backup-restore/subsvc

#10038 Update authentication-aad-directory-readers-role-tutorial.md.
  azure-sql/database/authentication-aad-directory-readers-role-tutorial.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, security/subsvc, azure-sql/svc

#10043 Update sql-database-paas-overview.md
  azure-sql/database/sql-database-paas-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, service-overview/subsvc, azure-sql-database/svc

#10041 Add `CREATE USER` on the master database and cosmetic care
  azure-sql/database/elastic-jobs-tsql-create-manage.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, elastic-jobs/subsvc, azure-sql-database/svc

#10047 Update project-properties.md
  docs/tools/sql-database-projects/concepts/project-properties.md
Labels: ready-to-merge, Change sent to author, sql/svc, sql-database-projects/subsvc

#10046 Update set-admin-password-for-logging-on-to-ad-nodes-in-directory-ser…
  docs/analytics-platform-system/set-admin-password-for-logging-on-to-ad-nodes-in-directory-services-restore-mode.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, data-warehouse/subsvc
