Repository MicrosoftDocs/sql-docs, pull requests merged in 2025-04, with the labels that each got.

#10052 Update server-properties-advanced-page-reporting-services.md
  docs/reporting-services/tools/server-properties-advanced-page-reporting-services.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, reporting-services/svc, tools/subsvc

#10044 Fix PowerShell Boolean casting issue in Execute method
  docs/integration-services/ssis-quickstart-run-powershell.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, integration-services/subsvc

#10062 Update import-flat-file-wizard.md
  docs/relational-databases/import-export/import-flat-file-wizard.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, data-movement/subsvc

#10070 Update create-function-transact-sql.md
  docs/t-sql/statements/create-function-transact-sql.md
Labels: Change sent to author, do-not-merge, sql/svc, t-sql/subsvc

#10073 Update sql-server-linux-backup-and-restore-database.md
  docs/linux/sql-server-linux-backup-and-restore-database.md
Labels: Change sent to author, do-not-merge, sql/svc, linux/subsvc

#10066 Correct typo - should be maxscans
  docs/relational-databases/track-changes/administer-and-monitor-change-data-capture-sql-server.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc

#10065 Added link to Replication Log Reader Agent documentation
  docs/relational-databases/track-changes/about-change-data-capture-sql-server.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, replication/subsvc

#10075 Update failover-cluster-instance-azure-shared-disks-manually-configur…
  azure-sql/virtual-machines/windows/failover-cluster-instance-azure-shared-disks-manually-configure.md
Labels: Change sent to author, do-not-merge, hadr/subsvc, azure-vm-sql-server/svc

#9930 AUDIT_GUID - Availability Group scenario
  docs/t-sql/statements/create-server-audit-transact-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, t-sql/subsvc
