Repository MicrosoftDocs/sql-docs, pull requests merged in 2025-02, with the labels that each got.

#10004 Update microsoft-jdbc-driver-for-sql-server-support-matrix.md
  docs/connect/jdbc/microsoft-jdbc-driver-for-sql-server-support-matrix.md
Labels: ready-to-merge, Change sent to author, sql/svc, connectivity/subsvc

#10005 Update microsoft-php-drivers-for-sql-server-support-matrix.md
  docs/connect/php/microsoft-php-drivers-for-sql-server-support-matrix.md
Labels: ready-to-merge, Change sent to author, sql/svc, connectivity/subsvc

#10007 Fix "the" typo
  docs/big-data-cluster/spark-create-machine-learning-model.md
  docs/dmx/structurecolumn-dmx.md
  docs/machine-learning/data-exploration/creating-multiple-models-using-rxexecby.md
  docs/relational-databases/system-catalog-views/sys-pdw-materialized-view-distribution-properties-transact-sql.md
Labels: ready-to-merge, Change sent to author, sql/svc, data-warehouse/subsvc

#9818 [Please squash] Update sys-dm-database-backups-azure-sql-database.md
  docs/relational-databases/system-dynamic-management-views/sys-dm-database-backups-azure-sql-database.md
Labels: Change sent to author, do-not-merge, sql-database/svc, aq-pr-triaged

#10008 Update trustworthy-database-property.md
  docs/relational-databases/security/trustworthy-database-property.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, security/subsvc

#10015 Update roadmap.md
  docs/ssms/ssms-21/roadmap.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, ssms/subsvc

#10017 Update sql-server-database-replica.md
  docs/relational-databases/performance-monitor/sql-server-database-replica.md
Labels: Change sent to author, do-not-merge, sql/svc, performance/subsvc

#10023 Update mssqlserver-18456-database-engine-error.md
  docs/relational-databases/errors-events/mssqlserver-18456-database-engine-error.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, supportability/subsvc

#10025 Make OpenShift deployment documentation easier to find
  docs/linux/quickstart-sql-server-containers-azure.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, linux/subsvc

#10027 Add missing close bracket to json-data-type.md
  docs/t-sql/data-types/json-data-type.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc
