Repository MicrosoftDocs/sql-docs, pull requests merged in 2025-06, with the labels that each got.

#10110 Update backup-restore-to-url-using-managed-identities.md
  azure-sql/virtual-machines/windows/backup-restore-to-url-using-managed-identities.md
Labels: Change sent to author, do-not-merge, security/subsvc, azure-vm-sql-server/svc

#10116 Update configure-distributed-availability-groups.md
  docs/database-engine/availability-groups/windows/configure-distributed-availability-groups.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, availability-groups/subsvc

#10120 Update monitoring-replication-with-system-monitor.md
  docs/relational-databases/replication/monitor/monitoring-replication-with-system-monitor.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/svc, replication/subsvc

#10122 .pem format is also supported for importing the existing key to the key vault
  azure-sql/database/transparent-data-encryption-byok-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, security/subsvc, azure-sql/svc

#10072 Update documentation to clarify which images include sqlpackage
  docs/tools/sqlpackage/sqlpackage-pipelines.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, sql/svc, tools-other/subsvc
